Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

Add expression and valuepath to recordset engine.
  rust/experimental/query_engine/engine-recordset/src/expression.rs
  rust/experimental/query_engine/engine-recordset/src/value_path.rs
Due: none

wip ok
  rust/otel-arrow-rust/src/lib.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
Due: otel-arrow-rust

Don't deprecate old module yet
  .github/codecov.yaml
  CHANGELOG.md
  go.mod
Due: none

Attach PR in changelog
  CHANGELOG.md
Due: none

Add 0.38.0 header
  CHANGELOG.md
Due: none

rename variables
  rust/otap-dataflow/crates/perf_exporter/src/perf_exporter.rs
Due: otap-dataflow

partial accumulate
  rust/otel-arrow-rust/src/pdata/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
Due: otel-arrow-rust

busted
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/message_adapter.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

fmt
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

progress
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
Due: otel-arrow-rust

&mut
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
Due: otel-arrow-rust

Mark terminal version of otel-arrow module and bump to 0.38.0
  CHANGELOG.md
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go.mod
  versions.yaml
Due: none

Update changelog
  CHANGELOG.md
Due: none

More changelog clarity
  CHANGELOG.md
Due: none

feat: support additional types for adaptive array builders (#562)
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/binary.rs
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
  rust/otel-arrow-rust/src/encode/record/array/primitive.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
Due: otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 8677712e3654c367deaaa2afbbaa152009b2cddb
  docs/benchmarks/pipeline-perf/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for a987e15f56b82353cd68905ca5f6e3ba5cbd540a
  docs/benchmarks/pipeline-perf/data.js
Due: none

[query-engine] Add expression and valuepath to recordset engine (#570)
  rust/experimental/query_engine/engine-recordset/src/expression.rs
  rust/experimental/query_engine/engine-recordset/src/value_path.rs
Due: none

snap
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/common.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
Due: otel-arrow-rust

Mark terminal version of otel-arrow module and bump to 0.38.0 (#572)
  CHANGELOG.md
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go.mod
  versions.yaml
Due: none

fixed64
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 0cc25b2631aadeb00a619221f16f8b135ff8d141
  docs/benchmarks/pipeline-perf/data.js
Due: none

added support for timestamp
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
  rust/otel-arrow-rust/src/encode/record/array/structs.rs
Due: otel-arrow-rust

add adaptive array builder for struct
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
  rust/otel-arrow-rust/src/encode/record/array/structs.rs
Due: otel-arrow-rust

add duration ns support
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/structs.rs
Due: otel-arrow-rust

cleanup
  rust/otel-arrow-rust/src/encode/record/array/structs.rs
Due: otel-arrow-rust

cleanup
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
Due: otel-arrow-rust

cleanup
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/structs.rs
Due: otel-arrow-rust

fixed test with extra code in it
  rust/otel-arrow-rust/src/encode/record/array/structs.rs
Due: otel-arrow-rust

Update changelog and workflows
  .github/codecov.yaml
  .github/workflows/go-ci.yml
  CHANGELOG.md
Due: none

fixed32
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/encoded_len_primitive_tests.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/model/src/lib.rs
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
Due: otel-arrow-rust

Add PR link and format Changelog
  CHANGELOG.md
Due: none

Refactor the pipeline factory
  rust/otap-dataflow/crates/engine-macros/src/lib.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/runtime_config.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
Due: otap-dataflow

Add execution context & pipeline expression to recordset engine
  rust/experimental/query_engine/engine-recordset/src/error.rs
  rust/experimental/query_engine/engine-recordset/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset/src/macros.rs
  rust/experimental/query_engine/engine-recordset/src/pipeline_expression.rs
  rust/experimental/query_engine/engine-recordset/src/summary.rs
Due: none

Create channels based on runtime node properties
  rust/otap-dataflow/crates/engine-macros/src/lib.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
Due: otap-dataflow

Fix Clippy issues
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/runtime_config.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otap-dataflow, otel-arrow-rust

test junk
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
Due: otel-arrow-rust
