Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

Support constants in KQL accessor expressions.
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

Rename package
  rust/otap-dataflow/crates/syslog_cef_receiver/Cargo.toml
Due: otap-dataflow

Add README
  rust/otap-dataflow/crates/syslog_cef_receiver/README.md
Due: otap-dataflow

Clippy fixes for new stable version 1.88.0 2025-06-23
  rust/experimental/query_abstraction/cli/src/main.rs
  rust/experimental/query_abstraction/intermediate_language/src/grammar_objects.rs
  rust/experimental/query_abstraction/intermediate_language/src/query_processor.rs
  rust/experimental/query_abstraction/kql_plugin/src/kql_plugin.rs
  rust/experimental/query_abstraction/ottl_plugin/src/ottl_plugin.rs
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/crates/config/src/experimental.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/encoder/error.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/partition.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/test/datagen.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
  rust/otap-dataflow/xtask/src/main.rs
  rust/otap-dataflow/xtask/src/structure_check.rs
  rust/otel-arrow-rust/build.rs
  rust/otel-arrow-rust/src/encode/record/array/binary.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/primitive.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/transform.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/otlp/metrics/exemplar.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
  rust/otel-arrow-rust/src/validation/collector.rs
  rust/otel-arrow-rust/src/validation/scenarios.rs
  rust/otel-arrow-rust/src/validation/service_type.rs
Due: otap-dataflow, otel-arrow-rust, query_abstraction

query_engine and fmt
  rust/experimental/query_engine/engine-recordset/src/data_engine.rs
  rust/experimental/query_engine/engine-recordset/src/data_expressions/summarize_by_data_expression.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/any_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/array_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/bool_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/date_time_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/double_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/long_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/map_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/string_value.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions/resolve_from_attached_value_expression.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions/resolve_value_expression.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions/static_value_expression.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions/variable_value_expression.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_abstractions.rs
  rust/experimental/query_engine/parser-abstractions/src/test_helpers.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
Due: otap-dataflow

Finish final clippy in query_engine
  rust/experimental/query_engine/engine-recordset/src/data/data_record_resolver_cache.rs
Due: none

added tests and marshaler for detailed verbosity
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/debug_output_basic.txt
  rust/otap-dataflow/crates/otlp/debug_output_detailed.txt
  rust/otap-dataflow/crates/otlp/debug_output_normal.txt
  rust/otap-dataflow/crates/otlp/src/debug_exporter/config.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/mod.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/verbosity.rs
Due: otap-dataflow

add implementation of pdata views for otel bytes
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/otap_encoder/main.rs
  rust/otap-dataflow/benchmarks/benches/pdata_views/main.rs
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/encoder/cbor.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/consts.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/resource.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/common.rs
  rust/otap-dataflow/crates/pdata-views/src/views/common.rs
Due: otap-dataflow

handle invalid wire types
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/consts.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/resource.rs
Due: otap-dataflow

align bench ids
  rust/otap-dataflow/benchmarks/benches/otap_encoder/main.rs
Due: otap-dataflow

updated benchmark
  rust/otap-dataflow/benchmarks/benches/otap_encoder/main.rs
Due: otap-dataflow

Code review.
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
Due: none

Lint
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

[query-engine] Support constants in KQL accessor expressions (#656)
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

Convert top-level let statements into constants in KQL parser.
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
Due: none

Update rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/encoder.rs
Due: otap-dataflow

re-run formatter
  tools/pipeline_perf_test/orchestrator/lib/cli/main.py
  tools/pipeline_perf_test/orchestrator/lib/cli/parser.py
  tools/pipeline_perf_test/orchestrator/lib/cli/plugin_api.py
  tools/pipeline_perf_test/orchestrator/lib/cli/telemetry.py
  tools/pipeline_perf_test/orchestrator/lib/cli/util.py
  tools/pipeline_perf_test/orchestrator/lib/core/telemetry/framework_event.py
  tools/pipeline_perf_test/orchestrator/lib/impl/actions/component_action.py
  tools/pipeline_perf_test/orchestrator/lib/impl/actions/multi_component_action.py
  tools/pipeline_perf_test/orchestrator/lib/impl/actions/update_component_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/impl/actions/wait_action.py
  tools/pipeline_perf_test/orchestrator/lib/impl/component/managed_component.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/common/docker.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/common/report.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/deployment/docker.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/execution/pipeline_perf_loadgen.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/build_docker_image.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/logs.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/network.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/tidy_existing_container.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/wait_for_status.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/raise_exception.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/record_event.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/comparison_report.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/pipeline_perf_report.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/process_report.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/report_test_summary.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/standard_reporting_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/run_command.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/monitoring/composite_monitoring_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/monitoring/docker_component.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/monitoring/prometheus.py
Due: none

Refactor the code used to determine the value type of scalar expressions.
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/static_scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

Add missing getter on PipelineExpression.
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
Due: none

[query-engine] Convert top-level let statements into constants in KQL parser (#660)
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
Due: none

[query-engine] Add missing getter on PipelineExpression (#662)
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
Due: none

Add tests.
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
Due: none

Lint.
  rust/experimental/query_engine/expressions/src/static_scalar_expressions.rs
Due: none

Additional test.
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
Due: none

[query-engine] Refactor the code used to determine the value type of scalar expressions (#661)
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/static_scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

add plugin doc generator, and initial round of docs
  tools/pipeline_perf_test/orchestrator/docs/configuration.md
  tools/pipeline_perf_test/orchestrator/docs/plugin_development.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/README.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/configuration_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/deployment_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/execution_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/hook_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/monitoring_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/report_formatters.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/report_writers.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/step_actions.md
  tools/pipeline_perf_test/orchestrator/docs/reports.md
  tools/pipeline_perf_test/orchestrator/docs/reports/comparison_report.md
  tools/pipeline_perf_test/orchestrator/docs/reports/pipeline_perf_report.md
  tools/pipeline_perf_test/orchestrator/docs/reports/process_report.md
  tools/pipeline_perf_test/orchestrator/docs/reports/test_report.md
  tools/pipeline_perf_test/orchestrator/scripts/generate_plugin_docs.py
  tools/pipeline_perf_test/orchestrator/scripts/templates/index.md.j2
  tools/pipeline_perf_test/orchestrator/scripts/templates/registry.md.j2
  tools/pipeline_perf_test/orchestrator/scripts/templates/report.md.j2
Due: none

fix sanity
  tools/pipeline_perf_test/orchestrator/docs/reports.md
Due: none

add the detailed marshaler
  rust/otap-dataflow/crates/otlp/debug_output_basic.txt
  rust/otap-dataflow/crates/otlp/debug_output_detailed.txt
  rust/otap-dataflow/crates/otlp/debug_output_normal.txt
  rust/otap-dataflow/crates/otlp/src/debug_exporter/README.md
  rust/otap-dataflow/crates/otlp/src/debug_exporter/config.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/detailed_otlp_marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/mod.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/normal_otlp_marshaler.rs
Due: otap-dataflow

made some optimizatinos
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/otap_encoder/main.rs
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/logs.rs
Due: otap-dataflow

finished removing all vec allocations for offsets
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/resource.rs
Due: otap-dataflow

made another optimization removing refcel
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/resource.rs
Due: otap-dataflow

Fixed drop in bench, now around 285us on my laptop
  rust/otap-dataflow/benchmarks/benches/otap_encoder/main.rs
Due: otap-dataflow

avoid doubly decoding lengths
  rust/otap-dataflow/benchmarks/benches/otap_encoder/main.rs
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/resource.rs
Due: otap-dataflow

cleanup
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/resource.rs
Due: otap-dataflow

improved variant function
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/otap_encoder/main.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
Due: otap-dataflow

Run genotelarrowcol
  .github/renovate.json5
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
Due: none

[Editorial] Standardize README content to include repository maintainers and approvers (#654)
  CONTRIBUTING.md
  README.md
Due: none
