Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

Add github workflow for automatic Tidy on Renovate PRs
  .github/renovate.json5
  .github/workflows/tidy.yml
Due: none

batch processor refactoring
  rust/otap-dataflow/crates/otap/src/batch_processor.rs
Due: otap-dataflow

Correct labeler behavior to match desired label
  .github/labeler.yml
Due: none

lint
  .github/workflows/tidy.yml
Due: none

Correct labeler behavior to match desired label (#1455)
  .github/labeler.yml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 0265300945b11fa894ae0c6fcaba9a2a985ca9fa
  docs/benchmarks/continuous/data.js
Due: none

Add github workflow for automatic Tidy on Renovate PRs (#1457)
  .github/renovate.json5
  .github/workflows/tidy.yml
Due: none

Restore comment
  rust/.gitignore
Due: none

Consolidate common Rust gitignore directives
  rust/.gitignore
  rust/beaubourg/.gitignore
  rust/experimental/query_abstraction/.gitignore
  rust/experimental/query_engine/.gitignore
  rust/otap-dataflow/.gitignore
  rust/parquet-query-examples/.gitignore
Due: otap-dataflow, beaubourg, query_abstraction

add Benchmark (customSmallerIsBetter) benchmark result for 3217abafb455b7b8140d9e174272d6b5fc69f522
  docs/benchmarks/continuous/data.js
Due: none

more on metrics
  rust/otap-dataflow/crates/otap/src/batch_processor.rs
  rust/otap-dataflow/crates/pdata/src/otap/batching.rs
Due: otap-dataflow

update final report for filter processor
  tools/pipeline_perf_test/test_suites/integration/configs/integration_report_logs_filtered.yaml
  tools/pipeline_perf_test/test_suites/integration/nightly/filter-docker.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/test_steps/df-loadgen-steps-docker-filtered.yaml
Due: none

Consolidate common Rust gitignore directives (#1459)
  rust/.gitignore
  rust/beaubourg/.gitignore
  rust/experimental/query_abstraction/.gitignore
  rust/experimental/query_engine/.gitignore
  rust/otap-dataflow/.gitignore
  rust/parquet-query-examples/.gitignore
Due: otap-dataflow, beaubourg, query_abstraction

Add timeout on HTTP2 handshake
  rust/otap-dataflow/.gitignore
  rust/otap-dataflow/crates/otap/src/otap_grpc/receiver_settings.rs
  rust/otap-dataflow/crates/otap/src/otel_receiver.rs
  rust/otap-dataflow/crates/otap/src/otel_receiver/grpc.rs
  rust/otap-dataflow/crates/otap/src/otel_receiver/router.rs
Due: otap-dataflow

remove wait_for_result in the filter scenarios
  tools/pipeline_perf_test/test_suites/integration/nightly/filter-docker.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/filter/otap-filter-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/filter/otap-filter-otlp.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/filter/otlp-filter-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/filter/otlp-filter-otlp.yaml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 382c61d4b35eaf8c4753b046d57aa7bc70d3b0e6
  docs/benchmarks/continuous/data.js
Due: none

Use otelbot app token for Tidy push
  .github/workflows/tidy.yml
Due: none

Fix ack slot leak on pipeline send failure
  rust/otap-dataflow/crates/otap/src/otel_receiver/router.rs
  rust/otap-dataflow/crates/otap/src/otel_receiver/stream.rs
Due: otap-dataflow

Don't persist regular creds from checkout
  .github/workflows/tidy.yml
Due: none

Use otelbot app token for Tidy push (#1460)
  .github/workflows/tidy.yml
Due: none

Fix some small corner cases
  rust/otap-dataflow/crates/otap/src/otel_receiver.rs
  rust/otap-dataflow/crates/otap/src/otel_receiver/ack.rs
  rust/otap-dataflow/crates/otap/src/otel_receiver/encoder.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 07cf17a583364c4b356724a1fb18cde6c2c0b0d6
  docs/benchmarks/continuous/data.js
Due: none

3 down
  rust/otap-dataflow/crates/otap/src/batch_processor.rs
  rust/otap-dataflow/crates/pdata/src/otap/batching.rs
Due: otap-dataflow

Add security.md for otel_receiver
  rust/otap-dataflow/configs/fake-otlp.yaml
  rust/otap-dataflow/configs/otlp-otlp.yaml
  rust/otap-dataflow/configs/otlp-perf.yaml
Due: otap-dataflow

Add a security.md doc
  rust/otap-dataflow/crates/otap/src/otel_receiver/security.md
Due: otap-dataflow

Add architecture description
  rust/otap-dataflow/crates/otap/src/otel_receiver/architecture.md
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 07cf17a583364c4b356724a1fb18cde6c2c0b0d6
  docs/benchmarks/nightly/syslog/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 07cf17a583364c4b356724a1fb18cde6c2c0b0d6
  docs/benchmarks/nightly/backpressure/data.js
Due: none

demo config
  rust/otap-dataflow/configs/fake-batch-debug-noop.yaml
  rust/otap-dataflow/crates/otap/src/batch_processor.rs
Due: otap-dataflow

comment
  rust/otap-dataflow/configs/fake-batch-debug-noop.yaml
Due: otap-dataflow

test metrics
  rust/otap-dataflow/configs/fake-batch-debug-noop.yaml
  rust/otap-dataflow/crates/otap/src/batch_processor.rs
Due: otap-dataflow

Implements a zero-copy view over Arrow RecordBatch data for OTAP logs
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/otap_logs_view/main.rs
  rust/otap-dataflow/crates/otap/src/experimental/geneva_exporter/mod.rs
  rust/otap-dataflow/crates/pdata/src/views/mod.rs
  rust/otap-dataflow/crates/pdata/src/views/otap.rs
  rust/otap-dataflow/crates/pdata/src/views/otap/logs.rs
Due: otap-dataflow

build error
  rust/otap-dataflow/crates/pdata/src/views/otap/logs.rs
Due: otap-dataflow

format
  rust/otap-dataflow/crates/pdata/src/views/otap/logs.rs
Due: otap-dataflow

Snap back to reusing regular GITHUB_TOKEN for Tidy
  .github/workflows/tidy.yml
Due: none

Snap back to reusing regular GITHUB_TOKEN for Tidy (#1468)
  .github/workflows/tidy.yml
Due: none

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
