Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

[query-engine] Parse KQL let expression and query statements (#643)
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

use take for both ScopeMetrics and ScopeSpans
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

removed unneeded test
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

Revert unintended changes to proto files
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

fx comment alinment
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

Simplify kql logical expression rules.
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

[query-engine] Simplify KQL logical expression rules (#645)
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

Reorg the kql parser so that all the code isn't in a single file.
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

Lint
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

Fix linting, remove blank line
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

Code review.
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

Lint
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

Test coverage for parse_scalar_expression.
  rust/experimental/query_engine/kql-parser/src/date_utils.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

Test coverage for parse_tabular_expression.
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

[query-engine] Reorg the kql parser so that all the code isn't in a single file (#646)
  rust/experimental/query_engine/kql-parser/src/date_utils.rs
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

feat: OTAP Logs Encoding from proto Structs with Views (#625)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/otap_encoder/main.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/encoder/cbor.rs
  rust/otap-dataflow/crates/otap/src/encoder/error.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/pdata-views/Cargo.toml
  rust/otap-dataflow/crates/pdata-views/README.md
  rust/otap-dataflow/crates/pdata-views/src/lib.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/resource.rs
  rust/otap-dataflow/crates/pdata-views/src/views.rs
  rust/otap-dataflow/crates/pdata-views/src/views/common.rs
  rust/otap-dataflow/crates/pdata-views/src/views/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/views/resource.rs
  rust/otel-arrow-rust/src/encode.rs
  rust/otel-arrow-rust/src/encode/record.rs
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/binary.rs
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
  rust/otel-arrow-rust/src/encode/record/array/prefix.rs
  rust/otel-arrow-rust/src/encode/record/array/primitive.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
  rust/otel-arrow-rust/src/encode/record/array/structs.rs
  rust/otel-arrow-rust/src/encode/record/attributes.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
  rust/otel-arrow-rust/src/lib.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
Due: otap-dataflow, otel-arrow-rust

add renovate validation to repo-lint.yml
  .github/workflows/repo-lint.yaml
Due: none

Support constants on ParserState.
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

fix the format for action reference
  .github/workflows/repo-lint.yaml
Due: none

[query-engine] Support constants on ParserState (#648)
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

Add renovate validation to repo-lint.yml (#647)
  .github/workflows/repo-lint.yaml
Due: none

linting fix
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

Allow scalar expressions in accessor expressions when parsing KQL.
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/static_scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

Additional tests.
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

[query-engine] Allow scalar expressions in accessor expressions when parsing KQL (#649)
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/static_scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

Support static resolution of scalar expressions.
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/expressions/src/expression_error.rs
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

Lint.
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
Due: none

[query-engine] Support static resolution of scalar expressions (#651)
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/expressions/src/expression_error.rs
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

Implement constant folding of scalar expressions in KQL parser.
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_error.rs
Due: none

rename test step registry
  tools/pipeline_perf_test/orchestrator/lib/impl/actions/component_action.py
  tools/pipeline_perf_test/orchestrator/lib/impl/actions/multi_component_action.py
  tools/pipeline_perf_test/orchestrator/lib/impl/actions/update_component_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/impl/actions/wait_action.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/deployment/process.py
  tools/pipeline_perf_test/orchestrator/lib/runner/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/runner/registry.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/framework_element_config.py
  tools/pipeline_perf_test/orchestrator/lib/runner/wrappers.py
Due: none

Standardize README content to include Contributors section
  CONTRIBUTING.md
  README.md
Due: none

lint
  CONTRIBUTING.md
Due: none

Add comments in tests.
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

Code review.
  rust/experimental/query_engine/expressions/src/expression_error.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_error.rs
Due: none

Lint.
  rust/experimental/query_engine/expressions/src/expression_error.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

[query-engine] Implement constant folding of scalar expressions in KQL parser (#653)
  rust/experimental/query_engine/expressions/src/expression_error.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

Add SyslogCEFReceiver
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/Cargo.toml
  rust/otap-dataflow/crates/syslog_cef_receiver/src/lib.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
Due: otap-dataflow

Fix format
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
Due: otap-dataflow

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
