Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

omg why is this hard
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/lib.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/message_adapter.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/message_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
Due: otel-arrow-rust

build
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/lib.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/message_adapter.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
Due: otel-arrow-rust

build2
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/message_info.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

Perf - remaining core telemetry support (#554)
  tools/pipeline_perf_test/orchestrator/lib/core/component/component.py
  tools/pipeline_perf_test/orchestrator/lib/core/component/component_data.py
  tools/pipeline_perf_test/orchestrator/lib/core/errors/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/errors/error_handler.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/base.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/configuration_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/deployment_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/execution_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/hook_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/monitoring_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/reporting_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/telemetry/log.py
  tools/pipeline_perf_test/orchestrator/lib/core/telemetry/test_event.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_data.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_definition.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_element.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_step.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_suite.py
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for c74b7018920c39925339a4ea9dbfa9f2afc0a856
  docs/benchmarks/pipeline-perf/data.js
Due: none

Remove randomness in go tests to address flaky codecov
  go/pkg/benchmark/dataset/synthetic_dataset.go
  go/pkg/datagen/data_generator.go
  go/pkg/otel/arrow_record/producer_consumer_test.go
  go/pkg/otel/logs/validation_test.go
  go/pkg/otel/metrics/validation_test.go
  go/pkg/otel/traces/validation_test.go
  go/tools/logs_gen/main.go
  go/tools/metrics_gen/main.go
  go/tools/trace_gen/main.go
Due: none

save
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

one fix
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/message_adapter.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
Due: otel-arrow-rust

progress
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
Due: otel-arrow-rust

Test create pipeline runtime
  rust/otap-dataflow/crates/otlp/src/lib.rs
Due: otap-dataflow

Add support for the KQL datetime expression.
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/Cargo.toml
  rust/experimental/query_engine/kql-parser/src/date_utils.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
  rust/experimental/query_engine/kql-parser/src/lib.rs
Due: none

Format.
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/date_utils.rs
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
  rust/experimental/query_engine/kql-parser/src/lib.rs
Due: none

Cleanup.
  rust/experimental/query_engine/kql-parser/src/date_utils.rs
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

Make more generic factory maps
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
Due: otap-dataflow

Make a single get_factory_map generic function
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
Due: otap-dataflow

progress2
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/message_adapter.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
Due: otel-arrow-rust

Group the 3 factories into a single struct
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
Due: otap-dataflow

manual
  rust/otel-arrow-rust/src/pdata/mod.rs
Due: otel-arrow-rust

Format.
  rust/experimental/query_engine/kql-parser/src/date_utils.rs
Due: none

Simplify even much further the creation of factory registries.
  rust/otap-dataflow/crates/engine/Cargo.toml
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
Due: otap-dataflow

prompted
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/message_adapter.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
Due: otel-arrow-rust

Make create_runtime_pipeline generic
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
Due: otap-dataflow

updated tests and added pipeline latency reporting
  rust/otap-dataflow/crates/perf_exporter/Cargo.toml
  rust/otap-dataflow/crates/perf_exporter/src/config.rs
  rust/otap-dataflow/crates/perf_exporter/src/perf_exporter.rs
Due: otap-dataflow

compiles
  rust/otel-arrow-rust/src/pdata/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/message_adapter.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
  rust/otel-arrow-rust/src/pdata/otlp/prd.md
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
Due: otel-arrow-rust

Move from a rule macro to a proc macro to improve the usability
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/engine-macros/Cargo.toml
  rust/otap-dataflow/crates/engine-macros/src/lib.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/lib.rs
Due: otap-dataflow

working
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/builder.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/message_adapter.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
Due: otel-arrow-rust

Improve factory registry API
  rust/otap-dataflow/crates/engine-macros/src/lib.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
Due: otap-dataflow

Improve factory registry API
  rust/otap-dataflow/crates/config/src/node.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/engine-macros/src/lib.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/runtime_config.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
Due: otap-dataflow

Improve proc macro DX
  rust/otap-dataflow/crates/engine-macros/src/lib.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
Due: otap-dataflow

Improve runtime pipeline
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/runtime_config.rs
Due: otap-dataflow

removing dead code
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/lib.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/message_adapter.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
Due: otel-arrow-rust

[query-engine] KQL datetime (#556)
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/Cargo.toml
  rust/experimental/query_engine/kql-parser/src/date_utils.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
  rust/experimental/query_engine/kql-parser/src/lib.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for cb49db0d0eaa6a123e7a9864c60c8b89997ec6bf
  docs/benchmarks/pipeline-perf/data.js
Due: none

Swap deprecated function import
  rust/otel-arrow-rust/benches/otlp_bytes.rs
Due: otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 060f7bcc572831e4ab2f9783c392c79831c7e9ce
  docs/benchmarks/pipeline-perf/data.js
Due: none

Update otlp_bytes.rs
  rust/otel-arrow-rust/benches/otlp_bytes.rs
Due: otel-arrow-rust

bytes are not repeated
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
Due: otel-arrow-rust

tested
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/message_adapter.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
Due: otel-arrow-rust

simpler
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

fmt
  rust/otel-arrow-rust/src/pdata/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust
