Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

[query-engine] Add support for parsing KQL project-keep expressions (#613)
  rust/experimental/query_engine/expressions/src/expression.rs
  rust/experimental/query_engine/expressions/src/static_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

Potential fix for code scanning alert no. 1: Size computation for allocation may overflow (#609)
  pkg/benchmark/compression.go
Due: none

[query-engine] Rename Clear -> ClearKeys and add doc comments (#617)
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
  rust/experimental/query_engine/expressions/src/value_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

Merge main into feature branch, fix conflicts
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/README.md
  rust/otap-dataflow/crates/otap/src/perf_exporter/config.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/mod.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
Due: otap-dataflow

[query-engine] Optimize KQL project-keep parsing (#631)
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

Optimize workflow and go mod Renovate updates (#624)
  .github/renovate.json5
  .github/workflows/rust-ci.yml
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  go.mod
  go.sum
Due: none

PipelinePerfTest - try to use new runner (#626)
  .github/workflows/pipeline-perf-test.yml
Due: none

[query-engine] Optimize KQL project-away parsing (#629)
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

[query-engine] Update KQL project-keep and project-away to use ReduceMap (#628)
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

[query-engine] Introduce ReduceMap expression and update KQL project (#627)
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

[query-engine] Optimize KQL project parsing (#632)
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

Properly place Renovate ignorePaths config (#634)
  .github/renovate.json5
Due: none

Lint.
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

Update README.md
  rust/otap-dataflow/benchmarks/README.md
Due: otap-dataflow

Update README.md
  rust/otap-dataflow/crates/engine/README.md
Due: otap-dataflow

add docs, first round of tests to core
  tools/pipeline_perf_test/orchestrator/lib/core/component/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/context/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/context/framework_element_contexts.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/framework_element_hook_context.py
  tools/pipeline_perf_test/orchestrator/lib/core/errors/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/framework/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/framework/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/framework/element.py
  tools/pipeline_perf_test/orchestrator/lib/core/framework/report.py
  tools/pipeline_perf_test/orchestrator/lib/core/framework/scenario.py
  tools/pipeline_perf_test/orchestrator/lib/core/framework/step.py
  tools/pipeline_perf_test/orchestrator/lib/core/framework/suite.py
  tools/pipeline_perf_test/orchestrator/lib/core/helpers/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/helpers/metrics.py
  tools/pipeline_perf_test/orchestrator/lib/core/helpers/report.py
  tools/pipeline_perf_test/orchestrator/lib/core/runtime/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/telemetry/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/telemetry/framework_event.py
  tools/pipeline_perf_test/orchestrator/tests/component/test_component.py
  tools/pipeline_perf_test/orchestrator/tests/conftest.py
  tools/pipeline_perf_test/orchestrator/tests/contexts/test_base.py
  tools/pipeline_perf_test/orchestrator/tests/contexts/test_component_hook_context.py
  tools/pipeline_perf_test/orchestrator/tests/contexts/test_framework_element_contexts.py
  tools/pipeline_perf_test/orchestrator/tests/contexts/test_framework_element_hook_context.py
  tools/pipeline_perf_test/orchestrator/tests/errors/test_error_handler.py
  tools/pipeline_perf_test/orchestrator/tests/framework/test_element.py
  tools/pipeline_perf_test/orchestrator/tests/framework/test_scenario.py
  tools/pipeline_perf_test/orchestrator/tests/helpers/test_metrics.py
  tools/pipeline_perf_test/orchestrator/tests/helpers/test_report.py
  tools/pipeline_perf_test/orchestrator/tests/runtime/test_runtime.py
  tools/pipeline_perf_test/orchestrator/tests/telemetry/test_log.py
  tools/pipeline_perf_test/orchestrator/tests/telemetry/test_telemetry_runtime.py
Due: none

Code review.
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_error.rs
Due: none

[query-engine] Support parsing KQL conditional statements (#636)
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/static_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_error.rs
Due: none

fix sanitycheck
  tools/pipeline_perf_test/orchestrator/lib/core/helpers/metrics.py
Due: none

Parse KQL where expression onto discard expression.
  rust/experimental/query_engine/expressions/src/data_expressions.rs
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

Tweaks.
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

fix markdown, add missing files
  tools/pipeline_perf_test/orchestrator/lib/core/component/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/component/component.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/context/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/base.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/component_hook_context.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/test_contexts.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/test_element_hook_context.py
  tools/pipeline_perf_test/orchestrator/lib/core/errors/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/errors/error_handler.py
  tools/pipeline_perf_test/orchestrator/lib/core/framework/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/runtime/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/configuration_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/deployment_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/execution_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/monitoring_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/reporting_hook_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/telemetry/metric.py
  tools/pipeline_perf_test/orchestrator/lib/core/telemetry/test_event.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_definition.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_element.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_report.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_step.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_suite.py
Due: none

Tweak.
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

Code review.
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

fix markdownlint
  tools/pipeline_perf_test/orchestrator/lib/core/component/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/context/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/errors/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/framework/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/runtime/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/README.md
  tools/pipeline_perf_test/orchestrator/lib/core/telemetry/README.md
Due: none

[query-engine] Support parsing KQL where expressions (#641)
  rust/experimental/query_engine/expressions/src/data_expressions.rs
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

Parse KQL queries into pipeline expressions.
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

add OTLP batch processor split_into_batches benchmark test
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otap-dataflow, otel-arrow-rust

add main.rs benchmark file
  rust/otap-dataflow/benchmarks/benches/otlp/main.rs
Due: otap-dataflow

Tweaks and tests.
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

use stringbuffer to format and build the output log instead of format! with push_str
  rust/otap-dataflow/crates/otlp/src/debug_exporter/marshaler.rs
Due: otap-dataflow

Update tracing-proposal.md based on feedback
  rust/otap-dataflow/docs/tracing-proposal.md
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otap-dataflow, otel-arrow-rust

Include reference to the component universal telemetry RFC
  rust/otap-dataflow/docs/tracing-proposal.md
Due: otap-dataflow

Restore unwanted files to match main branch
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

Internal tracing proposal (#633)
  rust/otap-dataflow/README.md
  rust/otap-dataflow/docs/tracing-proposal.md
Due: otap-dataflow
