Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

use new pdata type in parquet exporter
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
Due: otap-dataflow

cleanup un-needed test type
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
Due: otap-dataflow

added exporter factory and config deserializing
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/config.rs
Due: otap-dataflow

Improve error messages in KQL parser when Pest can't parse a query.
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
Due: none

[query-engine] Add layout for bridge crate (#806)
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/README.md
  rust/experimental/query_engine/engine-recordset-otlp-bridge/Cargo.toml
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/lib.rs
Due: none

Support KQL case-insensitive equality.
  rust/experimental/query_engine/engine-recordset2/src/logical_expressions.rs
  rust/experimental/query_engine/engine-recordset2/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

Add protobuf reader and writer to bridge.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/lib.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/mod.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/protobuf_reader.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/protobuf_writer.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/serializer_error.rs
Due: none

Add parser
  rust/otap-dataflow/crates/syslog_cef_receiver/Cargo.toml
  rust/otap-dataflow/crates/syslog_cef_receiver/examples/views_example.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/lib.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/views/common.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/views/logs.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/views/mod.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/views/resource.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/views_README.md
Due: otap-dataflow

more progress on tests
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otel-arrow-rust/src/encode/record/metrics.rs
  rust/otel-arrow-rust/src/schema.rs
Due: otap-dataflow, otel-arrow-rust

added otlp exporter for otap pipelines
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/grpc/otlp.rs
  rust/otap-dataflow/crates/otap/src/grpc/otlp/client.rs
  rust/otap-dataflow/crates/otap/src/grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/mock.rs
Due: otap-dataflow

remove the un-needed TODO
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

another merge fix
  rust/otap-dataflow/crates/otap/src/encoder.rs
Due: otap-dataflow

Fix biased
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
Due: otap-dataflow

[query-engine] Improve error messages in KQL parser when Pest can't parse a query (#816)
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
Due: none

[query-engine] Support KQL case-insensitive equality (#817)
  rust/experimental/query_engine/engine-recordset2/src/logical_expressions.rs
  rust/experimental/query_engine/engine-recordset2/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

[otap-dataflow][syslog] Fix biased usage in tokio select (#820)
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
Due: otap-dataflow

[query-engine] Add coalesce scalar expression (#808)
  rust/experimental/query_engine/engine-recordset2/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none

[query-engine] Add protobuf reader and writer to bridge (#818)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/lib.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/mod.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/protobuf_reader.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/protobuf_writer.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/serializer_error.rs
Due: none

Add basic conversion scalar expressions.
  rust/experimental/query_engine/engine-recordset2/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none

Lint for conversion scalar expressions.
  rust/experimental/query_engine/engine-recordset2/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
Due: none

Add OTLP structs matching proto layout in bridge.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/lib.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/collector_logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/mod.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/resource.rs
Due: none

support optional dedicated tcp connection per-loadgen thread
  tools/pipeline_perf_test/load_generator/loadgen.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/execution/pipeline_perf_loadgen.py
Due: none

[query-engine] Basic conversion expressions (#829)
  rust/experimental/query_engine/engine-recordset2/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none

first iteration of tostring implementation for kql language
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
Due: otel-arrow-rust

Lint.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
Due: none

[query-engine] Add OTLP structs matching proto layout in bridge (#834)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/lib.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/collector_logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/mod.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/resource.rs
Due: none

add tests
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/attributes.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/config.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_data.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_signal.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/resolved_registry.yaml
  rust/otap-dataflow/crates/otlp/src/grpc.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otap-dataflow, otel-arrow-rust

better test coverage
  rust/otap-dataflow/crates/otap/src/encoder.rs
Due: otap-dataflow

misc compatability and doc fixes
  tools/pipeline_perf_test/backend/backend.py
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/README.md
Due: none

Add Length scalar expression.
  rust/experimental/query_engine/engine-recordset2/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none

remove popen shell on deployed components
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/deployment/process.py
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/test-suite-comparison.yaml
Due: none

Implement the recordset engine contract in bridge.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/attached_records.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/lib.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/logs.rs
Due: none

[query-engine] Add length scalar expression (#836)
  rust/experimental/query_engine/engine-recordset2/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none

remove explicit otelcol path in config
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/test-suite-comparison.yaml
Due: none

[query-engine] Implement the recordset engine contract in bridge (#837)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/attached_records.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/lib.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/logs.rs
Due: none

[Perf Test] support linux psutil handling, docker dependency (#807)
  tools/pipeline_perf_test/backend/backend.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/build_docker_image.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/network.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/tidy_existing_container.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/wait_for_status.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/monitoring/process_component.py
Due: none

Use new `OtapPata` type in `ParquetExporter` (#810)
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/config.rs
Due: otap-dataflow

feat: add otlp grpc exporter for otap pipelines (#819)
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/grpc/otlp.rs
  rust/otap-dataflow/crates/otap/src/grpc/otlp/client.rs
  rust/otap-dataflow/crates/otap/src/grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/mock.rs
Due: otap-dataflow

feat: add OTLP protobuf to OTAP conversion for metrics (#769)
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/metrics.rs
  rust/otap-dataflow/crates/pdata-views/src/views.rs
  rust/otap-dataflow/crates/pdata-views/src/views/metrics.rs
  rust/otel-arrow-rust/src/encode/record.rs
  rust/otel-arrow-rust/src/encode/record/metrics.rs
  rust/otel-arrow-rust/src/schema.rs
Due: otap-dataflow, otel-arrow-rust

fix lint, binary path, backend env
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/deployment/process.py
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/test-suite-comparison.yaml
Due: none

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
