Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

Optimize attributes and log record body encoding
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
  rust/otel-arrow-rust/src/encode/record/attributes.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
Due: otel-arrow-rust

[otel-arrow-rust] bench: split_into_batches benchmark test (#642)
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/otlp/main.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

Fix format
  rust/otel-arrow-rust/src/encode/record/attributes.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
Due: otel-arrow-rust

Improve text for clarity and consistency
  rust/otap-dataflow/docs/load-balancing.md
Due: otap-dataflow

Fix CI
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
Due: otel-arrow-rust

Fix markdown lints
  rust/otap-dataflow/docs/load-balancing.md
Due: otap-dataflow

Add link to this new doc in architecture.md
  rust/otap-dataflow/docs/architecture.md
Due: otap-dataflow

Fix markdown lint
  rust/otap-dataflow/docs/architecture.md
Due: otap-dataflow

Store variable and attached record names as StringScalarExpressions.
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

Lint.
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

Lint.
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

[perf] Optimize OTAP encoding of attributes for both Logs and Traces (#744)
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
  rust/otel-arrow-rust/src/encode/record/attributes.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
Due: otel-arrow-rust

cleanup code
  rust/otel-arrow-rust/src/encode/producer.rs
  rust/otel-arrow-rust/src/error.rs
  rust/otel-arrow-rust/src/otap/schema.rs
Due: otel-arrow-rust

[query-engine] Store variable and attached record names as StringScalarExpressions (#745)
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

[otap-dataflow] simple version of a fake signal receiver (#702)
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/README.md
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/config.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_data.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_signal.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/mod.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
Due: otap-dataflow

Add layout for new recordset engine and primitives.
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/engine-recordset2/Cargo.toml
  rust/experimental/query_engine/engine-recordset2/src/lib.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/mod.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/value_mut.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset2/src/transform/mod.rs
Due: none

add process based deployment option and unify component log collection
  tools/pipeline_perf_test/orchestrator/docs/plugins/README.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/deployment_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/hook_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/monitoring_strategies.md
  tools/pipeline_perf_test/orchestrator/lib/core/helpers/report.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/common/docker.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/deployment/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/deployment/docker.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/deployment/process.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/logs.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/process_report.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/monitoring/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/monitoring/process_component.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/common/test_common_report.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/deployment/test_docker.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/deployment/test_process.py
Due: none

formatting
  tools/pipeline_perf_test/orchestrator/lib/core/helpers/report.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/common/docker.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/deployment/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/deployment/process.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/process_report.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/monitoring/process_component.py
Due: none

regenerate docs
  tools/pipeline_perf_test/orchestrator/docs/plugins/README.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/deployment_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/monitoring_strategies.md
Due: none

add docstrings
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/deployment/process.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/monitoring/process_component.py
Due: none

[query-engine] Add layout for new recordset engine and primitives (#747)
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/engine-recordset2/Cargo.toml
  rust/experimental/query_engine/engine-recordset2/src/lib.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/mod.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/value_mut.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset2/src/transform/mod.rs
Due: none

Add entry point and context to recordset2 engine.
  rust/experimental/query_engine/engine-recordset2/src/engine.rs
  rust/experimental/query_engine/engine-recordset2/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset2/src/lib.rs
  rust/experimental/query_engine/engine-recordset2/src/log_message.rs
  rust/experimental/query_engine/engine-recordset2/src/logical_expressions.rs
  rust/experimental/query_engine/engine-recordset2/src/transform/mod.rs
  rust/experimental/query_engine/engine-recordset2/src/transform/transform_expressions.rs
Due: none

[query-engine] Add entry point and context to new recordset engine (#749)
  rust/experimental/query_engine/engine-recordset2/src/engine.rs
  rust/experimental/query_engine/engine-recordset2/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset2/src/lib.rs
  rust/experimental/query_engine/engine-recordset2/src/log_message.rs
  rust/experimental/query_engine/engine-recordset2/src/logical_expressions.rs
  rust/experimental/query_engine/engine-recordset2/src/transform/mod.rs
  rust/experimental/query_engine/engine-recordset2/src/transform/transform_expressions.rs
Due: none

feature: add retry_processor, tests and benchmarks handling PData telemetry data
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/grpc.rs
  rust/otap-dataflow/crates/traits/Cargo.toml
  rust/otap-dataflow/crates/traits/src/lib.rs
  rust/otap-dataflow/src/error.rs
  rust/otap-dataflow/src/lib.rs
  rust/otap-dataflow/src/retry_processor.rs
Due: otap-dataflow

linting fixes: cargo fmt,add README
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otlp/src/grpc.rs
  rust/otap-dataflow/crates/traits/README.md
  rust/otap-dataflow/crates/traits/src/lib.rs
  rust/otap-dataflow/src/lib.rs
  rust/otap-dataflow/src/retry_processor.rs
Due: otap-dataflow

lint: update line lengths to conform to linting rules
  rust/otap-dataflow/crates/traits/README.md
Due: otap-dataflow

refactor retry approach, handle batches correctly
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
  rust/otap-dataflow/crates/engine/Cargo.toml
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/retry_processor.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/src/error.rs
  rust/otap-dataflow/src/lib.rs
  rust/otap-dataflow/src/retry_processor.rs
Due: otap-dataflow

revert dual implementation of EffectHandlers, only use a single configurable EffectHandler with TypeAliases
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
Due: otap-dataflow

inline retry logic, remove unneeded clone, remove unneeded method
  rust/otap-dataflow/crates/engine/src/retry_processor.rs
Due: otap-dataflow

perf: move LocalSet creation outside benchmark iteration loops
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
Due: otap-dataflow

remove all hashmap references in strings, comments
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otlp/src/grpc.rs
Due: otap-dataflow

simplify and reduce iterations in benchmarks, remove all unneeded traits & tests
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/grpc.rs
  rust/otap-dataflow/crates/traits/Cargo.toml
  rust/otap-dataflow/crates/traits/README.md
  rust/otap-dataflow/crates/traits/src/lib.rs
Due: otap-dataflow

send nack instead of sending messages without retry protection
  rust/otap-dataflow/crates/engine/src/retry_processor.rs
Due: otap-dataflow

simplified and parameterized benchmark test
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
Due: otap-dataflow

refactor so we do not use any kind of retryable trait, add ability for exporter to send ControlMsg upstream to retry_processor
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/retry_processor.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
Due: otap-dataflow

[otel-arrow-rust] bench: split_into_batches benchmark test (#642)
  rust/otap-dataflow/benchmarks/Cargo.toml
Due: otap-dataflow

fix: remove duplicate otlp benchmark and invalid otap-dataflow dependency
  rust/otap-dataflow/benchmarks/Cargo.toml
Due: otap-dataflow

Add test helpers to recordset2 engine.
  rust/experimental/query_engine/engine-recordset2/src/lib.rs
  rust/experimental/query_engine/engine-recordset2/src/test_helpers.rs
Due: none

Lint.
  rust/experimental/query_engine/engine-recordset2/src/lib.rs
Due: none

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
