Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

Test coverage.
  rust/experimental/query_engine/expressions/src/primitives/value.rs
Due: none

Lint.
  rust/experimental/query_engine/expressions/src/primitives/value.rs
Due: none

[query-engine] Introduce Regex + remove constant folding in KQL parser (#684)
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/primitives/value_type.rs
  rust/experimental/query_engine/expressions/src/static_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

Support KQL identifier escape syntax.
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

Minor optimizations
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/resource.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/resource.rs
  rust/otap-dataflow/crates/pdata-views/src/views/common.rs
Due: otap-dataflow

Fix clippy warnings
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
Due: otap-dataflow

Tweaks.
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

Update README
  rust/otap-dataflow/crates/syslog_cef_receiver/README.md
Due: otap-dataflow

Introduce PipelineExpressionBuilder.
  rust/experimental/query_engine/expressions/src/expression.rs
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

Add support for OTTL string, int, and float literals
  rust/experimental/query_engine/ottl-parser/src/ottl.pest
  rust/experimental/query_engine/ottl-parser/src/ottl_parser.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_abstractions.rs
  rust/experimental/query_engine/parser-abstractions/src/test_helpers.rs
Due: none

Clippy and fmt
  rust/experimental/query_engine/ottl-parser/src/ottl_parser.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_abstractions.rs
  rust/experimental/query_engine/parser-abstractions/src/test_helpers.rs
Due: none

Fix clippy warnings
  rust/otap-dataflow/crates/otap/src/encoder.rs
Due: otap-dataflow

Fix formatting
  rust/otap-dataflow/crates/otap/src/encoder.rs
Due: otap-dataflow

Fmt again
  rust/experimental/query_engine/parser-abstractions/src/parser_abstractions.rs
Due: none

[query-engine] Support KQL identifier escape syntax (#686)
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

[otap-dataflow] Add SyslogCEFReceiver (#655)
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/Cargo.toml
  rust/otap-dataflow/crates/syslog_cef_receiver/README.md
  rust/otap-dataflow/crates/syslog_cef_receiver/src/lib.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
Due: otap-dataflow

[otap-dataflow] Micro optimizations for the view implementations (#689)
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/resource.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/resource.rs
  rust/otap-dataflow/crates/pdata-views/src/views/common.rs
Due: otap-dataflow

Perf - Backend tox support and misc fixes (#683)
  tools/pipeline_perf_test/backend/backend.py
  tools/pipeline_perf_test/backend/requirements.txt
  tools/pipeline_perf_test/backend/tox.ini
Due: none

Code review.
  rust/experimental/query_engine/expressions/src/expression.rs
  rust/experimental/query_engine/expressions/src/expression_error.rs
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_abstractions.rs
Due: none

Code review.
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/lib.rs
  rust/experimental/query_engine/parser-abstractions/src/parser.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

Merge fixes.
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

[query-engine] Introduce PipelineExpressionBuilder (#687)
  rust/experimental/query_engine/expressions/src/expression.rs
  rust/experimental/query_engine/expressions/src/expression_error.rs
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/lib.rs
  rust/experimental/query_engine/parser-abstractions/src/parser.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_abstractions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

feat: OTAP spans encoding from protobuf structs with views
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/encoder/error.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/trace.rs
  rust/otap-dataflow/crates/pdata-views/src/views.rs
  rust/otap-dataflow/crates/pdata-views/src/views/common.rs
  rust/otap-dataflow/crates/pdata-views/src/views/trace.rs
  rust/otel-arrow-rust/src/encode/record.rs
  rust/otel-arrow-rust/src/encode/record/spans.rs
Due: otap-dataflow, otel-arrow-rust

Support constants in expressions.
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/expressions/src/primitives/value_type.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_error.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

Refactor the ProcessorWrapper to enable testing
  rust/otap-dataflow/crates/engine/src/processor.rs
Due: otap-dataflow

All tests pass
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
Due: otap-dataflow

Fix Clippy issues and format code
  rust/otap-dataflow/PREFIX_EXAMPLE.md
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/crates/config/src/node.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/engine-macros/README.md
  rust/otap-dataflow/crates/engine-macros/src/lib.rs
  rust/otap-dataflow/crates/engine/src/config.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/message.rs
  rust/otap-dataflow/crates/engine/src/local/mod.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/node.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/runtime_config.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/message.rs
  rust/otap-dataflow/crates/engine/src/shared/mod.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/Cargo.toml
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
Due: otap-dataflow

Make ExporterFactory::create function faillible
  rust/otap-dataflow/crates/config/src/error.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
Due: otap-dataflow

Make fallible the ReceiverFactory and ProcessorFactory create functions
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
Due: otap-dataflow

Use column-wise processing
  rust/otap-dataflow/crates/otap/src/encoder.rs
Due: otap-dataflow

[query-engine] Support constants in expressions (#692)
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/expressions/src/primitives/value_type.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_error.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

PipelinePerfTest - run tests on PRs
  .github/workflows/pipeline-perf-test.yml
Due: none

remove explicit version, lets pick what is available
  .github/workflows/pipeline-perf-test.yml
Due: none

trigger on every push
  .github/workflows/pipeline-perf-test.yml
Due: none

install for user, not system wide to workaround permission issue
  .github/workflows/pipeline-perf-test.yml
Due: none

install 3.11
  .github/workflows/pipeline-perf-test.yml
Due: none

Update changelog for Release v0.39.0
  CHANGELOG.md
Due: none

Introduce map and array value types.
  rust/experimental/query_engine/expressions/src/expression.rs
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/primitives/map_value.rs
  rust/experimental/query_engine/expressions/src/primitives/mod.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/primitives/value_type.rs
  rust/experimental/query_engine/expressions/src/scalars/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/map_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
Due: none

[query-engine] Introduce map and array types in expressions (#699)
  rust/experimental/query_engine/expressions/src/expression.rs
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/primitives/map_value.rs
  rust/experimental/query_engine/expressions/src/primitives/mod.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/primitives/value_type.rs
  rust/experimental/query_engine/expressions/src/scalars/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/map_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
Due: none
