Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

[query-engine] Diagnostic improvements (#942)
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/text_scalar_expressions.rs
Due: none

add arithmetic operations query engine support and KQL implementation (#963)
  rust/experimental/query_engine/engine-recordset/src/scalars/math_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

[query-engine] List expression (#940)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
Due: none

[query_engine] Timespan, bin, & now support in KQL parser (#974)
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/expressions/src/primitives/date_utils.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_temporal_function_expressions.rs
Due: none

chore: Nit fixes to perf test suite (#962)
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/README.md
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/test-suite-comparison.yaml
Due: none

[otap-dataflow] implement configuration of OTAP exporter from config object (#934)
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

[otap-dataflow] move otap datagen test files to fixtures.rs and perf exporter test refactor (#932)
  rust/otap-dataflow/crates/otap/src/fixtures.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/writer.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/README.md
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

Improve support for indentation in tabular expressions (#912)
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

[query-engine] TimeSpan support in expressions and recordset engine (#970)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/convert_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/math_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/date_utils.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/primitives/value_type.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
Due: none

[otap-dataflow] add max batch setting to fake signal generator (#976)
  rust/otap-dataflow/configs/fake-otlp.yaml
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/config.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
Due: otap-dataflow

[otap-dataflow] Update the fake-signal-receiver to accept a message rate and update attribute key/value pairing to be random (#883)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/README.md
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/attributes.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/config.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_signal.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
Due: otap-dataflow

[query-engine] Improve validation in KQL string function parsing (#959)
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
Due: none

Establish engine::NodeId = {config::NodeId; NodeIndex(u16)} (#939)
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/node.rs
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/retry_processor.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/mod.rs
  rust/otap-dataflow/crates/engine/src/testing/node.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
Due: otap-dataflow

[query-engine] Global variable support (#982)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge_error.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/common/mod.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/otlp_kql_recordset.rs
  rust/experimental/query_engine/engine-recordset/src/engine.rs
  rust/experimental/query_engine/engine-recordset/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/summary/summary_data_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

[otap-dataflow] dockerfile and supporting for df_engine (#960)
  rust/otap-dataflow/.dockerignore
  rust/otap-dataflow/Dockerfile
  rust/otap-dataflow/README.md
  rust/otap-dataflow/cross-arch-build.sh
Due: otap-dataflow

[query-engine] Implement missing static resolution for logical expressions (#981)
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
Due: none

[query-engine] Adds parsing of KQL todatetime expression (#956)
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

minor: use "https" in the submodule's url (#944)
  .gitmodules
Due: none

[query-engine] Remove unused timestamp fields from Record trait (#945)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/logs.rs
  rust/experimental/query_engine/engine-recordset/src/engine.rs
  rust/experimental/query_engine/engine-recordset/src/test_helpers.rs
Due: none

Add benchmarks for Syslog CEF Receiver (#978)
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/syslog_cef_receiver/main.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/arrow_records_encoder.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/lib.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/cef.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/mod.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/parsed_message.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc3164.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc5424.rs
Due: otap-dataflow

Add transport optimized sorting & encoding to OTAP Pdata when converting to IPC Format (#972)
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otel-arrow-rust/src/encode/producer.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/transform.rs
  rust/otel-arrow-rust/src/otap/transform/transport_optimize.rs
  rust/otel-arrow-rust/src/schema.rs
  rust/otel-arrow-rust/src/schema/consts.rs
Due: otap-dataflow, otel-arrow-rust

[otap-dataflow] Fix broken test otap-df-{otlp,otap} test_fake_signal_receiver() (#985)
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/attributes.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
Due: otap-dataflow

[query-engine] Adds parsing of KQL substring expression onto Slice query expression (#955)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/otlp_kql_recordset.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
Due: none

[query-engine] Add support for KQL parse_json expression (#958)
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
Due: none

[query-engine] Add a summarize integration test using bin (#979)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/otlp_kql_recordset.rs
Due: none

replace `rename_attributes` function with `transform_attributes` w/ delete (#938)
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/benches/attribute_transform.rs
  rust/otel-arrow-rust/src/error.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

fix: golang OTAP decoding logs handles optional trace ID and span ID columns (#973)
  go/pkg/otel/logs/otlp/logs.go
  go/pkg/otel/logs/validation_test.go
Due: none

[query-engine] Remove ImmutableValueExpression (#1046)
  rust/experimental/query_engine/engine-recordset/src/engine.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
  rust/experimental/query_engine/expressions/src/value_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

[query-engine] Add matches logical expression and implementation (#997)
  rust/experimental/query_engine/engine-recordset/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
Due: none

fix handling of invalid trace and span IDs when encoding OTAP logs (#1052)
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/views/logs.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
Due: otap-dataflow, otel-arrow-rust

Add example of querying OTAP Parquet with Datafusion (#1048)
  rust/parquet-query-examples/.gitignore
  rust/parquet-query-examples/Cargo.toml
  rust/parquet-query-examples/README.md
  rust/parquet-query-examples/examples/query_logs.rs
Due: none

[query-engine] Concat & Join expressions (#1014)
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/collection_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/mod.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/text_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/scalars/collection_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/map_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/text_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_array_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

[otap-controller] Fix error message (#988)
  rust/otap-dataflow/crates/controller/src/lib.rs
Due: otap-dataflow

[otap-dataflow ] Add OTAP attributes_processor (#941)
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

[query-engine] Allow accessor expressions in KQL group by expressions (#1009)
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

Small parquet exporter fixes and add example config (#1044)
  rust/otap-dataflow/configs/fake-parquet.yaml
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/config.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
Due: otap-dataflow

[otap-df-engine] Fix timer drift (#1008)
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
Due: otap-dataflow

[PerfTest] - add new hooks for df_engine as a loadgen/backend (#1050)
  tools/pipeline_perf_test/orchestrator/docs/plugins/README.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/deployment_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/execution_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/hook_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/step_actions.md
  tools/pipeline_perf_test/orchestrator/docs/reports/sql_report.md
  tools/pipeline_perf_test/orchestrator/lib/impl/actions/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/impl/actions/no_op_action.py
  tools/pipeline_perf_test/orchestrator/lib/impl/actions/update_component_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/common/process.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/deployment/process.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/network.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/ready_check_http.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/render_template.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/send_http_request.py
  tools/pipeline_perf_test/orchestrator/tests/impl/actions/test_component_action.py
  tools/pipeline_perf_test/orchestrator/tests/impl/actions/test_multi_component_action.py
  tools/pipeline_perf_test/orchestrator/tests/impl/actions/test_noop_action.py
  tools/pipeline_perf_test/orchestrator/tests/impl/actions/test_update_component_strategy.py
  tools/pipeline_perf_test/orchestrator/tests/impl/actions/test_wait_action.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/hooks/test_ready_check_http.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/hooks/test_render_template.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/hooks/test_send_http_request.py
Due: none
