Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

Add parser
  rust/otap-dataflow/crates/syslog_cef_receiver/Cargo.toml
  rust/otap-dataflow/crates/syslog_cef_receiver/examples/views_example.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/arrow_records_encoder.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/lib.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/cef.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/mod.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/parsed_message.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc3164.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc5424.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/views/common.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/views/logs.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/views/mod.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/views/resource.rs
Due: otap-dataflow

Refactor for better DRY.
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
Due: none

Lint.
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
Due: none

[query-engine] Fix borrow errors in recordset engine (#853)
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
Due: none

Allow types with lifetimes in Value API.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/attached_records.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/otlp_reader.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/otlp_writer.rs
  rust/experimental/query_engine/engine-recordset/src/engine.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_mut.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/test_helpers.rs
  rust/experimental/query_engine/engine-recordset/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/primitives/map_value.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/map_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/resolved_static_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
Due: none

Tweaks.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/attached_records.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/logs.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
Due: none

Refactor ValueSource.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/test_helpers.rs
Due: none

Implement KQL case() function in kql-parser (#850)
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

Update rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none

Update rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql.pest
Due: none

add more tostring tests
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/parser-abstractions/src/test_helpers.rs
Due: none

clippy
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

get rid of PI
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

[query-engine] Static value refactor (#854)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/attached_records.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/otlp_reader.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/otlp_writer.rs
  rust/experimental/query_engine/engine-recordset/src/engine.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_mut.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/test_helpers.rs
  rust/experimental/query_engine/engine-recordset/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/primitives/map_value.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/map_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/resolved_static_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
Due: none

Allow range selection in arrays.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
Due: none

Lint.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
Due: none

Fix merge issues.
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
Due: none

Add test.
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
Due: none

[query-engine] Support selecting array items using range (#857)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
Due: none

Fix receiver
  rust/otap-dataflow/crates/syslog_cef_receiver/src/arrow_records_encoder.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/lib.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/cef.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/mod.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/parsed_message.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc3164.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc5424.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/views_README.md
Due: otap-dataflow

implement kql tostring function expression (#848)
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/parser-abstractions/src/test_helpers.rs
Due: none

add rust-bench workflow to run it when a PR is labeled with cargobench
  .github/workflows/rust-bench.yml
  .github/workflows/rust-ci.yml
Due: none

add line before EOF
  .github/workflows/rust-bench.yml
Due: none

Add tests
  rust/otap-dataflow/crates/syslog_cef_receiver/src/arrow_records_encoder.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/cef.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc3164.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc5424.rs
Due: otap-dataflow

Implement timer_tick control msg support
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/configs/README.md
  rust/otap-dataflow/configs/otap-otap.json
  rust/otap-dataflow/configs/otap-otlp.json
  rust/otap-dataflow/configs/otap-perf.json
  rust/otap-dataflow/configs/otlp-otap.json
  rust/otap-dataflow/configs/otlp-otlp.json
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/src/README.md
  rust/otap-dataflow/src/main.rs
Due: otap-dataflow

Fix clippy
  rust/otap-dataflow/crates/syslog_cef_receiver/src/arrow_records_encoder.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/cef.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/parsed_message.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc5424.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
Due: otap-dataflow

added signal_type helper method on OtapPdata
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

Fix clippy
  rust/otap-dataflow/crates/syslog_cef_receiver/src/arrow_records_encoder.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/parsed_message.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc5424.rs
Due: otap-dataflow

added a new job to document build options
  .github/workflows/rust-ci.yml
Due: none

add link to doc build action summary
  .github/workflows/rust-ci.yml
Due: none

add docs for micro benchmarks
  .github/workflows/rust-ci.yml
  CONTRIBUTING.md
Due: none

md lint
  CONTRIBUTING.md
Due: none

Add `signal_type` helper method on `OtapPdata` (#862)
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

Document demo scenarios
  rust/otap-dataflow/configs/README.md
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otap-dataflow, otel-arrow-rust

Fix demo scenarios
  rust/otap-dataflow/configs/README.md
  rust/otap-dataflow/configs/otap-otap.json
  rust/otap-dataflow/configs/otap-otlp.json
  rust/otap-dataflow/configs/otap-perf.json
  rust/otap-dataflow/configs/otlp-otap.json
  rust/otap-dataflow/configs/otlp-otlp.json
  rust/otap-dataflow/configs/otlp-perf.json
Due: otap-dataflow

Add KQL implementation for rest of to* convert functions
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

fix: correctness fixes for OTLP to OTAP conversion for traces
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/pdata-views/src/views/common.rs
  rust/otel-arrow-rust/src/encode/record.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
  rust/otel-arrow-rust/src/encode/record/metrics.rs
  rust/otel-arrow-rust/src/encode/record/spans.rs
  rust/otel-arrow-rust/src/encode/record/traces.rs
  rust/otel-arrow-rust/src/schema.rs
Due: otap-dataflow, otel-arrow-rust

Introduce concepts of node and pipeline control messages
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/engine/README.md
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
Due: otap-dataflow

Update various Go dependencies
  CHANGELOG.md
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go/go.mod
  go/go.sum
Due: none

Changelog
  CHANGELOG.md
Due: none
