Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

try updating msrv to fix CI
  rust/otap-dataflow/Cargo.toml
Due: otap-dataflow

update msrv in otel-arrow-rust
  rust/otel-arrow-rust/Cargo.toml
Due: otel-arrow-rust

update the rust toolchain install
  .github/workflows/rust-ci.yml
Due: none

set rust version in clippy.tomls
  rust/otap-dataflow/.clippy.toml
  rust/otel-arrow-rust/.clippy.toml
Due: otap-dataflow, otel-arrow-rust

fix clippy in materialize_parent_ids.rs
  rust/otel-arrow-rust/benches/materialize_parent_id.rs
Due: otel-arrow-rust

undo changes to rust-ci.yaml
  .github/workflows/rust-ci.yml
Due: none

changed outputmode -> displaymode and defined outputmode as outport or console
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
Due: otap-dataflow

removed a redundant iter() when collecting signals for signalmode
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
Due: otap-dataflow

Optimize attribute processor
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Due: otap-dataflow

Fix format
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Due: otap-dataflow

Code changes
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Due: otap-dataflow

fix failing rust CI jobs (#1162)
  rust/otap-dataflow/.clippy.toml
  rust/otap-dataflow/Cargo.toml
  rust/otel-arrow-rust/.clippy.toml
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/benches/materialize_parent_id.rs
Due: otap-dataflow, otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for b1f9fd40581f8e306c9a1b63866fde5f3f0b1835
  docs/benchmarks/pipeline-perf/data.js
Due: none

[otap-dataflow] add filtering to debug processor (#1156)
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/filter.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/predicate.rs
Due: otap-dataflow

[otap-df-otap] Cancel telemetry timer on shutdown for OTAP and OTLP exporters (#1155)
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

add roundtrip span flags to go code no tests
  go/pkg/otel/traces/arrow/traces.go
  go/pkg/otel/traces/otlp/traces.go
  go/pkg/otel/traces/validation_test.go
Due: none

add roundtrip span flag to rust
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otel-arrow-rust/src/encode/record/traces.rs
Due: otap-dataflow, otel-arrow-rust

[perf][otel-arrow-rust] Add fast path optimization for varint encoding (#1154)
  rust/otel-arrow-rust/src/otlp/common.rs
Due: otel-arrow-rust

added span link flag handling to golang
  go/pkg/otel/traces/arrow/link.go
  go/pkg/otel/traces/arrow/traces.go
  go/pkg/otel/traces/otlp/link.go
  go/pkg/otel/traces/validation_test.go
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 40e2d5618e0078b2fbe7911db21607606152ed8f
  docs/benchmarks/pipeline-perf/data.js
Due: none

added span link flag to rust
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otel-arrow-rust/src/encode/record/traces.rs
  rust/otel-arrow-rust/src/otlp/traces/span_link.rs
Due: otap-dataflow, otel-arrow-rust

Add support for `flags` field to `Span` and `SpanLinks` (#1167)
  go/pkg/otel/traces/arrow/link.go
  go/pkg/otel/traces/arrow/traces.go
  go/pkg/otel/traces/otlp/link.go
  go/pkg/otel/traces/otlp/traces.go
  go/pkg/otel/traces/validation_test.go
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otel-arrow-rust/src/encode/record/traces.rs
  rust/otel-arrow-rust/src/otlp/traces/span_link.rs
Due: otap-dataflow, otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for ee99b8ba8ac4da587d2e4d31f3132c60c2f90fe1
  docs/benchmarks/pipeline-perf/data.js
Due: none

Fix clippy
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Due: otap-dataflow

[perf][otap-df-otap] Avoid unnecessary allocations in AttributeProcessor (#1168)
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for bfbad6626e80331edfa1e3b00e4501006143aecf
  docs/benchmarks/pipeline-perf/data.js
Due: none

Refactor AttributesProcessor
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Due: otap-dataflow

use dyn PipelineAdminSender: Send + Sync
  rust/otap-dataflow/crates/admin/src/lib.rs
  rust/otap-dataflow/crates/admin/src/pipeline_group.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/engine/src/control.rs
Due: otap-dataflow

Use pratt parser in KQL parser to handle operator precedence instead of forcing parenthesis in expressions.
  rust/experimental/query_engine/engine-recordset/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_array_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

Add <PData> to PipelineCtrlMsg (#1127)
  rust/otap-dataflow/crates/admin/src/lib.rs
  rust/otap-dataflow/crates/admin/src/pipeline_group.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
Due: otap-dataflow

[otap-df-otap] Refactor AttributesProcessor (#1169)
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for dcd42076942b4eb1e738ee65b9ec19df12882eee
  docs/benchmarks/pipeline-perf/data.js
Due: none

support exp histogram dp zero threshold in golang
  go/pkg/datagen/metrics.go
  go/pkg/otel/constants/constants.go
  go/pkg/otel/metrics/arrow/ehistogram_dp.go
  go/pkg/otel/metrics/otlp/ehistogram.go
Due: none

add a DebugOutput struct to handle all the output logic for the debug processor
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/output.rs
Due: otap-dataflow

support exp hist dp zero threshold in rust
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otel-arrow-rust/src/encode/record/metrics.rs
  rust/otel-arrow-rust/src/otlp/metrics.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/exp_histogram.rs
  rust/otel-arrow-rust/src/schema/consts.rs
Due: otap-dataflow, otel-arrow-rust

remove TODO comment
  rust/otel-arrow-rust/src/otlp/metrics.rs
Due: otel-arrow-rust

Optimize AttributesProcessor
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otap-dataflow, otel-arrow-rust

Support `ExponentialHistogramDatapoint` `zero_threshold` field in go and rust (#1170)
  go/pkg/datagen/metrics.go
  go/pkg/otel/constants/constants.go
  go/pkg/otel/metrics/arrow/ehistogram_dp.go
  go/pkg/otel/metrics/otlp/ehistogram.go
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otel-arrow-rust/src/encode/record/metrics.rs
  rust/otel-arrow-rust/src/otlp/metrics.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/exp_histogram.rs
  rust/otel-arrow-rust/src/schema/consts.rs
Due: otap-dataflow, otel-arrow-rust

[perf][otap-df-otap] Avoid redundant allocations for validating AttributeTransform config (#1172)
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otap-dataflow, otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 72628f358a7a69e1b51bfd2bbd61cf9fa29009fb
  docs/benchmarks/pipeline-perf/data.js
Due: none
