Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

remove :PipelineData
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/node.rs
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/mod.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/config.rs
  rust/otap-dataflow/crates/otlp/src/grpc.rs
Due: otap-dataflow

update no-op docstring
  tools/pipeline_perf_test/orchestrator/docs/plugins/README.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/step_actions.md
  tools/pipeline_perf_test/orchestrator/lib/impl/actions/no_op_action.py
Due: none

add readme, fixed clippy errors
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/noop_exporter.rs
Due: otap-dataflow

fixed readme.md
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/noop_exporter.rs
Due: otap-dataflow

fix building pipelines for procesors
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

clean up commented code
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Due: otap-dataflow

fix clippies
  rust/otap-dataflow/crates/engine/src/lib.rs
Due: otap-dataflow

otap: add minimal internal telemetry to batch processor via telemetry macros; snapshot on CollectTelemetry; instrument rows, flush reasons, split, errors, and drops
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_batch_metrics.rs
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
Due: otap-dataflow

fix building pipelines for proccesors (#1051)
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 34640efcbe02e041bc71f0fd5605b93183fbec68
  docs/benchmarks/pipeline-perf/data.js
Due: none

fix handling of invalid trace and span IDs when encoding OTAP logs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/views/logs.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
Due: otap-dataflow, otel-arrow-rust

Code review.
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
Due: none

fix handling of invalid trace and span IDs when encoding OTAP logs (#1052)
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/views/logs.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
Due: otap-dataflow, otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 7488f322d29b4a95b28b5a39a3568af8b0d195d3
  docs/benchmarks/pipeline-perf/data.js
Due: none

Maintain and expose an observed state for the engine
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/admin/Cargo.toml
  rust/otap-dataflow/crates/admin/src/lib.rs
  rust/otap-dataflow/crates/admin/src/pipeline.rs
  rust/otap-dataflow/crates/admin/src/pipeline_group.rs
  rust/otap-dataflow/crates/controller/Cargo.toml
  rust/otap-dataflow/crates/controller/src/error.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/controller/src/observed_state.rs
  rust/otap-dataflow/crates/engine/Cargo.toml
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/state/Cargo.toml
  rust/otap-dataflow/crates/state/README.md
  rust/otap-dataflow/crates/state/src/lib.rs
  rust/otap-dataflow/crates/state/src/observed_store.rs
Due: otap-dataflow

fix unify helper function naming conventions
  rust/otel-arrow-rust/src/otap/groups.rs
Due: otel-arrow-rust

add comment explaining the dict/struct unify loops
  rust/otel-arrow-rust/src/otap/groups.rs
Due: otel-arrow-rust

CI fixes
  rust/parquet-query-examples/README.md
  rust/parquet-query-examples/examples/query_logs.rs
Due: none

Fix nested constant folding.
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
Due: none

fix markdown lint
  rust/parquet-query-examples/README.md
Due: none

fix: remove orphan record.Schema() call in NewLogsMessage
  go/pkg/record_message/arrow_record.go
Due: none

[query-engine] Constant folding tweaks (#1049)
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/resolved_static_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

add config that uses the debug processor and noop exporter
  rust/otap-dataflow/configs/fake-debug-noop.yaml
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 9521e861f45552389a2adf99f93817bb253ecff1
  docs/benchmarks/pipeline-perf/data.js
Due: none

run cargo fmt
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
Due: otap-dataflow

remove trailing space in config
  rust/otap-dataflow/configs/fake-debug-noop.yaml
Due: otap-dataflow

Introduce parameter --core-id-range
  rust/otap-dataflow/crates/config/src/pipeline_group.rs
  rust/otap-dataflow/crates/controller/src/error.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/src/main.rs
Due: otap-dataflow

[otap-dataflow] add debug processor and noop exporter (#1012)
  rust/otap-dataflow/configs/fake-debug-noop.yaml
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/detailed_marshaler.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/marshaler.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/normal_marshaler.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/noop_exporter.rs
  rust/otel-arrow-rust/src/otlp/common.rs
Due: otap-dataflow, otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 83beec752f40458c4d2f722d19294b1267e85259
  docs/benchmarks/pipeline-perf/data.js
Due: none

Add unit tests
  rust/otap-dataflow/crates/controller/src/lib.rs
Due: otap-dataflow

Improve core ids selection
  rust/otap-dataflow/crates/controller/src/lib.rs
Due: otap-dataflow

Fix fmt issues
  rust/otap-dataflow/crates/controller/src/error.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/src/main.rs
Due: otap-dataflow

Add example of querying OTAP Parquet with Datafusion (#1048)
  rust/parquet-query-examples/.gitignore
  rust/parquet-query-examples/Cargo.toml
  rust/parquet-query-examples/README.md
  rust/parquet-query-examples/examples/query_logs.rs
Due: none

Small parquet exporter fixes and add example config (#1044)
  rust/otap-dataflow/configs/fake-parquet.yaml
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/config.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for dcdbdef991111ab4128e5739a5d4e10ecefb65a2
  docs/benchmarks/pipeline-perf/data.js
Due: none

Create CoreAllocation enum
  rust/otap-dataflow/crates/config/src/pipeline_group.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/src/main.rs
Due: otap-dataflow

fix: remove orphan record.Schema() call in NewLogsMessage (#1053)
  go/pkg/record_message/arrow_record.go
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for d0a6aa096b0794d9e57e72e7349c41ae773fb1b2
  docs/benchmarks/pipeline-perf/data.js
Due: none

PR feedback
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

Use Arrow row format when sorting for batching if possible (#1043)
  rust/otel-arrow-rust/src/otap/groups.rs
  rust/otel-arrow-rust/src/otap/transform.rs
  rust/otel-arrow-rust/src/otap/transform/transport_optimize.rs
Due: otel-arrow-rust
