Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

[query-engine] Static scalar expressions (#584)
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/static_scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

[otel-arrow-rust] Add UDP support (#568)
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
Due: otap-dataflow

feat: support metrics and traces in parquet exporter (#544)
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/test/datagen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/writer.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/transform.rs
  rust/otel-arrow-rust/src/schema.rs
Due: otap-dataflow, otel-arrow-rust

[query-engine] KQL accessor support (#542)
  rust/experimental/query_engine/.gitignore
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/README.md
  rust/experimental/query_engine/deny.toml
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/expressions/LICENSE
  rust/experimental/query_engine/expressions/src/expression.rs
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/kql-parser/Cargo.toml
  rust/experimental/query_engine/kql-parser/LICENSE
  rust/experimental/query_engine/kql-parser/src/error.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
  rust/experimental/query_engine/kql-parser/src/lib.rs
Due: none

feat: add null support to adaptive array builders (#583)
  rust/otel-arrow-rust/src/encode/record.rs
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/binary.rs
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
  rust/otel-arrow-rust/src/encode/record/array/primitive.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
  rust/otel-arrow-rust/src/encode/record/array/structs.rs
Due: otel-arrow-rust

[query-engine] Add data record and batch definitions to recordset engine (#585)
  rust/experimental/query_engine/engine-recordset/src/data/data_record.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_batch.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_resolver.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_resolver_cache.rs
  rust/experimental/query_engine/engine-recordset/src/data/mod.rs
Due: none

Stub ottl-parser in query-engine and refactor with parser-abstractions (#591)
  rust/experimental/query_abstraction/README.md
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/README.md
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/ottl-parser/Cargo.toml
  rust/experimental/query_engine/ottl-parser/src/lib.rs
  rust/experimental/query_engine/ottl-parser/src/ottl.pest
  rust/experimental/query_engine/ottl-parser/src/ottl_parser.rs
  rust/experimental/query_engine/parser-abstractions/Cargo.toml
  rust/experimental/query_engine/parser-abstractions/src/lib.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_abstractions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_error.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
  rust/experimental/query_engine/parser-abstractions/src/test_helpers.rs
Due: query_abstraction

[query-engine] Add basic logical expressions into recordset engine (#588)
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/equal_to_logical_expression.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/greater_than_logical_expression.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/greater_than_or_equal_to_logical_expression.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/less_than_logical_expression.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/less_than_or_equal_to_logical_expression.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/logical_expression.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/logical_group_expression.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/mod.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions/not_equal_to_logical_expression.rs
Due: none

[query-engine] Add expression and valuepath to recordset engine (#570)
  rust/experimental/query_engine/engine-recordset/src/expression.rs
  rust/experimental/query_engine/engine-recordset/src/value_path.rs
Due: none

Perf - Add otel based classes for interacting with metric / trace data in the orchestrator (#541)
  tools/pipeline_perf_test/orchestrator/lib/core/telemetry/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/telemetry/metric.py
  tools/pipeline_perf_test/orchestrator/lib/core/telemetry/signal_retriever.py
  tools/pipeline_perf_test/orchestrator/lib/core/telemetry/span.py
  tools/pipeline_perf_test/orchestrator/lib/core/telemetry/telemetry_client.py
  tools/pipeline_perf_test/orchestrator/lib/core/telemetry/telemetry_runtime.py
  tools/pipeline_perf_test/orchestrator/requirements.txt
Due: none

perf test - switch back to ubuntu runner until new machines are ready (#540)
  .github/workflows/pipeline-perf-test.yml
Due: none

[query-engine] Add primitives to recordset engine (#581)
  rust/experimental/query_engine/engine-recordset/src/primitives/array_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/bool_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/date_time_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/double_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/json_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/long_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/map_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/mod.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/regex_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/string_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/xml_value.rs
Due: none

[query-engine] Add AnyValue enum to recordset engine (#582)
  rust/experimental/query_engine/engine-recordset/src/primitives/any_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/mod.rs
Due: none

Downgrade Go to 1.23.0 for Collector-Contrib compatibility (#569)
  .github/renovate.json5
  .github/workflows/go-ci.yml
  CHANGELOG.md
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/main.go
  go.mod
Due: none

[query-engine] Allow fake query locations in expression tests (#598)
  rust/experimental/query_engine/expressions/src/expression.rs
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

[query-engine] KQL bool, double, & real - linting (#553)
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

[query-engine] KQL datetime (#556)
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/Cargo.toml
  rust/experimental/query_engine/kql-parser/src/date_utils.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
  rust/experimental/query_engine/kql-parser/src/lib.rs
Due: none

Update perf test orchestrator documentation to explain metrics server installation with insecure TLS for dev purposes only (#539)
  tools/pipeline_perf_test/orchestrator/orchestrator.py
Due: none

[query-engine] Add execution context & pipeline expression to recordset engine (#575)
  rust/experimental/query_engine/engine-recordset/src/error.rs
  rust/experimental/query_engine/engine-recordset/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset/src/macros.rs
  rust/experimental/query_engine/engine-recordset/src/pipeline_expression.rs
  rust/experimental/query_engine/engine-recordset/src/summary.rs
Due: none

feat: Adaptive array builders for struct & time types (#573)
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
  rust/otel-arrow-rust/src/encode/record/array/structs.rs
Due: otel-arrow-rust

Mark terminal version of otel-arrow module and bump to 0.38.0 (#572)
  CHANGELOG.md
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go.mod
  versions.yaml
Due: none

feat: support additional types for adaptive array builders (#562)
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/binary.rs
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
  rust/otel-arrow-rust/src/encode/record/array/primitive.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
Due: otel-arrow-rust

[query-engine] Add set transformation expression and parsing for KQL assignment & extend (#593)
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
  rust/experimental/query_engine/expressions/src/value_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

Release v0.36.0 (#564)
  CHANGELOG.md
  versions.yaml
Due: none

feat: add `OtapBatch` function for decoding all transport-optimized IDs & parent IDs (#528)
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
  rust/otel-arrow-rust/benches/materialize_parent_id.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/transform.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/attributes/decoder.rs
Due: otap-dataflow, otel-arrow-rust

[Editorial] Housekeeping updates to query_abstraction and query_engine subfolders (#547)
  .github/codecov.yaml
  .github/workflows/rust-ci.yml
  rust/experimental/query_abstraction/Cargo.toml
  rust/experimental/query_abstraction/LICENSE
  rust/experimental/query_abstraction/README.md
  rust/experimental/query_abstraction/cli/Cargo.toml
  rust/experimental/query_abstraction/intermediate_language/Cargo.toml
  rust/experimental/query_abstraction/kql_plugin/Cargo.toml
  rust/experimental/query_abstraction/kql_plugin/LICENSE
  rust/experimental/query_abstraction/kql_plugin/src/kql_parser.rs
  rust/experimental/query_abstraction/kql_plugin/src/kql_plugin.rs
  rust/experimental/query_abstraction/ottl_plugin/Cargo.toml
  rust/experimental/query_abstraction/ottl_plugin/LICENSE
  rust/experimental/query_abstraction/ottl_plugin/src/ottl_parser.rs
  rust/experimental/query_abstraction/ottl_plugin/src/ottl_plugin.rs
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/LICENSE
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/expressions/LICENSE
  rust/experimental/query_engine/expressions/src/expression.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/kql-parser/Cargo.toml
  rust/experimental/query_engine/kql-parser/LICENSE
  rust/experimental/query_engine/kql-parser/src/error.rs
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
  rust/experimental/query_engine/kql-parser/src/lib.rs
Due: query_abstraction

[query-engine] Add basic value expressions to the recordset engine (#594)
  rust/experimental/query_engine/engine-recordset/src/value_expressions/mod.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions/resolve_from_attached_value_expression.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions/resolve_value_expression.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions/static_value_expression.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions/value_expression.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions/variable_value_expression.rs
Due: none

[query-engine] Engine implementation folders (#563)
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/README.md
  rust/experimental/query_engine/deny.toml
  rust/experimental/query_engine/engine-columnar/Cargo.toml
  rust/experimental/query_engine/engine-columnar/src/lib.rs
  rust/experimental/query_engine/engine-recordset/Cargo.toml
  rust/experimental/query_engine/engine-recordset/src/lib.rs
Due: none

[query-engine] Clippy cleanup and pair down for data & primitives (#586)
  rust/experimental/query_engine/engine-recordset/src/data/data_record.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_resolver.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_resolver_cache.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/any_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/array_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/bool_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/date_time_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/double_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/long_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/map_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/regex_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/string_value.rs
Due: none

chore(deps): GitHub action and Golang patch updates duplicating failed Renovate PRs (#546)
  .github/workflows/go-ci.yml
  .github/workflows/ossf-scorecard.yml
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  go/go.mod
  go/go.sum
Due: none

feat: adaptive array builders base types and string implementation (#473)
  rust/otel-arrow-rust/src/encode.rs
  rust/otel-arrow-rust/src/encode/record.rs
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
  rust/otel-arrow-rust/src/lib.rs
Due: otel-arrow-rust

[query-engine] Clippy cleanup and pair down for recordset engine root files (#587)
  rust/experimental/query_engine/engine-recordset/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset/src/expression.rs
  rust/experimental/query_engine/engine-recordset/src/macros.rs
  rust/experimental/query_engine/engine-recordset/src/pipeline_expression.rs
  rust/experimental/query_engine/engine-recordset/src/summary.rs
  rust/experimental/query_engine/engine-recordset/src/value_path.rs
Due: none

[query-engine] KQL bool, double, & real (#551)
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

OTLP Pdata Visitor pattern work-in-progress ready-to-review (#580)
  .github/codecov.yaml
  rust/otel-arrow-rust/.gitignore
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/benches/item_count.rs
  rust/otel-arrow-rust/benches/otlp_bytes.rs
  rust/otel-arrow-rust/src/debug_detailed.rs
  rust/otel-arrow-rust/src/debug_test.rs
  rust/otel-arrow-rust/src/lib.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
  rust/otel-arrow-rust/src/otlp/traces/delta_decoder.rs
  rust/otel-arrow-rust/src/pdata/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/README.md
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/builder.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/common.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/lib.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/message_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
  rust/otel-arrow-rust/src/pdata/otlp/encoders.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/model/src/lib.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
Due: otel-arrow-rust

[query-engine] Support constants in KQL accessor expressions (#656)
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

[WIP] Add Perf exporter (#515)
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/README.md
  rust/otap-dataflow/crates/otap/src/perf_exporter/config.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/mod.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
Due: otap-dataflow

[query-engine] Add data expressions and entry point to recordset engine (#595)
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/engine-recordset/Cargo.toml
  rust/experimental/query_engine/engine-recordset/README.md
  rust/experimental/query_engine/engine-recordset/src/data_engine.rs
  rust/experimental/query_engine/engine-recordset/src/data_expressions/data_expression.rs
  rust/experimental/query_engine/engine-recordset/src/data_expressions/discard_data_expression.rs
  rust/experimental/query_engine/engine-recordset/src/data_expressions/mod.rs
  rust/experimental/query_engine/engine-recordset/src/data_expressions/summarize_by_data_expression.rs
  rust/experimental/query_engine/engine-recordset/src/data_expressions/transform_data_expression.rs
  rust/experimental/query_engine/engine-recordset/src/lib.rs
  rust/experimental/query_engine/engine-recordset/tests/common/mod.rs
  rust/experimental/query_engine/engine-recordset/tests/discard.rs
  rust/experimental/query_engine/engine-recordset/tests/set.rs
  rust/experimental/query_engine/engine-recordset/tests/summary.rs
Due: none

Upgrade collector dependencies to v0.129.0/v1.35.0 (#669)
  CHANGELOG.md
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go.mod
  go.sum
Due: none

Optimize workflow and go mod Renovate updates (#624)
  .github/renovate.json5
  .github/workflows/rust-ci.yml
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  go.mod
  go.sum
Due: none

Perf - Add Tox and test updates (#672)
  .gitignore
  tools/pipeline_perf_test/orchestrator/lib/runner/factory.py
  tools/pipeline_perf_test/orchestrator/lib/runner/registry.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/events.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/hook_config.py
  tools/pipeline_perf_test/orchestrator/pyproject.toml
  tools/pipeline_perf_test/orchestrator/pytest.ini
  tools/pipeline_perf_test/orchestrator/tests/core/component/test_component.py
  tools/pipeline_perf_test/orchestrator/tests/core/contexts/test_base.py
  tools/pipeline_perf_test/orchestrator/tests/core/contexts/test_component_hook_context.py
  tools/pipeline_perf_test/orchestrator/tests/core/contexts/test_framework_element_contexts.py
  tools/pipeline_perf_test/orchestrator/tests/core/contexts/test_framework_element_hook_context.py
  tools/pipeline_perf_test/orchestrator/tests/core/errors/test_error_handler.py
  tools/pipeline_perf_test/orchestrator/tests/core/framework/test_element.py
  tools/pipeline_perf_test/orchestrator/tests/core/framework/test_scenario.py
  tools/pipeline_perf_test/orchestrator/tests/core/helpers/test_metrics.py
  tools/pipeline_perf_test/orchestrator/tests/core/helpers/test_report.py
  tools/pipeline_perf_test/orchestrator/tests/core/runtime/test_runtime.py
  tools/pipeline_perf_test/orchestrator/tests/core/telemetry/test_log.py
  tools/pipeline_perf_test/orchestrator/tests/core/telemetry/test_telemetry_runtime.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/deployment/test_docker.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/hooks/docker/test_build_image.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/hooks/test_raise_exception.py
  tools/pipeline_perf_test/orchestrator/tox.ini
Due: none
