Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

add Benchmark (customSmallerIsBetter) benchmark result for 706de2a99b0ca2c57e3ee637d6d0ffc16743ac0d
  docs/benchmarks/continuous/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 706de2a99b0ca2c57e3ee637d6d0ffc16743ac0d
  docs/benchmarks/pipeline-perf/data.js
Due: none

perf_exporter: Ack the request
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

perf_exporter: Ack the request (#1319)
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 392b4476a28e188def1fd4a984b3853b67c55808
  docs/benchmarks/pipeline-perf/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 392b4476a28e188def1fd4a984b3853b67c55808
  docs/benchmarks/continuous/data.js
Due: none

filtering works for very simple case
  rust/experimental/query_engine/engine-columnar/Cargo.toml
  rust/experimental/query_engine/engine-columnar/src/engine.rs
  rust/experimental/query_engine/engine-columnar/src/error.rs
  rust/experimental/query_engine/engine-columnar/src/lib.rs
  rust/experimental/query_engine/engine-columnar/src/out_port.rs
Due: none

filtering by attribute strings is working
  rust/experimental/query_engine/engine-columnar/src/engine.rs
Due: none

remove perf orchestrator version 1 code and pipeline
  .github/workflows/pipeline-perf-test.yml
  tools/pipeline_perf_test/backend/Dockerfile
  tools/pipeline_perf_test/backend/backend-manifest.yaml
  tools/pipeline_perf_test/backend/backend.py
  tools/pipeline_perf_test/backend/readme.md
  tools/pipeline_perf_test/backend/requirements.txt
  tools/pipeline_perf_test/backend/tests/test_receiver.py
  tools/pipeline_perf_test/backend/tox.ini
  tools/pipeline_perf_test/orchestrator/lib/process/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/process/deployed_process/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/process/deployed_process/base.py
  tools/pipeline_perf_test/orchestrator/lib/process/deployed_process/docker.py
  tools/pipeline_perf_test/orchestrator/lib/process/deployed_process/kubernetes.py
  tools/pipeline_perf_test/orchestrator/lib/process/stats.py
  tools/pipeline_perf_test/orchestrator/lib/process/utils/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/process/utils/docker.py
  tools/pipeline_perf_test/orchestrator/lib/process/utils/kubernetes.py
  tools/pipeline_perf_test/orchestrator/lib/report/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/report/report.py
  tools/pipeline_perf_test/orchestrator/orchestrator.py
  tools/pipeline_perf_test/orchestrator/run_orchestrator.py
  tools/pipeline_perf_test/readme.md
  tools/pipeline_perf_test/report_templates/gh_action_benchmark/pipeline_perf_report.j2
  tools/pipeline_perf_test/report_templates/gh_action_benchmark/process_report.j2
  tools/pipeline_perf_test/system_under_test/otel-collector/collector-config-with-batch-processor.yaml
  tools/pipeline_perf_test/system_under_test/otel-collector/collector-config.yaml
  tools/pipeline_perf_test/system_under_test/otel-collector/collector-manifest.yaml
  tools/pipeline_perf_test/system_under_test/readme.md
  tools/pipeline_perf_test/test_suites/README.md
  tools/pipeline_perf_test/test_suites/collector_batch_comparison/otel-collector/collector-config-with-batch-processor.yaml
  tools/pipeline_perf_test/test_suites/collector_batch_comparison/otel-collector/collector-config-without-batch-processor.yaml
  tools/pipeline_perf_test/test_suites/collector_batch_comparison/test-suite-docker.yaml
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/README.md
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/collector-config-without-batch-processor.yaml
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/test-suite-comparison.yaml
Due: none

can use or w/ attrs
  rust/experimental/query_engine/engine-columnar/src/engine.rs
Due: none

still works
  rust/experimental/query_engine/engine-columnar/src/engine.rs
Due: none

limited support for matching non str attrs
  rust/experimental/query_engine/engine-columnar/examples/ex1.rs
  rust/experimental/query_engine/engine-columnar/src/engine.rs
Due: none

fix readme, expand test to check each anytype of anyvalue for attributes, and body
  rust/otap-dataflow/crates/otap/src/filter_processor.rs
  rust/otap-dataflow/crates/otap/src/filter_processor/README.md
Due: otap-dataflow

Cleanup fmt
  rust/experimental/query_engine/engine-columnar/src/engine.rs
Due: none

cargo fmt
  rust/otap-dataflow/crates/otap/src/filter_processor.rs
Due: otap-dataflow

OTLP receiver: new Settings with support for wait_for_result
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

lint
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

[PerfTest] remove perf orchestrator v1 code and pipeline (#1320)
  .github/workflows/pipeline-perf-test.yml
  tools/pipeline_perf_test/backend/Dockerfile
  tools/pipeline_perf_test/backend/backend-manifest.yaml
  tools/pipeline_perf_test/backend/backend.py
  tools/pipeline_perf_test/backend/readme.md
  tools/pipeline_perf_test/backend/requirements.txt
  tools/pipeline_perf_test/backend/tests/test_receiver.py
  tools/pipeline_perf_test/backend/tox.ini
  tools/pipeline_perf_test/orchestrator/lib/process/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/process/deployed_process/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/process/deployed_process/base.py
  tools/pipeline_perf_test/orchestrator/lib/process/deployed_process/docker.py
  tools/pipeline_perf_test/orchestrator/lib/process/deployed_process/kubernetes.py
  tools/pipeline_perf_test/orchestrator/lib/process/stats.py
  tools/pipeline_perf_test/orchestrator/lib/process/utils/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/process/utils/docker.py
  tools/pipeline_perf_test/orchestrator/lib/process/utils/kubernetes.py
  tools/pipeline_perf_test/orchestrator/lib/report/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/report/report.py
  tools/pipeline_perf_test/orchestrator/orchestrator.py
  tools/pipeline_perf_test/orchestrator/run_orchestrator.py
  tools/pipeline_perf_test/readme.md
  tools/pipeline_perf_test/report_templates/gh_action_benchmark/pipeline_perf_report.j2
  tools/pipeline_perf_test/report_templates/gh_action_benchmark/process_report.j2
  tools/pipeline_perf_test/system_under_test/otel-collector/collector-config-with-batch-processor.yaml
  tools/pipeline_perf_test/system_under_test/otel-collector/collector-config.yaml
  tools/pipeline_perf_test/system_under_test/otel-collector/collector-manifest.yaml
  tools/pipeline_perf_test/system_under_test/readme.md
  tools/pipeline_perf_test/test_suites/README.md
  tools/pipeline_perf_test/test_suites/collector_batch_comparison/otel-collector/collector-config-with-batch-processor.yaml
  tools/pipeline_perf_test/test_suites/collector_batch_comparison/otel-collector/collector-config-without-batch-processor.yaml
  tools/pipeline_perf_test/test_suites/collector_batch_comparison/test-suite-docker.yaml
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/README.md
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/collector-config-without-batch-processor.yaml
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/test-suite-comparison.yaml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for cf9629d679e9138e1a989a3304a918e7025ac96a
  docs/benchmarks/continuous/data.js
Due: none

it handles and with nested ors
  rust/experimental/query_engine/engine-columnar/src/engine.rs
Due: none

Fmt
  rust/experimental/query_engine/engine-columnar/src/engine.rs
Due: none

add cancel to wrapper, add logic to missing match clause
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
Due: otap-dataflow

revert spacing change to engine/lib
  rust/otap-dataflow/crates/engine/src/lib.rs
Due: otap-dataflow

wip
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

fix the return type of engine and tests
  rust/experimental/query_engine/engine-columnar/src/engine.rs
Due: none

Update rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

it handles and w/out left semi join on one side
  rust/experimental/query_engine/engine-columnar/src/engine.rs
Due: none

otap: preserve NodeUserConfig ports in batch processor factory; add build_from_json; add smoke test and config for #1310
  rust/otap-dataflow/configs/fake-batch-perf-issue-1310.yaml
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
  rust/otap-dataflow/crates/otap/tests/smoke_fake_batch_issue_1310.rs
Due: otap-dataflow

Make syslog_cef_receiver MetricSet non-optional
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

Rename syslog metrics: success->forwarded, failure->invalid, refused->forward_failed (PR 1199)
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

comment
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
Due: otap-dataflow

comment2
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

Refactorde to something easier to maintina
  rust/experimental/query_engine/engine-columnar/src/engine.rs
Due: none

support logical not in query
  rust/experimental/query_engine/engine-columnar/src/engine.rs
Due: none

add working pipeline that utilizes the filter processor, added additional documentation
  rust/otap-dataflow/configs/fake-filter-debug-noop.yaml
  rust/otap-dataflow/crates/otap/src/fake_data_generator/fake_signal.rs
  rust/otap-dataflow/crates/otap/src/filter_processor.rs
  rust/otap-dataflow/crates/otap/src/filter_processor/README.md
  rust/otel-arrow-rust/src/otap/filter/logs.rs
Due: otap-dataflow, otel-arrow-rust

Implement type methods in expressions, recordset engine, and KQL.
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value_type.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

less in box
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
Due: otap-dataflow

stash before deleting dead code
  rust/experimental/query_engine/engine-columnar/src/engine.rs
Due: none
