Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

added methods to append to array builder multiple times and use in syslog receiver
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
Due: otap-dataflow, otel-arrow-rust

fmt and clippy
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
Due: otap-dataflow, otel-arrow-rust

GenMem
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
Due: otap-dataflow

added unit tests
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
Due: otel-arrow-rust

add more test coverage
  rust/otel-arrow-rust/src/encode/record/array.rs
Due: otel-arrow-rust

add comment linking optimization in arrow
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
Due: otel-arrow-rust

syslog-cef: fix telemetry test runtime usage
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

comments
  rust/otap-dataflow/crates/channel/src/error.rs
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
Due: otap-dataflow

fmt
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
Due: otap-dataflow

[otap-df-otap] Rename CEF field name (#1190)
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/cef.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
Due: otap-dataflow

[otap-df-otap] Add support for escape characters in CEF parser (#1189)
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/cef.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
Due: otap-dataflow

[otap-df-otap] Fix CEF version parsing (#1191)
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/cef.rs
Due: otap-dataflow

fixed append args for non-nullable field and marked inline
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
Due: otap-dataflow, otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 207bf3dd8d59292200e6a43c273dba23090a6f77
  docs/benchmarks/pipeline-perf/data.js
Due: none

use byte slice for string type in pdata views
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/traces.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/metrics.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/trace.rs
  rust/otap-dataflow/crates/pdata-views/src/views/common.rs
Due: otap-dataflow

Implement fmt_with_indent for ParseScalarExpression.
  rust/experimental/query_engine/expressions/src/scalars/parse_scalar_expression.rs
Due: none

fix indentation issues not fixed by rustfmt
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

fix compiler errors in otel-arrow-rust and otap
  rust/otap-dataflow/crates/otap/src/encoder/cbor.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
  rust/otel-arrow-rust/src/encode/record/attributes.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
  rust/otel-arrow-rust/src/encode/record/metrics.rs
  rust/otel-arrow-rust/src/encode/record/traces.rs
Due: otap-dataflow, otel-arrow-rust

fix spelling error in methodname
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
Due: otap-dataflow

remove functional change, sticking with internal telemetry only
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

Renames
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_array_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_logical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_parse_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_temporal_function_expressions.rs
Due: none

Keep not_expression
  rust/experimental/query_engine/kql-parser/src/kql.pest
Due: none

Fix build
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

[query-engine] Implement fmt_with_indent for ParseScalarExpression (#1198)
  rust/experimental/query_engine/expressions/src/scalars/parse_scalar_expression.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for e07dd861fae55013484a6e3cdb11455fb588461a
  docs/benchmarks/pipeline-perf/data.js
Due: none

clean up the output logic, removed build errors
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/output.rs
Due: otap-dataflow

Update parser for RFC3164
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/mod.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/rfc3164.rs
Due: otap-dataflow

Fix format
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/mod.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/rfc3164.rs
Due: otap-dataflow

Add test
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/rfc3164.rs
Due: otap-dataflow

Fix tests
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
Due: otap-dataflow

Add support for BOM detection
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/rfc5424.rs
Due: otap-dataflow

tests are passing
  rust/otap-dataflow/crates/otap/src/encoder/cbor.rs
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/attributes.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
  rust/otel-arrow-rust/src/encode/record/metrics.rs
  rust/otel-arrow-rust/src/encode/record/traces.rs
Due: otap-dataflow, otel-arrow-rust

Add support for KQL not() (#1188)
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_array_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_logical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_parse_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_temporal_function_expressions.rs
Due: none

Prepare release v0.43.0
  CHANGELOG.md
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 1ff8b77786b4c8164f93b8b30d62a7f4477bb41c
  docs/benchmarks/pipeline-perf/data.js
Due: none

cleanup CBOR TODOs
  rust/otap-dataflow/crates/otap/src/encoder/cbor.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for a1dd1620b6ec7e6fc837b059076a42e299077fdd
  docs/benchmarks/pipeline-perf/data.js
Due: none

fix otel-arrow-rust TODOs and add tests
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/attributes.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
  rust/otel-arrow-rust/src/encode/record/traces.rs
Due: otel-arrow-rust

fix otel-arrow-rust TODOs and add tests
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/attributes.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
  rust/otel-arrow-rust/src/encode/record/metrics.rs
  rust/otel-arrow-rust/src/encode/record/traces.rs
Due: otel-arrow-rust

remove all dead code
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
Due: otel-arrow-rust

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
