Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

cleanup
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
Due: otap-dataflow

Add bench
  rust/otel-arrow-rust/benches/attribute_transform.rs
Due: otel-arrow-rust

Logging tweaks.
  rust/experimental/query_engine/engine-recordset/src/logical_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
Due: none

[query-engine] Logging tweaks (#877)
  rust/experimental/query_engine/engine-recordset/src/logical_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
Due: none

Code review.
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/engine-recordset/Cargo.toml
  rust/experimental/query_engine/expressions/Cargo.toml
Due: none

Fixes for null to_string changes.
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
Due: none

Logging improvements.
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
Due: none

fix things broken in rebase
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
Due: otap-dataflow

Tweak.
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
Due: none

fix test
  rust/otap-dataflow/crates/otap/src/lib.rs
Due: otap-dataflow

Update various Go and Collector dependencies (#866)
  CHANGELOG.md
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go/go.mod
  go/go.sum
Due: none

ignore test that's removed in a different PR
  rust/otap-dataflow/crates/otap/src/lib.rs
Due: otap-dataflow

Fix issues based on code review
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/config/src/pipeline_group.rs
Due: otap-dataflow

[query-engine] ParseJson scalar (#875)
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/engine-recordset/Cargo.toml
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
Due: none

update attributes to choose random element from examples if provided, update config to accept a message rate
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/attributes.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/config.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
Due: otap-dataflow

Require commit_sha when running push-release workflow
  .github/workflows/prepare-release.yml
  .github/workflows/push-release.yml
Due: none

Sanity
  .github/workflows/prepare-release.yml
  .github/workflows/push-release.yml
Due: none

Sanity
  .github/workflows/push-release.yml
Due: none

[query-engine] Support datetime conversion (#870)
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/date_utils.rs
  rust/experimental/query_engine/expressions/src/primitives/mod.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/date_utils.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

Prepare release v0.41.0
  CHANGELOG.md
  collector/otelarrowcol-build.yaml
Due: none

Make prepare-release touch another needed version reference
  .github/workflows/prepare-release.yml
  collector/cmd/otelarrowcol/main.go
Due: none

fixed a bunch of implementation bugs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

Add more logging
  .github/workflows/prepare-release.yml
Due: none

Don't need the logging, will show in git diff
  .github/workflows/prepare-release.yml
Due: none

Revert main.go changes
  collector/cmd/otelarrowcol/main.go
Due: none

Make prepare-release touch another needed version reference (#885)
  .github/workflows/prepare-release.yml
Due: none

Prepare release v0.41.0
  CHANGELOG.md
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
Due: none

add tests and cleaned up rate limit logic
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/config.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
Due: otap-dataflow

Support config files in YAML format
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/configs/README.md
  rust/otap-dataflow/configs/otap-otap.json
  rust/otap-dataflow/configs/otap-otap.yaml
  rust/otap-dataflow/configs/otap-otlp.json
  rust/otap-dataflow/configs/otap-otlp.yaml
  rust/otap-dataflow/configs/otap-perf.json
  rust/otap-dataflow/configs/otap-perf.yaml
  rust/otap-dataflow/configs/otlp-otap.json
  rust/otap-dataflow/configs/otlp-otap.yaml
  rust/otap-dataflow/configs/otlp-otlp.json
  rust/otap-dataflow/configs/otlp-otlp.yaml
  rust/otap-dataflow/configs/otlp-perf.json
  rust/otap-dataflow/configs/otlp-perf.yaml
  rust/otap-dataflow/crates/config/Cargo.toml
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/config/tests/fixtures/test_pipeline.json
  rust/otap-dataflow/crates/config/tests/fixtures/test_pipeline.yaml
  rust/otap-dataflow/src/main.rs
Due: otap-dataflow

Improve command line doc
  rust/otap-dataflow/src/main.rs
Due: otap-dataflow

Fix YAML lint issues.
  rust/otap-dataflow/configs/otap-otap.yaml
  rust/otap-dataflow/configs/otap-otlp.yaml
  rust/otap-dataflow/configs/otap-perf.yaml
  rust/otap-dataflow/configs/otlp-otap.yaml
  rust/otap-dataflow/configs/otlp-otlp.yaml
  rust/otap-dataflow/configs/otlp-perf.yaml
Due: otap-dataflow

Summary WIP.
  rust/experimental/query_engine/engine-recordset/Cargo.toml
  rust/experimental/query_engine/engine-recordset/src/engine.rs
  rust/experimental/query_engine/engine-recordset/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset/src/lib.rs
  rust/experimental/query_engine/engine-recordset/src/summary/mod.rs
  rust/experimental/query_engine/engine-recordset/src/summary/summary.rs
  rust/experimental/query_engine/engine-recordset/src/summary/summary_data_expression.rs
  rust/experimental/query_engine/expressions/src/data_expressions.rs
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/summary/mod.rs
  rust/experimental/query_engine/expressions/src/summary/summary_data_expression.rs
Due: none

finish and cleanup
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/benches/attribute_transform.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

fix the fmt
  rust/otel-arrow-rust/benches/attribute_transform.rs
  rust/otel-arrow-rust/src/otap/transform.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

Summary WIP.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/otlp_kql_recordset.rs
  rust/experimental/query_engine/engine-recordset/src/engine.rs
  rust/experimental/query_engine/engine-recordset/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset/src/lib.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/summary/mod.rs
  rust/experimental/query_engine/engine-recordset/src/summary/summaries.rs
  rust/experimental/query_engine/engine-recordset/src/summary/summary.rs
  rust/experimental/query_engine/engine-recordset/src/summary/summary_data_expression.rs
  rust/experimental/query_engine/engine-recordset/src/test_helpers.rs
  rust/experimental/query_engine/engine-recordset/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
Due: none

added a working multi string replace
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

Update pdata 1.37.0; remove hard-coded JSON syntax test
  go/go.mod
  go/go.sum
  go/pkg/otel/assert/equiv_test.go
Due: none

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
