Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

handle materializing the parent IDs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

[query-engine] More math: mod & bin (#922)
  rust/experimental/query_engine/engine-recordset/src/scalars/math_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 3b8a360cd7c06bd720379dacefff95fdbecc89b5
  docs/benchmarks/pipeline-perf/data.js
Due: none

fix counting otlp signals
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

undo test changes
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

some good optimizations and fledgling benchmark
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/benches/attribute_transform.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

fmt
  rust/otel-arrow-rust/benches/attribute_transform.rs
  rust/otel-arrow-rust/src/otap/transform.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

fix rate calculations
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

fix fmt
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

otap: expose signal_type_router module (surgical: only this line)
  rust/otap-dataflow/crates/otap/src/lib.rs
Due: otap-dataflow

otap: simplify SignalTypeRouter to reuse engine wiring
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
Due: otap-dataflow

otap: route by signal type using well-known port name constants
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
Due: otap-dataflow

otap: add SignalTypeRouter under otap crate; expose module; local-only pass-through impl with tests (surgical)
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
Due: otap-dataflow

otap(signal-type-router): add multi out_port routing with broadcast; keep engine unchanged
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
Due: otap-dataflow

fix clippy
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

[perf-exporter] fix perf otlp signal counting (#928)
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

[query-engine] Support regex parse expression (#906)
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/mod.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/parse_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/expression_error.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/parse_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
Due: none

Update rust/otap-dataflow/crates/otap/src/signal_type_router.rs
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 6eef5051de9c6d2e65becd03e0bad13405a53ea6
  docs/benchmarks/pipeline-perf/data.js
Due: none

[otap-dataflow] Add SignalTypeRouter under otap crate (#916)
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 946d0a17f2ca8325df24eab6eb7d729c84334236
  docs/benchmarks/pipeline-perf/data.js
Due: none

Rebuild negate expression using math group.
  rust/experimental/query_engine/engine-recordset/src/scalars/math_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

Move convert scalars into their own file in recordset engine.
  rust/experimental/query_engine/engine-recordset/src/scalars/convert_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/mod.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
Due: none

[query-engine] Conversion scalar expression reorg (#930)
  rust/experimental/query_engine/engine-recordset/src/scalars/convert_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/mod.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 24074e8aac5744c37589e587866d4100f6db0ea9
  docs/benchmarks/pipeline-perf/data.js
Due: none

add context / message ID / new file
  rust/otap-dataflow/crates/engine/src/context.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
Due: otap-dataflow

move datagen test files to fixtures and perf exporter test refactor
  rust/otap-dataflow/crates/otap/src/fixtures.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/writer.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/README.md
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

add headers to all batch generation functions
  rust/otap-dataflow/crates/otap/src/fixtures.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

cleanup unused header code in log generation function
  rust/otap-dataflow/crates/otap/src/fixtures.rs
Due: otap-dataflow

fix batch id logic
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

temporary remove retry
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/retry_processor.rs
Due: otap-dataflow

implement configuration of OTAP exporter from config object
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

checkpiont halfway through refactor
  rust/otel-arrow-rust/benches/attribute_transform.rs
  rust/otel-arrow-rust/src/error.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

Refactor StringReplace into text group.
  rust/experimental/query_engine/engine-recordset/src/scalars/mod.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/text_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/text_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

another refactor checkpoint
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

Simplify following code review feedback
  rust/experimental/query_engine/kql-parser/src/kql.pest
Due: none

[query-engine] Math: negate refactor (#929)
  rust/experimental/query_engine/engine-recordset/src/scalars/math_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

[query-engine] Refactor StringReplace into text group. (#935)
  rust/experimental/query_engine/engine-recordset/src/scalars/mod.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/text_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/text_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 9b0d6a58ac4385ddd553a941d826b3b7707aa3c1
  docs/benchmarks/pipeline-perf/data.js
Due: none
