Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

fix clippy
  rust/otel-arrow-rust/src/error.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
  rust/otel-arrow-rust/src/otlp/traces/span_event_store.rs
  rust/otel-arrow-rust/src/otlp/traces/span_links_store.rs
  rust/otel-arrow-rust/src/otlp/traces/spans_arrays.rs
Due: otel-arrow-rust

impl decoding ExportTraceServiceRequest
  rust/otel-arrow-rust/.gitignore
  rust/otel-arrow-rust/src/arrays.rs
  rust/otel-arrow-rust/src/decode/decoder.rs
  rust/otel-arrow-rust/src/error.rs
  rust/otel-arrow-rust/src/otlp.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
  rust/otel-arrow-rust/src/otlp/traces/delta_decoder.rs
  rust/otel-arrow-rust/src/otlp/traces/event_sorter.rs
  rust/otel-arrow-rust/src/otlp/traces/related_data.rs
  rust/otel-arrow-rust/src/otlp/traces/span_event.rs
  rust/otel-arrow-rust/src/otlp/traces/span_event_store.rs
  rust/otel-arrow-rust/src/otlp/traces/span_link.rs
  rust/otel-arrow-rust/src/otlp/traces/span_links_store.rs
  rust/otel-arrow-rust/src/otlp/traces/spans_arrays.rs
  rust/otel-arrow-rust/src/otlp/traces/spans_status_arrays.rs
  rust/otel-arrow-rust/src/pdata/mod.rs
  rust/otel-arrow-rust/src/validation/otap.rs
Due: otel-arrow-rust

fix: duration nanos and toolchain update
  rust/otel-arrow-rust/src/arrays.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
  rust/otel-arrow-rust/src/otlp/traces/span_event_store.rs
  rust/otel-arrow-rust/src/otlp/traces/span_links_store.rs
  rust/otel-arrow-rust/src/otlp/traces/spans_arrays.rs
Due: otel-arrow-rust

feat: added methods recursively materializing OtapBatch ids and parent ids
  rust/otel-arrow-rust/src/otap/transform.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/attributes/decoder.rs
Due: otel-arrow-rust

finished decode helper methos for logs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

finished decode helper methos for traces
  rust/otel-arrow-rust/src/otap.rs
Due: otel-arrow-rust

Upgrade collector dependencies to 0.127.0
  CHANGELOG.md
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go/go.mod
  go/go.sum
Due: none

Add changelog link
  CHANGELOG.md
Due: none

Fmt
  go/pkg/datagen/metrics.go
Due: none

Add the OpenSSF Best Practices badge
  README.md
Due: none

finished method to decode metrics
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
  rust/otel-arrow-rust/benches/materialize_parent_id.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otap-dataflow, otel-arrow-rust

fix missing rustdocs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

Upgrade collector dependencies to 0.127.0 (#526)
  CHANGELOG.md
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go/go.mod
  go/go.sum
  go/pkg/datagen/metrics.go
Due: none

adapters wip
  rust/otel-arrow-rust/benches/item_count.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/lib.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
Due: otel-arrow-rust

manual
  rust/otel-arrow-rust/src/pdata/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
Due: otel-arrow-rust

noop
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/lib.rs
Due: otel-arrow-rust

feat: decode traces record batches (#516)
  rust/otel-arrow-rust/.gitignore
  rust/otel-arrow-rust/src/arrays.rs
  rust/otel-arrow-rust/src/decode/decoder.rs
  rust/otel-arrow-rust/src/error.rs
  rust/otel-arrow-rust/src/otlp.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
  rust/otel-arrow-rust/src/otlp/traces/delta_decoder.rs
  rust/otel-arrow-rust/src/otlp/traces/related_data.rs
  rust/otel-arrow-rust/src/otlp/traces/span_event.rs
  rust/otel-arrow-rust/src/otlp/traces/span_event_store.rs
  rust/otel-arrow-rust/src/otlp/traces/span_link.rs
  rust/otel-arrow-rust/src/otlp/traces/span_links_store.rs
  rust/otel-arrow-rust/src/otlp/traces/spans_arrays.rs
  rust/otel-arrow-rust/src/otlp/traces/spans_status_arrays.rs
  rust/otel-arrow-rust/src/pdata/mod.rs
  rust/otel-arrow-rust/src/validation/otap.rs
  rust/otel-arrow-rust/src/validation/otlp.rs
Due: otel-arrow-rust

Add the OpenSSF Best Practices badge (#527)
  README.md
Due: none

Update orchestrator instructions to help with setting up a local kind cluster.
  tools/pipeline_perf_test/orchestrator/orchestrator.py
Due: none

udpate each impl to move, not clone all telemetry
  rust/otap-dataflow/crates/otlp/src/simple_generic_batch_processor.rs
Due: otap-dataflow

Update the workflow to get ready for merge queue
  .github/workflows/go-ci.yml
  .github/workflows/repo-lint.yaml
  .github/workflows/rust-audit.yml
  .github/workflows/rust-ci.yml
Due: none

feat(batch): Add support for BatchSizer modes (Requests, Items, Bytes) and comprehensive tests
  rust/otap-dataflow/crates/otlp/README.md
  rust/otap-dataflow/crates/otlp/src/simple_generic_batch_processor.rs
Due: otap-dataflow

Create OTLP RuntimePipeline
  rust/otap-dataflow/crates/config/README.md
  rust/otap-dataflow/crates/config/src/engine.rs
  rust/otap-dataflow/crates/config/src/error.rs
  rust/otap-dataflow/crates/config/src/lib.rs
  rust/otap-dataflow/crates/config/src/namespace.rs
  rust/otap-dataflow/crates/config/src/node.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/config/src/tenant.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/runtime_config.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/lib.rs
Due: otap-dataflow

Generalize create_runtime_pipeline to otap
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
Due: otap-dataflow

Update the workflow to get ready for merge queue (#531)
  .github/workflows/go-ci.yml
  .github/workflows/repo-lint.yaml
  .github/workflows/rust-audit.yml
  .github/workflows/rust-ci.yml
Due: none

(chore): add docstrings, remove unused imports
  rust/otap-dataflow/crates/otlp/src/simple_generic_batch_processor.rs
Due: otap-dataflow

update the documentation
  tools/pipeline_perf_test/orchestrator/orchestrator.py
Due: none

feat: adaptive array builders
  rust/otel-arrow-rust/src/encode.rs
  rust/otel-arrow-rust/src/encode/record.rs
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
  rust/otel-arrow-rust/src/lib.rs
Due: otel-arrow-rust

PR feedback
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
Due: otel-arrow-rust

update PRD
  rust/otel-arrow-rust/benches/item_count.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/lib.rs
  rust/otel-arrow-rust/src/pdata/otlp/direct.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/note.md
  rust/otel-arrow-rust/src/pdata/otlp/prd.md
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
Due: otel-arrow-rust

simplify, parse tag
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/lib.rs
Due: otel-arrow-rust

fixed a bunch of clippys
  rust/otel-arrow-rust/src/encode/record.rs
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
Due: otel-arrow-rust

update comment about prepended nulls
  rust/otel-arrow-rust/src/encode/record/array.rs
Due: otel-arrow-rust

fix test and link related perf optimization issue
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
Due: otel-arrow-rust

fixed some misleading comments
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
Due: otel-arrow-rust

prd
  rust/otel-arrow-rust/src/pdata/otlp/prd.md
Due: otel-arrow-rust

Update orchestrator instructions to help with installing metrics server for dev purposes.
  tools/pipeline_perf_test/orchestrator/orchestrator.py
Due: none

test(batch): add and improve tests for partial batch flush, timeout, and deduplication
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

perf test - switch back to ubuntu runner until new machines are ready
  .github/workflows/pipeline-perf-test.yml
Due: none

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
