Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

[otap-dataflow] Add OutputMode to the DebugProcessor (#1108)
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/detailed_marshaler.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/marshaler.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/normal_marshaler.rs
Due: otap-dataflow

[perf][otap-df-otap] Avoid unnecessary allocations in AttributeProcessor (#1168)
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Due: otap-dataflow

[query-engine] Extend KQL parser schema into child maps (#1137)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser.rs
Due: none

[otel-arrow-rust] Minor optimization for batch_length method (#1124)
  rust/otel-arrow-rust/src/otap.rs
Due: otel-arrow-rust

[query-engine] Clean up scalar expression parsing in KQL parser (#1146)
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_array_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_parse_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_temporal_function_expressions.rs
Due: none

fix: metrics splitter in the batching subsystem (#1071)
  rust/otel-arrow-rust/src/otap/groups.rs
Due: otel-arrow-rust

Add configurable arrow IPC compression to otap exporter & align default compression/IPC stream options (#1085)
  rust/otap-dataflow/crates/otap/src/compression.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter/config.rs
  rust/otel-arrow-rust/src/encode/producer.rs
Due: otap-dataflow, otel-arrow-rust

[query-engine] Summary schema validation support in KQL parser (#1148)
  rust/experimental/query_engine/kql-parser/src/aggregate_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

Config: RFC-compliant URN validation and canonical plugin URNs (#1113)
  rust/otap-dataflow/configs/fake-debug-noop.yaml
  rust/otap-dataflow/configs/fake-parquet.yaml
  rust/otap-dataflow/configs/fake-perf.yaml
  rust/otap-dataflow/configs/otlp-otap.yaml
  rust/otap-dataflow/configs/otlp-otlp.yaml
  rust/otap-dataflow/configs/otlp-perf.yaml
  rust/otap-dataflow/crates/config/Cargo.toml
  rust/otap-dataflow/crates/config/src/lib.rs
  rust/otap-dataflow/crates/config/src/urn.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

Improve pipeline draining (#1058)
  collector/cmd/otelarrowcol/go.mod
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
Due: otap-dataflow

[query-engine] Regex capture support (#1072)
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/text_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/resolved_static_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/text_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
Due: none

[query-engine] KQL regex parsing and cleanup (#1082)
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_parse_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
Due: none

[otap-df-otap] Simplify OTLP Exporter (#1152)
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

Use optimized `append_..._n` methods in syslog receiver when constructing OTAP record (#1196)
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
Due: otap-dataflow, otel-arrow-rust

[perf][otel-arrow-rust] Optimize `produce_bar` method used in OTAP Exporter (#1217)
  rust/otel-arrow-rust/src/encode/producer.rs
Due: otel-arrow-rust

[otap-df-otap] Add support for CEF messages with Syslog headers (#1264)
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/cef.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/mod.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
Due: otap-dataflow

Centralize workspace dependencies (otap-df-otap) (#1275)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
Due: otap-dataflow

[perf][otap-df-otap] Avoid redundant allocations for validating AttributeTransform config (#1172)
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otap-dataflow, otel-arrow-rust

Update repo codecov to allow for fluctuation (#1241)
  .github/codecov.yaml
Due: none

[PerfTest] temporarily remove arrow payload compression in benchmark suites (#1204)
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/otap-attr-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/otlp-attr-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/syslog-attr-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/loadgen/config.yaml.j2
Due: none

[query-engine] Implement fmt_with_indent for text scalar expressions (#1205)
  rust/experimental/query_engine/expressions/src/scalars/text_scalar_expression.rs
Due: none

Upgrade collector dependencies to 0.136.0/1.42.0 (#1176)
  CHANGELOG.md
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go/go.mod
  go/go.sum
Due: none

fix otlp exporter test flake (#1230)
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

[otap-df-otap] Refactor AttributesProcessor (#1169)
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Due: otap-dataflow

Support `ExponentialHistogramDatapoint` `zero_threshold` field in go and rust (#1170)
  go/pkg/datagen/metrics.go
  go/pkg/otel/constants/constants.go
  go/pkg/otel/metrics/arrow/ehistogram_dp.go
  go/pkg/otel/metrics/otlp/ehistogram.go
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otel-arrow-rust/src/encode/record/metrics.rs
  rust/otel-arrow-rust/src/otlp/metrics.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/exp_histogram.rs
  rust/otel-arrow-rust/src/schema/consts.rs
Due: otap-dataflow, otel-arrow-rust

[otap-df-otap] Fix CEF version parsing (#1191)
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/cef.rs
Due: otap-dataflow

Parquet exporter: add internal telemetry (#1219)
  =
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/metrics.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/writer.rs
Due: otap-dataflow

Improve serviceability of the engine (status, livez, readyz) (#1207)
  rust/otap-dataflow/configs/fake-otap.yaml
  rust/otap-dataflow/crates/admin/src/pipeline.rs
  rust/otap-dataflow/crates/admin/src/pipeline_group.rs
  rust/otap-dataflow/crates/config/src/health.rs
  rust/otap-dataflow/crates/config/src/lib.rs
  rust/otap-dataflow/crates/config/src/observed_state.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/output.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
  rust/otap-dataflow/crates/state/Cargo.toml
  rust/otap-dataflow/crates/state/README.md
  rust/otap-dataflow/crates/state/assets/engine-observability.svg
  rust/otap-dataflow/crates/state/assets/hierarchical-obv-state.svg
  rust/otap-dataflow/crates/state/assets/pipeline-runtime-state-machine.svg
  rust/otap-dataflow/crates/state/src/error.rs
  rust/otap-dataflow/crates/state/src/event.rs
  rust/otap-dataflow/crates/state/src/lib.rs
  rust/otap-dataflow/crates/state/src/phase.rs
  rust/otap-dataflow/crates/state/src/pipeline_rt_status.rs
  rust/otap-dataflow/crates/state/src/pipeline_status.rs
  rust/otap-dataflow/crates/state/src/reporter.rs
  rust/otap-dataflow/crates/state/src/store.rs
Due: otap-dataflow

[otap-df-otap] Update Syslog parser for improved RFC 3164 compliance (#1200)
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/mod.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/rfc3164.rs
Due: otap-dataflow

[perf][otap-df-otap] Avoid HashSet lookups in AttributesProcessor (#1173)
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Due: otap-dataflow

Add support for KQL not() (#1188)
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_array_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_logical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_parse_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_temporal_function_expressions.rs
Due: none

Ack/Nack and EffectHandler integration (#1225)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
  rust/otap-dataflow/crates/engine/Cargo.toml
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/node.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/mod.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/error_exporter.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/noop_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
  rust/otap-dataflow/crates/otap/src/testing/mod.rs
Due: otap-dataflow

Fix map schema to id (#1240)
  rust/otel-arrow-rust/src/otap/schema.rs
Due: otel-arrow-rust

[perf] Avoid unnecessary vec allocation for merged transforms (#1180)
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

[query-engine] Validate unique identifiers in KQL summarize statements (#1267)
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

delete '=' file (#1254)
  =
Due: none

[query-engine] Improve validation in KQL accessor expressions when source is referenced directly (#1210)
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

Sort otap-dataflow workspace dependencies (#1282)
  rust/otap-dataflow/Cargo.toml
Due: otap-dataflow

Phase 2 work-in-progress documentation update (#1263)
  CONTRIBUTING.md
  README.md
  go/README.md
  rust/README.md
  rust/otap-dataflow/README.md
  rust/otel-arrow-rust/README.md
Due: otap-dataflow, otel-arrow-rust
