Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

feat: add controller extension hooks (#3281)
  rust/otap-dataflow/.chloggen/controller-extension-hooks.yaml
  rust/otap-dataflow/README.md
  rust/otap-dataflow/crates/config/src/engine.rs
  rust/otap-dataflow/crates/config/src/extension.rs
  rust/otap-dataflow/crates/controller/Cargo.toml
  rust/otap-dataflow/crates/controller/src/controller_monitor.rs
  rust/otap-dataflow/crates/controller/src/error.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/controller/src/startup.rs
  rust/otap-dataflow/docs/configuration-model.md
  rust/otap-dataflow/examples/custom_collector.rs
  rust/otap-dataflow/src/main.rs
Due: otap-dataflow

ETW receiver: add TDH field decoding, Arrow conversion, and batched flush (#3187)
  rust/otap-dataflow/.chloggen/etw-receiver-tdh-decoder.yaml
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/configs/etw-console-otlp.yaml
  rust/otap-dataflow/configs/etw-console.yaml
  rust/otap-dataflow/crates/contrib-nodes/Cargo.toml
  rust/otap-dataflow/crates/contrib-nodes/src/receivers/etw_receiver/arrow_records_encoder.rs
  rust/otap-dataflow/crates/contrib-nodes/src/receivers/etw_receiver/mod.rs
  rust/otap-dataflow/crates/contrib-nodes/src/receivers/etw_receiver/session.rs
Due: otap-dataflow

feat(flow_metrics): Add purpose field to flow_metric config to enable differentiation of flows (#3252)
  rust/otap-dataflow/.chloggen/flow-metrics-purpose-scope-attribute.yaml
  rust/otap-dataflow/crates/config/src/policy.rs
  rust/otap-dataflow/crates/engine/src/flow_metrics.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
Due: otap-dataflow

feat(Linux user_events receiver) - Add per-subscription pending governance (#3153)
  rust/otap-dataflow/.chloggen/user-events-pending-governance.yaml
  rust/otap-dataflow/crates/contrib-nodes/src/receivers/user_events_receiver/README.md
  rust/otap-dataflow/crates/contrib-nodes/src/receivers/user_events_receiver/mod.rs
  rust/otap-dataflow/crates/contrib-nodes/src/receivers/user_events_receiver/one_collect_adapter.rs
  rust/otap-dataflow/crates/contrib-nodes/src/receivers/user_events_receiver/session.rs
Due: otap-dataflow

Add user_agent config to shared HttpClientSettings and GrpcClientSettings (#3186)
  rust/otap-dataflow/.chloggen/shared-user-agent-config.yaml
  rust/otap-dataflow/crates/core-nodes/src/exporters/otap_exporter/mod.rs
  rust/otap-dataflow/crates/core-nodes/src/exporters/otlp_grpc_exporter/mod.rs
  rust/otap-dataflow/crates/core-nodes/src/exporters/otlp_http_exporter/mod.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/otap_grpc/client_settings.rs
  rust/otap-dataflow/crates/otap/src/otlp_http/client_settings.rs
Due: otap-dataflow

Add message entropy pool to syslog load generator (#2988)
  tools/pipeline_perf_test/load_generator/loadgen.py
  tools/pipeline_perf_test/test_suites/integration/nightly/syslog-docker.yaml
  tools/pipeline_perf_test/test_suites/integration/nightly/syslog-tcp-docker.yaml
  tools/pipeline_perf_test/test_suites/integration/nightly/syslog-tcp-otelcol-docker.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/syslog/syslog-attr.yaml.j2
  tools/pipeline_perf_test/test_suites/integration/templates/test_steps/python-loadgen-steps-docker-otel.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/test_steps/python-loadgen-steps-docker.yaml
Due: none

chore(deps): bump geneva-uploader dependency (#3297)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/contrib-nodes/src/exporters/geneva_exporter/mod.rs
Due: otap-dataflow

chore(deps): exclude time 0.3.48 to unbreak CI (#3282)
  rust/otap-dataflow/Cargo.toml
Due: otap-dataflow

[otap-dataflow] Fix coalesce drops records missing the first attribute (#3271)
  rust/otap-dataflow/.chloggen/opl-coalesce-outer-join.yaml
  rust/otap-dataflow/crates/query-engine/src/pipeline/assign.rs
  rust/otap-dataflow/crates/query-engine/src/pipeline/expr/planner.rs
Due: otap-dataflow

engine: pass ExtensionContext to ExtensionFactory.create (#3285)
  rust/otap-dataflow/.chloggen/engine-extension-context-factory.yaml
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/tests/extension_e2e.rs
Due: otap-dataflow

test: make pipeline timer tests deterministic (#2813)
  .github/workflows/rust-ci.yml
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
Due: otap-dataflow

feat(otap): preserve OtapPdata::peer_addr across merging processors (#3229)
  rust/otap-dataflow/.chloggen/preserve-peer-address-merging-processors.yaml
  rust/otap-dataflow/crates/core-nodes/src/processors/batch_processor/mod.rs
  rust/otap-dataflow/crates/core-nodes/src/processors/temporal_reaggregation_processor/mod.rs
  rust/otap-dataflow/crates/core-nodes/src/processors/temporal_reaggregation_processor/testing.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

docs: add CNCF Slack join instructions (#3276)
  CONTRIBUTING.md
  README.md
Due: none

chore: rename traffic generator example configs (#3288)
  rust/otap-dataflow/configs/README.md
  rust/otap-dataflow/configs/trafficgen-batch-console.yaml
  rust/otap-dataflow/configs/trafficgen-batch-debug-noop.yaml
  rust/otap-dataflow/configs/trafficgen-debug-noop-prometheus-telemetry.yaml
  rust/otap-dataflow/configs/trafficgen-debug-noop-telemetry.yaml
  rust/otap-dataflow/configs/trafficgen-durable-buffer-noop.yaml
  rust/otap-dataflow/configs/trafficgen-filter-debug-noop.yaml
  rust/otap-dataflow/configs/trafficgen-flow-metrics-demo.yaml
  rust/otap-dataflow/configs/trafficgen-kql-debug-noop.yaml
  rust/otap-dataflow/configs/trafficgen-metric-filter-debug-noop.yaml
  rust/otap-dataflow/configs/trafficgen-multi-tenant-perf.yaml
  rust/otap-dataflow/configs/trafficgen-otap.yaml
  rust/otap-dataflow/configs/trafficgen-otlp.yaml
  rust/otap-dataflow/configs/trafficgen-parquet-azure.yaml
  rust/otap-dataflow/configs/trafficgen-parquet-local-s3.yaml
  rust/otap-dataflow/configs/trafficgen-parquet-s3.yaml
  rust/otap-dataflow/configs/trafficgen-parquet.yaml
  rust/otap-dataflow/configs/trafficgen-perf.yaml
  rust/otap-dataflow/configs/trafficgen-sample-debug.yaml
  rust/otap-dataflow/configs/trafficgen-transform-debug-noop.yaml
  rust/otap-dataflow/crates/contrib-nodes/src/processors/recordset_kql_processor/README.md
  rust/otap-dataflow/crates/core-nodes/src/exporters/parquet_exporter/README.md
  rust/otap-dataflow/crates/core-nodes/src/processors/filter_processor/README.md
  rust/otap-dataflow/examples/custom_collector.rs
  rust/parquet-query-examples/README.md
Due: otap-dataflow

Add support for Bytes type in OPL type-checking expressions (#3296)
  rust/experimental/query_engine/expressions/src/primitives/value_type.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/otap-dataflow/.chloggen/opl-bytes-type-check.yaml
  rust/otap-dataflow/crates/query-engine-languages/docs/opl-user-guide/src/types.md
  rust/otap-dataflow/crates/query-engine/src/pipeline/expr/planner.rs
  rust/otap-dataflow/crates/query-engine/src/pipeline/filter.rs
Due: otap-dataflow

Preserve raw ETW level in `etw.level` attribute (#3309)
  rust/otap-dataflow/.chloggen/etw-receiver-preserve-raw-level.yaml
  rust/otap-dataflow/crates/contrib-nodes/src/receivers/etw_receiver/arrow_records_encoder.rs
  rust/otap-dataflow/crates/contrib-nodes/src/receivers/etw_receiver/windows_e2e_tests.rs
Due: otap-dataflow

chore(repo): Turn on Renovate vulnerability reporting (#3191)
  .github/renovate.json5
Due: none

chore(ci): broaden PR size labeler ignore list for lock/sum files (#3313)
  .github/workflows/pr-size-label.yml
Due: none

chore(repo): Consume otel/opentelemetry-collector-contrib image for OTC testing in otel-arrow (#3194)
  .github/renovate.json5
  .github/workflows/go-ci.yml
  .github/workflows/pipeline-perf-test-nightly.yml
  .github/workflows/prepare-release.yml
  .github/workflows/push-release.yml
  .github/workflows/rust-ci.yml
  .github/workflows/rust-validation-tests.yml
  .github/workflows/scripts/create-release-branch.sh
  .github/workflows/tidy.yml
  CONTRIBUTING.md
  Dockerfile
  Makefile
  RELEASING.md
  collector/BUILDING.md
  collector/README.md
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/cmd/otelarrowcol/main_others.go
  collector/cmd/otelarrowcol/main_windows.go
  collector/examples/README.md
  collector/examples/bridge/README.md
  collector/examples/metadata-bridge/README.md
  collector/examples/recorder/README.md
  collector/examples/shutdown/README.md
  collector/otelarrowcol-build.yaml
  go/.chloggen/config.yaml
  go/.chloggen/remove-otelarrowcol-module.yaml
Due: none

feat: OPL Playground (#3193)
  rust/otap-dataflow/.chloggen/opl-playground.yaml
  rust/otap-dataflow/crates/query-engine-playground/Cargo.toml
  rust/otap-dataflow/crates/query-engine-playground/README.md
  rust/otap-dataflow/crates/query-engine-playground/frontend/index.html
  rust/otap-dataflow/crates/query-engine-playground/src/main.rs
Due: otap-dataflow

chore: align Bool32 decoding in tests with one_collect's Win32 BOOL fix (#3319)
  rust/otap-dataflow/crates/contrib-nodes/src/receivers/etw_receiver/session.rs
  rust/otap-dataflow/crates/contrib-nodes/src/receivers/etw_receiver/windows_e2e_tests.rs
Due: otap-dataflow

task(comparison_dashboard): Add comparisons to fluent bit (#3190)
  tools/comparison_dashboard/comparisons/log_attr_processor_insert_multi_batch.yaml
  tools/comparison_dashboard/comparisons/log_attr_processor_rename_multi_batch.yaml
  tools/comparison_dashboard/comparisons/log_baselines_multi_rate.yaml
  tools/comparison_dashboard/comparisons/log_transform_attr_processor_insert.yaml
  tools/comparison_dashboard/comparisons/log_transform_attr_processor_insert_multi_transform.yaml
  tools/comparison_dashboard/comparisons/log_transform_attr_processor_rename.yaml
  tools/comparison_dashboard/comparisons/log_transform_attr_processor_rename_multi_transform.yaml
  tools/comparison_dashboard/manifest.yaml
  tools/comparison_dashboard/suites/fbit/fbit-logs-otlp-gzip-baseline.yaml
  tools/comparison_dashboard/suites/fbit/fbit-logs-otlp-none-attr-insert-multi-batch.yaml
  tools/comparison_dashboard/suites/fbit/fbit-logs-otlp-none-attr-insert-multi-transform.yaml
  tools/comparison_dashboard/suites/fbit/fbit-logs-otlp-none-attr-insert.yaml
  tools/comparison_dashboard/suites/fbit/fbit-logs-otlp-none-attr-rename-multi-batch.yaml
  tools/comparison_dashboard/suites/fbit/fbit-logs-otlp-none-attr-rename-multi-transform.yaml
  tools/comparison_dashboard/suites/fbit/fbit-logs-otlp-none-attr-rename.yaml
  tools/comparison_dashboard/suites/fbit/fbit-logs-otlp-none-baseline.yaml
  tools/comparison_dashboard/suites/fbit/fbit-logs-otlp-zstd-baseline.yaml
  tools/comparison_dashboard/suites/fbit/fbit-logs-otlphttp-gzip-baseline.yaml
  tools/comparison_dashboard/suites/fbit/fbit-logs-otlphttp-none-baseline.yaml
  tools/comparison_dashboard/suites/fbit/fbit-logs-otlphttp-zstd-baseline.yaml
  tools/pipeline_perf_test/test_suites/comparison_dashboard/reports/report_logs.yaml
  tools/pipeline_perf_test/test_suites/comparison_dashboard/templates/fluent_bit/otlp-attr-insert.yaml.j2
  tools/pipeline_perf_test/test_suites/comparison_dashboard/templates/fluent_bit/otlp-attr-rename.yaml.j2
  tools/pipeline_perf_test/test_suites/comparison_dashboard/templates/fluent_bit/otlp-otlp.yaml.j2
  tools/pipeline_perf_test/test_suites/comparison_dashboard/templates/fluent_bit/otlphttp-otlphttp.yaml.j2
  tools/pipeline_perf_test/test_suites/comparison_dashboard/templates/orchestrator/fbit-single-core-multi-batch-size.yaml
  tools/pipeline_perf_test/test_suites/comparison_dashboard/templates/orchestrator/fbit-single-core-multi-rate.yaml
  tools/pipeline_perf_test/test_suites/comparison_dashboard/templates/orchestrator/fbit-single-core-multi-transform.yaml
  tools/pipeline_perf_test/test_suites/comparison_dashboard/templates/steps/fluent-bit.yaml
Due: none

chore: fix go changelog CI failing (#3215)
  go/.chloggen/config.yaml
Due: none

fix(comparison_dashboard): Remove fluent bit otlpgrpc gzip/zstd suites (#3200)
  tools/comparison_dashboard/comparisons/log_baselines_multi_rate.yaml
  tools/comparison_dashboard/manifest.yaml
  tools/comparison_dashboard/suites/fbit/fbit-logs-otlp-gzip-baseline.yaml
  tools/comparison_dashboard/suites/fbit/fbit-logs-otlp-zstd-baseline.yaml
Due: none

chore: Use one_collect from crates.io (#3318)
  rust/otap-dataflow/Cargo.toml
Due: otap-dataflow

OTAP exporter: support static request headers natively (#3315)
  rust/otap-dataflow/.chloggen/otap-exporter-static-headers.yaml
  rust/otap-dataflow/crates/core-nodes/src/exporters/otap_exporter/README.md
  rust/otap-dataflow/crates/core-nodes/src/exporters/otap_exporter/mod.rs
  rust/otap-dataflow/crates/core-nodes/src/exporters/otlp_grpc_exporter/mod.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/client_settings.rs
Due: otap-dataflow

chore(repo): Cleanup extra query-abstraction project (#3305)
  .github/codecov.yaml
  .github/workflows/rust-bench.yml
  .github/workflows/rust-ci.yml
  .vscode/settings.json
  rust/README.md
  rust/experimental/query_abstraction/Cargo.toml
  rust/experimental/query_abstraction/LICENSE
  rust/experimental/query_abstraction/README.md
  rust/experimental/query_abstraction/cli/Cargo.toml
  rust/experimental/query_abstraction/cli/src/main.rs
  rust/experimental/query_abstraction/deny.toml
  rust/experimental/query_abstraction/intermediate_language/Cargo.toml
  rust/experimental/query_abstraction/intermediate_language/src/grammar_objects.rs
  rust/experimental/query_abstraction/intermediate_language/src/lib.rs
  rust/experimental/query_abstraction/intermediate_language/src/query_processor.rs
  rust/experimental/query_abstraction/kql_plugin/Cargo.toml
  rust/experimental/query_abstraction/kql_plugin/src/kql.pest
  rust/experimental/query_abstraction/kql_plugin/src/kql_parser.rs
  rust/experimental/query_abstraction/kql_plugin/src/kql_plugin.rs
  rust/experimental/query_abstraction/kql_plugin/src/lib.rs
  rust/experimental/query_abstraction/ottl_plugin/Cargo.toml
  rust/experimental/query_abstraction/ottl_plugin/src/lib.rs
  rust/experimental/query_abstraction/ottl_plugin/src/ottl.pest
  rust/experimental/query_abstraction/ottl_plugin/src/ottl_parser.rs
  rust/experimental/query_abstraction/ottl_plugin/src/ottl_plugin.rs
Due: query_abstraction

fix(otap): gate ring crypto fallback behind test-utils (#3280)
  rust/otap-dataflow/.chloggen/fix-otap-crypto-ring-fallback.yaml
  rust/otap-dataflow/crates/otap/src/crypto.rs
Due: otap-dataflow

Exchange quorum for consensus
  rust/otap-dataflow/.chloggen/broadcast-ack-all-primitives.yaml
  rust/otap-dataflow/crates/engine/src/topic/tests.rs
  rust/otap-dataflow/crates/engine/src/topic/topic.rs
  rust/otap-dataflow/crates/engine/src/topic/types.rs
Due: otap-dataflow

Add static headers config to OTAP OTLP exporters (#3303)
  rust/otap-dataflow/.chloggen/otlp-exporter-static-headers.yaml
  rust/otap-dataflow/configs/otlp-http-headers.yaml
  rust/otap-dataflow/crates/core-nodes/src/exporters/otap_exporter/README.md
  rust/otap-dataflow/crates/core-nodes/src/exporters/otap_exporter/mod.rs
  rust/otap-dataflow/crates/core-nodes/src/exporters/otlp_grpc_exporter/README.md
  rust/otap-dataflow/crates/core-nodes/src/exporters/otlp_grpc_exporter/mod.rs
  rust/otap-dataflow/crates/core-nodes/src/exporters/otlp_http_exporter/README.md
  rust/otap-dataflow/crates/core-nodes/src/exporters/otlp_http_exporter/mod.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/client_settings.rs
  rust/otap-dataflow/crates/otap/src/otlp_http/client_settings.rs
Due: otap-dataflow

feat: added comment support in OPL (#3152)
  rust/otap-dataflow/.chloggen/opl-comments.yaml
  rust/otap-dataflow/crates/query-engine-languages/src/opl/opl.pest
  rust/otap-dataflow/crates/query-engine-languages/src/opl/parser.rs
Due: otap-dataflow

chore(repo): Use proper git config for automation and small release format nits (#3192)
  .github/workflows/prepare-release.yml
  .github/workflows/push-release.yml
  .github/workflows/tidy.yml
Due: none

chore(ci): add PR size labeler workflow (#2989)
  .github/workflows/pr-size-label.yml
Due: none

chlog
  rust/otap-dataflow/.chloggen/broadcast-ack-all-primitives.yaml
Due: otap-dataflow

feat(topic): Implement broadcast topic primitives for ack_mode: all
  rust/otap-dataflow/benchmarks/benches/topic_broadcast/main.rs
  rust/otap-dataflow/crates/config/src/topic.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/core-nodes/src/exporters/topic_exporter/mod.rs
  rust/otap-dataflow/crates/core-nodes/src/receivers/topic_receiver/mod.rs
  rust/otap-dataflow/crates/engine/src/topic/mod.rs
  rust/otap-dataflow/crates/engine/src/topic/tests.rs
  rust/otap-dataflow/crates/engine/src/topic/topic.rs
  rust/otap-dataflow/crates/engine/src/topic/types.rs
  rust/otap-dataflow/crates/otap/tests/topic_pipeline_flow_tests.rs
Due: otap-dataflow

Code review feedback
  rust/otap-dataflow/crates/engine/src/topic/mod.rs
  rust/otap-dataflow/crates/engine/src/topic/tests.rs
  rust/otap-dataflow/crates/engine/src/topic/types.rs
Due: otap-dataflow

Comments and todos
  rust/otap-dataflow/crates/config/src/topic.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/engine/src/topic/topic.rs
  rust/otap-dataflow/crates/engine/src/topic/types.rs
Due: otap-dataflow

fmt
  rust/otap-dataflow/crates/engine/src/topic/mod.rs
  rust/otap-dataflow/crates/engine/src/topic/tests.rs
  rust/otap-dataflow/crates/engine/src/topic/types.rs
Due: otap-dataflow

nit
  rust/otap-dataflow/crates/engine/src/topic/tests.rs
  rust/otap-dataflow/crates/engine/src/topic/types.rs
Due: otap-dataflow

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
