Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

[query-engine] Add parse json path expression (#1362)
  rust/experimental/query_engine/engine-recordset/src/scalars/parse_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/parse_scalar_expression.rs
Due: none

Implement select expression.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/attached_records.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/logs.rs
  rust/experimental/query_engine/engine-recordset/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/test_helpers.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/primitives/map_value.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/map_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for fa2dd90f0da9daa8ea2221505d32f6863067663e
  docs/benchmarks/continuous/data.js
Due: none

Tune otlp_receiver server configuration
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

Fix fmt issues
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

Add Microsoft Geneva exporter for Otel Arrow (#1355)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/README.md
  rust/otap-dataflow/crates/otap/src/experimental/README.md
  rust/otap-dataflow/crates/otap/src/experimental/geneva_exporter/README.md
  rust/otap-dataflow/crates/otap/src/experimental/geneva_exporter/mod.rs
  rust/otap-dataflow/crates/otap/src/experimental/geneva_exporter/otlp-geneva.yaml
  rust/otap-dataflow/crates/otap/src/experimental/mod.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 64824b400b6924b6da86f7d17196e8bafe906d3a
  docs/benchmarks/continuous/data.js
Due: none

fix bad default path to suite configs
  .github/workflows/pipeline-perf-test-manual-pr.yaml
Due: none

[PerfTest] fix bad default path to suite configs (#1364)
  .github/workflows/pipeline-perf-test-manual-pr.yaml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 634c94119bda341454aeebdb879ba72960693dff
  docs/benchmarks/continuous/data.js
Due: none

Make max_concurrent_requests adaptive
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

Add test.
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
Due: none

More tests.
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
Due: none

Address PR comments
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
Due: otap-dataflow

[otap-df-otap] Add ACK and NACK support for OTAP Receiver (#1358)
  rust/otap-dataflow/crates/otap/src/otap_grpc.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for de6644e935e34a8c85e1aabd64fa9c2b688d9a02
  docs/benchmarks/continuous/data.js
Due: none

Rename config setting
  rust/otap-dataflow/configs/otap-otap.yaml
  rust/otap-dataflow/configs/otap-otlp.yaml
  rust/otap-dataflow/configs/otap-perf.yaml
  rust/otap-dataflow/crates/otap/src/otap_grpc.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
Due: otap-dataflow

Fix tests
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
Due: otap-dataflow

[otap-df-otap] Use a better name for OTAP Receiver config setting (#1365)
  rust/otap-dataflow/configs/otap-otap.yaml
  rust/otap-dataflow/configs/otap-otlp.yaml
  rust/otap-dataflow/configs/otap-perf.yaml
  rust/otap-dataflow/crates/otap/src/otap_grpc.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
Due: otap-dataflow

Update the OTLP receiver config to support all the knob parameters (with good default).
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/config/Cargo.toml
  rust/otap-dataflow/crates/config/src/byte_units.rs
  rust/otap-dataflow/crates/config/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 71bc65ad49125e3d320b2b118c74034b725f5f03
  docs/benchmarks/continuous/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 71bc65ad49125e3d320b2b118c74034b725f5f03
  docs/benchmarks/nightly/syslog/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 71bc65ad49125e3d320b2b118c74034b725f5f03
  docs/benchmarks/nightly/backpressure/data.js
Due: none

[query-engine] Add select expression (#1363)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/attached_records.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/logs.rs
  rust/experimental/query_engine/engine-recordset/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/test_helpers.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/primitives/map_value.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/map_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

Implement KQL extract_json expression.
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 142f76db4b67b1eb84621d42d67b5559d3c90d14
  docs/benchmarks/continuous/data.js
Due: none

Lint.
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

[query-engine] KQL extract_json expression (#1366)
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for b2f68af4ca3dc84ff779b52bed48efcf50f0d904
  docs/benchmarks/continuous/data.js
Due: none

Change OTLP port
  rust/otap-dataflow/configs/otlp-perf.yaml
Due: otap-dataflow

Fix documentation not aligned with the code
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

Fix continuous benchmarks for OTAP Receiver
  tools/pipeline_perf_test/test_suites/integration/templates/configs/backend/config.yaml.j2
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/backpressure/otap-attr-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/backpressure/otap-attr-otlp.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/continuous/otap-attr-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/continuous/otap-attr-otlp.yaml
Due: none

Introduce max_decoding_message_size
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

Fix clippy warnings
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/otlp_reader.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/otap-dataflow/crates/admin/src/telemetry.rs
  rust/otap-dataflow/crates/config/src/pipeline_group.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/detailed_marshaler.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/normal_marshaler.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otap-dataflow, otel-arrow-rust

Fix clippy warnings (#1368)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/otlp_reader.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/otap-dataflow/crates/admin/src/telemetry.rs
  rust/otap-dataflow/crates/config/src/pipeline_group.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/detailed_marshaler.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/normal_marshaler.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otap-dataflow, otel-arrow-rust

Support multiple compression methods
  rust/otap-dataflow/crates/otap/src/compression.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

Fix continuous benchmarks for OTAP Receiver (#1367)
  tools/pipeline_perf_test/test_suites/integration/templates/configs/backend/config.yaml.j2
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/backpressure/otap-attr-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/backpressure/otap-attr-otlp.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/continuous/otap-attr-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/continuous/otap-attr-otlp.yaml
Due: none

Refactor OTLP and OTAP receivers to share configuration
  rust/otap-dataflow/crates/otap/src/compression.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/receiver_config.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

Refactor OTLP and OTAP receivers to share code
  rust/otap-dataflow/crates/otap/src/otap_grpc.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/common.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/receiver_config.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
