Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

Fix xtask compile-proto and add documentation
  rust/otap-dataflow/crates/otap/README.md
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otap-dataflow/xtask/src/main.rs
Due: otap-dataflow

saving before complicated refactor
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

something compiling
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

stash before lunch
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

wip
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

fix: metrics splitter in the batching subsystem
  rust/otel-arrow-rust/src/otap/groups.rs
Due: otel-arrow-rust

Add capture text expression with engine support and KQL parsing of extract.
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/text_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/resolved_static_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/text_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
Due: none

restore engine test
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
Due: otap-dataflow

restore no tests
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

Fix markdown and deny issue
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/README.md
Due: otap-dataflow

minor improvements
  rust/otel-arrow-rust/src/otap/groups.rs
Due: otel-arrow-rust

Stash
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 13c918b7975d42c5690e344a459a4ed320fadac3
  docs/benchmarks/pipeline-perf/data.js
Due: none

fix clippies
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

saveit
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otap/src/mock.rs
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

otap: move batch metrics under submodule; update imports; encoder: add test
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
  rust/otap-dataflow/crates/otap/src/otap_batch_processor/metrics.rs
Due: otap-dataflow

reduce
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/node.rs
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/src/context.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

more
  rust/otap-dataflow/crates/admin/src/lib.rs
  rust/otap-dataflow/crates/admin/src/pipeline.rs
  rust/otap-dataflow/crates/admin/src/pipeline_group.rs
  rust/otap-dataflow/crates/admin/src/telemetry.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
Due: otap-dataflow

fix issues decoding str attributes with special characters
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
Due: otap-dataflow

fix: metrics splitter in the batching subsystem (#1071)
  rust/otel-arrow-rust/src/otap/groups.rs
Due: otel-arrow-rust

Add tests
  rust/otap-dataflow/crates/otap/src/encoder.rs
Due: otap-dataflow

fmt
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
Due: otap-dataflow

reduce to take_context
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 1d8c77bd7a46184722766aff9aba126d5d12f3a6
  docs/benchmarks/pipeline-perf/data.js
Due: none

update tonic to 0.14, added the tonic-prost crate that the prost feature was migrated into. Updated the tonic-build crate to tonic-prost-build
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.collector.profiles.v1development.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.common.v1.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.profiles.v1development.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.trace.v1.rs
  rust/otap-dataflow/xtask/Cargo.toml
  rust/otap-dataflow/xtask/src/main.rs
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/build.rs
  rust/otel-arrow-rust/src/pdata/otlp/model/Cargo.toml
  rust/otel-arrow-rust/src/pdata/otlp/model/src/lib.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otap-dataflow, otel-arrow-rust

otap: clippy style fixes in batch processor (collapse else-if)
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
Due: otap-dataflow

fix linter and clippies
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

Update rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

Fix fmt
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

remove clone_empty
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

small
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

clippy
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

fix: OTAP streams persistent in the OTAP Exporter (#1074)
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

fix issue decoding attribute key-values with special characters (#1077)
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for c29252384faee716b6d1344af9b7c482579d33b6
  docs/benchmarks/pipeline-perf/data.js
Due: none

benchlint
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
Due: otap-dataflow

otap: align batch processor metrics with Collector RFC
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
  rust/otap-dataflow/crates/otap/src/otap_batch_processor/metrics.rs
Due: otap-dataflow

Add AckMsg, NackMsg
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow
