Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

nit: add log warn when nack is attempted for non-existent mesasge
  rust/otap-dataflow/crates/engine/src/retry_processor.rs
Due: otap-dataflow

fix fmt
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
Due: otap-dataflow

remove blocking write calls and replace with tokio equivalent
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

clippy fix
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

Try fixing Release body replacement
  .github/workflows/push-release.yml
Due: none

Fix import
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
Due: otap-dataflow

Code fixes
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
Due: otap-dataflow

Prepare pipeline configuration for one engine per thread
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/crates/config/src/error.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/config/src/pipeline_group.rs
  rust/otap-dataflow/crates/controller/Cargo.toml
  rust/otap-dataflow/crates/controller/README.md
  rust/otap-dataflow/crates/controller/src/error.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/node.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otap-dataflow, otel-arrow-rust

Fix import (#800)
  rust/otap-dataflow/Cargo.toml
Due: otap-dataflow

cleaned up signal generation
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/attributes.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/config.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_data.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_signal.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/mod.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
  rust/otap-dataflow/crates/otlp/src/grpc.rs
Due: otap-dataflow

Add first controller implement
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/controller/Cargo.toml
  rust/otap-dataflow/crates/controller/src/error.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
Due: otap-dataflow

Try fixing Release body replacement (#799)
  .github/workflows/push-release.yml
Due: none

fix flakey shutdown timeout test
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

fix lint
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

feat: add pdata type for OTAP pipeline w/ representations & conversions (#767)
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/encoder/error.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/mock.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/partition.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/writer.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otel-arrow-rust/src/decode/decoder.rs
  rust/otel-arrow-rust/src/encode/producer.rs
  rust/otel-arrow-rust/src/error.rs
  rust/otel-arrow-rust/src/lib.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/otlp/logs/related_data.rs
  rust/otel-arrow-rust/src/otlp/metrics.rs
  rust/otel-arrow-rust/src/otlp/metrics/related_data.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
  rust/otel-arrow-rust/src/otlp/traces/related_data.rs
Due: otap-dataflow, otel-arrow-rust

fix failing tests and clippies
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
Due: otap-dataflow

fix issue after merge and fix doctext
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

Support constant rate logs in orchestrator, dataflow engine log comparison workflow
  tools/pipeline_perf_test/backend/backend.py
  tools/pipeline_perf_test/backend/tests/test_receiver.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/execution/pipeline_perf_loadgen.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/pipeline_perf_report.py
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/README.md
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/collector-config-without-batch-processor.yaml
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/test-suite-comparison.yaml
Due: none

fix: flakey shutdown timeout test (#801)
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
Due: otap-dataflow

fix merge conflict, fixed test
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

Update integration test to use async wrapper (#796)
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

[PerfTest] Perf Test Suite for dataflow engine otlp logs (#802)
  tools/pipeline_perf_test/backend/backend.py
  tools/pipeline_perf_test/backend/tests/test_receiver.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/execution/pipeline_perf_loadgen.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/pipeline_perf_report.py
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/README.md
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/collector-config-without-batch-processor.yaml
  tools/pipeline_perf_test/test_suites/dataflow_engine_e2e_logs/test-suite-comparison.yaml
Due: none

Create a mini_collector example
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/controller/Cargo.toml
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/examples/mini_collector.rs
Due: otap-dataflow

Feature retry processor (v2) (#783)
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
  rust/otap-dataflow/crates/engine/Cargo.toml
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/retry_processor.rs
Due: otap-dataflow

Update prepare-release to increment otelarrowcol-build.yaml version
  .github/workflows/prepare-release.yml
  .github/workflows/scripts/create-release-branch.sh
  collector/otelarrowcol-build.yaml
Due: none

Add changelog
  CHANGELOG.md
Due: none

lazily deserialize pdata
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otap/src/grpc/otlp.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

Update prepare-release to increment otelarrowcol-build.yaml version (#804)
  .github/workflows/prepare-release.yml
  .github/workflows/scripts/create-release-branch.sh
  CHANGELOG.md
  collector/otelarrowcol-build.yaml
Due: none

Recordset engine API tweaks.
  rust/experimental/query_engine/engine-recordset2/src/engine.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/value_storage.rs
Due: none

[query-engine] Recordset2 engine API tweaks (#805)
  rust/experimental/query_engine/engine-recordset2/src/engine.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/value_storage.rs
Due: none

Add layout for bridge crate.
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/README.md
  rust/experimental/query_engine/engine-recordset-otlp-bridge/Cargo.toml
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/lib.rs
Due: none

[otap-dataflow] fix blocking calls from perf-exporter (#797)
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

feat: OTLP receiver that converts proto bytes to OTAP (#726)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otap/src/grpc/otlp.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

support linux psutil handling, docker dependency
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/build_docker_image.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/network.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/tidy_existing_container.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/wait_for_status.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/sql_report.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/monitoring/process_component.py
Due: none

restore previous backend signal handling, remove sqlreport
  tools/pipeline_perf_test/backend/backend.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/sql_report.py
Due: none

fix lint
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/monitoring/process_component.py
Due: none

Improve logging in run_pipeline_thread
  rust/otap-dataflow/crates/controller/src/lib.rs
Due: otap-dataflow

Add coalesce scalar expression.
  rust/experimental/query_engine/engine-recordset2/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none

Create list of control senders
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
Due: otap-dataflow

Tweaks.
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none
