Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

fix :-)
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

remove dead code
  rust/experimental/query_engine/engine-columnar/src/engine.rs
  rust/experimental/query_engine/engine-columnar/src/lib.rs
  rust/experimental/query_engine/engine-columnar/src/out_port.rs
Due: none

add start_periodic_telemetry calls in various processors and receivers (#1306)
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

OTLP receiver: new Settings with support for wait_for_result (#1321)
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 32b3217385531d25d10f05571a390b06720f5e90
  docs/benchmarks/continuous/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for e74cd49091d06d5f88cb2ce56eed50b4f519ca65
  docs/benchmarks/continuous/data.js
Due: none

[otap-dataflow] Fix batch_processor loss of NodeConfig (#1322)
  rust/otap-dataflow/configs/fake-batch-perf-issue-1310.yaml
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
  rust/otap-dataflow/crates/otap/tests/smoke_fake_batch_issue_1310.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 897561e7b02e7c12ffcfcfd92e97093b2eb8dc8b
  docs/benchmarks/continuous/data.js
Due: none

tested
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

update to return error on certain arrow calls that compare two columns and return a result to be extra safe
  rust/otap-dataflow/configs/fake-filter-debug-noop.yaml
  rust/otel-arrow-rust/src/error.rs
  rust/otel-arrow-rust/src/otap/filter.rs
  rust/otel-arrow-rust/src/otap/filter/logs.rs
Due: otap-dataflow, otel-arrow-rust

fix extra space in yaml and bare link in the readme
  rust/otap-dataflow/configs/fake-filter-debug-noop.yaml
  rust/otap-dataflow/crates/otap/src/filter_processor/README.md
Due: otap-dataflow

wip
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

Tests and improvements.
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

revert wait_for_result=true
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

Update rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

revert wait_for_result=true (#1328)
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 039b5b60f8d993f29324c27502f1e526528e529e
  docs/benchmarks/continuous/data.js
Due: none

num_items computed once
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

clean up filring code and add more not tests
  rust/experimental/query_engine/engine-columnar/examples/ex2.rs
  rust/experimental/query_engine/engine-columnar/src/engine.rs
Due: none

added filtering for resource/scope fields
  rust/experimental/query_engine/engine-columnar/examples/ex3.rs
  rust/experimental/query_engine/engine-columnar/src/engine.rs
Due: none

added correct behaviour for filtering on scope & resource attributes
  rust/experimental/query_engine/engine-columnar/src/engine.rs
Due: none

comments
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/error.rs
Due: otap-dataflow

revert retry processor
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

revert error
  rust/otap-dataflow/crates/engine/src/error.rs
Due: otap-dataflow

revert serde_with
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
Due: otap-dataflow

typo
  rust/otap-dataflow/crates/engine/src/control.rs
Due: otap-dataflow

[query-engine] GetType support (#1329)
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value_type.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

use emptyattributes
  rust/otap-dataflow/crates/telemetry/src/collector.rs
  rust/otap-dataflow/crates/telemetry/src/registry.rs
Due: otap-dataflow

revert/comment
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/telemetry/src/testing/mod.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 378a2b6f2c95a495e1262b62f0b3b778ed2f40a9
  docs/benchmarks/continuous/data.js
Due: none

Add license header
  rust/otap-dataflow/crates/otap/tests/smoke_fake_batch_issue_1310.rs
Due: otap-dataflow

Realphabetize
  README.md
Due: none

license header
  rust/otap-dataflow/crates/otap/tests/smoke_fake_batch_issue_1310.rs
Due: otap-dataflow

streamline contributing docs
  CONTRIBUTING.md
  rust/otap-dataflow/CONTRIBUTING.md
Due: otap-dataflow

Revert "license header"
  rust/otap-dataflow/crates/otap/tests/smoke_fake_batch_issue_1310.rs
Due: otap-dataflow
