Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

fix failing test
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
Due: otel-arrow-rust

temporarily remove arrow payload compression in benchmark suites
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/otap-attr-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/otlp-attr-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/syslog-attr-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/loadgen/config.yaml.j2
Due: none

use simdutf8 in cbor encoding
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/encoder/cbor.rs
Due: otap-dataflow

[otap-df-otap] Update Syslog parser for improved RFC 3164 compliance (#1200)
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/mod.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/rfc3164.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 106a102213cf76bc5f5dd973b680d09752660d68
  docs/benchmarks/pipeline-perf/data.js
Due: none

update out_port mode to check for connected ports
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/output.rs
Due: otap-dataflow

syslog-cef: telemetry fixes per review
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

Implement fmt_with_indent for text scalar expressions.
  rust/experimental/query_engine/expressions/src/scalars/text_scalar_expression.rs
Due: none

Fix format
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/rfc5424.rs
Due: otap-dataflow

[otap-df-otap] Add support for BOM detection for Syslog parser for RFC 5424 (#1201)
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/rfc5424.rs
Due: otap-dataflow

[PerfTest] temporarily remove arrow payload compression in benchmark suites (#1204)
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/otap-attr-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/otlp-attr-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/syslog-attr-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/loadgen/config.yaml.j2
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 7e580486ce9f307caa52ff97cd21a93b92c1a9ac
  docs/benchmarks/pipeline-perf/data.js
Due: none

Report pipeline error and panic events
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/state/src/store.rs
Due: otap-dataflow

Add fake-otap.yaml config for test purposes
  rust/otap-dataflow/configs/fake-otap.yaml
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

Improve exporter errors
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/state/src/store.rs
Due: otap-dataflow

Fix clippy issues
  rust/otap-dataflow/crates/state/src/store.rs
Due: otap-dataflow

Improve receiver error reporting
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

Improve processor error reporting
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

Revert "remove all dead code"
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
Due: otel-arrow-rust

PR feedback to add string key'd attr builder
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/attributes.rs
Due: otap-dataflow, otel-arrow-rust

some code cleanup
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
Due: otap-dataflow, otel-arrow-rust

fix stuff broke in merge main
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
Due: otap-dataflow

[query-engine] Implement fmt_with_indent for text scalar expressions (#1205)
  rust/experimental/query_engine/expressions/src/scalars/text_scalar_expression.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for c5b4386d171d4558c09e3305f1c958df79faaa38
  docs/benchmarks/pipeline-perf/data.js
Due: none

Change telemetry collection to use Rc<RefCell<MetricSet<SyslogCefReceiverMetrics>>> instead of tokio channel, remove noisy metrics
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

add unit test for bad utf-8 case
  rust/otel-arrow-rust/src/encode/record/array.rs
Due: otel-arrow-rust

Improve validation in KQL accessor expressions when source is referenced directly.
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

Tweaks.
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

[query-engine] Improve validation in KQL accessor expressions when source is referenced directly (#1210)
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 7c3962983ae901beebe451aba8d959a2ebabf17f
  docs/benchmarks/pipeline-perf/data.js
Due: none

update test to send invalid CEF log for UDP
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

handle grpc server cannot not ready in otlp exporter
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

remove commented code
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

update readme and added a config using the out_port setting in the debug_processor to test the update
  rust/otap-dataflow/configs/fake-debug-out-port.yaml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/output.rs
Due: otap-dataflow

clean up markdown
  rust/otap-dataflow/configs/fake-debug-out-port.yaml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/debug_processor/output.rs
Due: otap-dataflow

Fix signal type
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

Improve status report
  rust/otap-dataflow/crates/admin/src/pipeline_group.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/state/src/lib.rs
  rust/otap-dataflow/crates/state/src/store.rs
Due: otap-dataflow

[otap-df-otap] Fix signal type input in OTAP Exporter (#1215)
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

Optimize produce_bar method
  rust/otel-arrow-rust/src/encode/producer.rs
Due: otel-arrow-rust

Fix format
  rust/otel-arrow-rust/src/encode/producer.rs
Due: otel-arrow-rust

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
