Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

fix
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
Due: otap-dataflow

fix config
  rust/otap-dataflow/configs/otap-otap.yaml
  rust/otap-dataflow/configs/otap-otlp.yaml
  rust/otap-dataflow/configs/otlp-otap.yaml
  rust/otap-dataflow/configs/otlp-otlp.yaml
Due: otap-dataflow

missing timeout
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

OtlpProtoBytes Vec<u8> to bytes::Bytes to remove Vec::clone
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/filter_processor.rs
  rust/otap-dataflow/crates/otap/src/fixtures.rs
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/client.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/testing/mod.rs
  rust/otel-arrow-rust/src/otlp/common.rs
Due: otap-dataflow, otel-arrow-rust

Send multiple export requests in parallel
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

Remove LocalBoxFuture and replace it with our own implementation (no heap alloc).
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

Tune otlp_receiver TCP connection configuration
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

Add ACK and NACK support for OTAP Receiver
  rust/otap-dataflow/crates/otap/src/otap_grpc.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
Due: otap-dataflow

Fix clippy errors
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
Due: otap-dataflow

Fix ACK and NACK metrics
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

Tune otlp_receiver server configuration
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

Code changes
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 4165b8b384840c89e3eab8cf7b44694b293d3975
  docs/benchmarks/nightly/syslog/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 4165b8b384840c89e3eab8cf7b44694b293d3975
  docs/benchmarks/nightly/backpressure/data.js
Due: none

Update rust/otap-dataflow/docs/model_requirements.md
  rust/otap-dataflow/docs/model_requirements.md
Due: otap-dataflow

space
  rust/otap-dataflow/docs/model_requirements.md
Due: otap-dataflow

OpenTelemetry data model primer for OTAP-based query engines (#1353)
  rust/otap-dataflow/docs/model_requirements.md
Due: otap-dataflow

Apply suggestion from @utpilla
  rust/otap-dataflow/crates/otap/src/experimental/geneva_exporter/mod.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 752873fe128a034720f2b3ae2a38b7729419f74d
  docs/benchmarks/continuous/data.js
Due: none

Implement folding for array concat expression.
  rust/experimental/query_engine/expressions/src/scalars/collection_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_array_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_parse_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser.rs
Due: none

Update rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

Add tonic timeout config (#1356)
  rust/otap-dataflow/configs/otap-otap.yaml
  rust/otap-dataflow/configs/otap-otlp.yaml
  rust/otap-dataflow/configs/otlp-otap.yaml
  rust/otap-dataflow/configs/otlp-otlp.yaml
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter/config.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 04bd314ab4e064e4702a8c3730b48dfa30b57107
  docs/benchmarks/continuous/data.js
Due: none

add workflow to manually trigger perf-tests for a given pr
  .github/workflows/pipeline-perf-test-manual-pr.yaml
Due: none

Add backpressure
  rust/otap-dataflow/crates/otap/src/otap_grpc.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
Due: otap-dataflow

Merge with origin/main
  .github/workflows/go-ci.yml
  .github/workflows/ossf-scorecard.yml
  .github/workflows/rust-ci.yml
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/otap-dataflow/configs/otap-otap.yaml
  rust/otap-dataflow/configs/otap-otlp.yaml
  rust/otap-dataflow/configs/otlp-otap.yaml
  rust/otap-dataflow/configs/otlp-otlp.yaml
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter/config.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/docs/model_requirements.md
  tools/pipeline_perf_test/orchestrator/requirements.txt
Due: otap-dataflow

Add tests for timeout
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
Due: otap-dataflow

review comments
  rust/otap-dataflow/crates/otap/src/experimental/geneva_exporter/README.md
  rust/otap-dataflow/crates/otap/src/experimental/geneva_exporter/mod.rs
  rust/otap-dataflow/crates/otap/src/experimental/geneva_exporter/otlp-geneva.yaml
Due: otap-dataflow

[PerfTest] add workflow to manually trigger perf-tests for a given pr (#1361)
  .github/workflows/pipeline-perf-test-manual-pr.yaml
Due: none

compilation fix
  rust/otap-dataflow/crates/otap/src/experimental/geneva_exporter/mod.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for ae81a06ed253da7215d1cd9eb7338b7d431a2700
  docs/benchmarks/continuous/data.js
Due: none

[query-engine] Implement folding for array concat expression (#1360)
  rust/experimental/query_engine/expressions/src/scalars/collection_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_array_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_parse_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser.rs
Due: none

[otap-df-otap] Fix ACK and NACK metrics for OTLP Receiver (#1359)
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for cecabd3ade984053be54f9beb316cb163e58b444
  docs/benchmarks/continuous/data.js
Due: none
