Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

Enable df engine continuous benchmarks (#1283)
  .github/workflows/pipeline-perf-test-continuous.yml
  tools/pipeline_perf_test/test_suites/integration/configs/integration_report_logs.yaml
Due: none

Print ACK/NACK in debug_processor at detailed level (#1265)
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 4ed8aa6d1fdb70a2bbdd72574f0929d51e654251
  docs/benchmarks/continuous/data.js
  docs/benchmarks/continuous/index.html
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 4ed8aa6d1fdb70a2bbdd72574f0929d51e654251
  docs/benchmarks/pipeline-perf/data.js
Due: none

update the filters based on ids of removed rows
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otap-dataflow/crates/otap/src/filter_processor/filter_logs.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
Due: otap-dataflow

update continuous benchmark results page /w support for multi-test suite.
  docs/benchmarks/continuous/index.html
Due: none

Expose allow_undefined_keys on BridgeOptions.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge_options.rs
Due: none

Fix JSON example.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge_options.rs
Due: none

[query-engine] Expose allow_undefined_keys on BridgeOptions (#1286)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge_options.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 877b2cb3dddef09143c7cb20164fd0ba789dd210
  docs/benchmarks/pipeline-perf/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 877b2cb3dddef09143c7cb20164fd0ba789dd210
  docs/benchmarks/continuous/data.js
Due: none

support static message body, optional headers, and rename metric for consistancy
  tools/pipeline_perf_test/load_generator/loadgen.py
  tools/pipeline_perf_test/load_generator/tests/test_flask_api.py
  tools/pipeline_perf_test/load_generator/tests/test_log_record.py
  tools/pipeline_perf_test/load_generator/tests/test_worker_thread.py
Due: none

Promote Albert Lockett to maintainer
  README.md
Due: none

if delay fails, nack
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

PerfTest : Try running on CNCF self-hosted runner (#495)
  .github/workflows/pipeline-perf-test.yml
Due: none

Multi-tenant data plane pipeline configuration and first iteration of an internal plugin system (#470)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/channel/main.rs
  rust/otap-dataflow/benchmarks/benches/config/main.rs
  rust/otap-dataflow/crates/config/Cargo.toml
  rust/otap-dataflow/crates/config/README.md
  rust/otap-dataflow/crates/config/src/engine.rs
  rust/otap-dataflow/crates/config/src/error.rs
  rust/otap-dataflow/crates/config/src/experimental.rs
  rust/otap-dataflow/crates/config/src/lib.rs
  rust/otap-dataflow/crates/config/src/node.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/config/src/tenant.rs
  rust/otap-dataflow/crates/engine/README.md
  rust/otap-dataflow/crates/engine/src/config.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/mod.rs
  rust/otap-dataflow/crates/engine/src/shared/mod.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/mod.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/mock.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
  rust/otap-dataflow/deny.toml
Due: otap-dataflow

Pin actions/download-artifact to SemVer hash (#505)
  .github/workflows/pipeline-perf-test.yml
Due: none

chore: update rust toolchain and format otel-arrow-rust (#522)
  rust/otel-arrow-rust/benches/materialize_parent_id.rs
  rust/otel-arrow-rust/benches/otlp_bytes.rs
  rust/otel-arrow-rust/rust-toolchain.toml
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/otlp/metrics/exemplar.rs
  rust/otel-arrow-rust/src/pdata/otlp/model/src/lib.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
Due: otel-arrow-rust

Upgrade go to 1.24.3 (#508)
  .github/workflows/go-ci.yml
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  go/go.mod
Due: none

Add the OpenSSF Best Practices badge (#527)
  README.md
Due: none

Update the workflow to get ready for merge queue (#531)
  .github/workflows/go-ci.yml
  .github/workflows/repo-lint.yaml
  .github/workflows/rust-audit.yml
  .github/workflows/rust-ci.yml
Due: none

fix: time unit of DurationTimenixNano field should be `Duration_ns` (#517)
  go/pkg/otel/traces/arrow/all_test.go
  go/pkg/otel/traces/arrow/traces.go
Due: none

Use clippy --workspace and enable warning breaks (#523)
  .github/workflows/rust-ci.yml
  rust/experimental/syslog-cef-receivers/cef-receiver/src/lib.rs
  rust/experimental/syslog-cef-receivers/syslog-receiver/src/lib.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otel-arrow-rust/src/otap.rs
Due: otap-dataflow, otel-arrow-rust, syslog_cef_receivers

PerfTest - keep track of perf results using gh action (#491)
  .github/workflows/pipeline-perf-test.yml
  tools/pipeline_perf_test/orchestrator/lib/report/report.py
  tools/pipeline_perf_test/orchestrator/orchestrator.py
Due: none

Perf - Orchestrator, add configuration classes, factory, yaml loader (#511)
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/configuration_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/deployment_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/execution_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/hook_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/monitoring_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/reporting_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_step.py
  tools/pipeline_perf_test/orchestrator/lib/runner/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/runner/factory.py
  tools/pipeline_perf_test/orchestrator/lib/runner/registry.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/hook_config.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/loader.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/test_config.py
  tools/pipeline_perf_test/orchestrator/lib/runner/wrappers.py
Due: none

Perf - support hook execution and runtime data on test framework elements. (#493)
  tools/pipeline_perf_test/orchestrator/lib/core/component/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/component/component.py
  tools/pipeline_perf_test/orchestrator/lib/core/component/component_data.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/base.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/component_hook_context.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/test_contexts.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/test_element_hook_context.py
  tools/pipeline_perf_test/orchestrator/lib/core/runtime/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/runtime/runtime.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_data.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_definition.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_element.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_step.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_suite.py
Due: none

feat: basic parquet exporter (#488)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/config.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/object_store.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/partition.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/test/datagen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/writer.rs
  rust/otap-dataflow/deny.toml
  rust/otel-arrow-rust/src/otap.rs
Due: otap-dataflow, otel-arrow-rust

PerfTest - add more perf metrics to the output for trend tracking (#494)
  tools/pipeline_perf_test/orchestrator/lib/report/report.py
Due: none

Add OTAP Receiver and Exporter (#480)
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/mock.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/proto/mod.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otap-dataflow/crates/otlp/src/compression.rs
  rust/otap-dataflow/crates/otlp/src/grpc.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/mock.rs
  rust/otap-dataflow/xtask/src/main.rs
Due: otap-dataflow

Upgrade collector dependencies to 0.127.0 (#526)
  CHANGELOG.md
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go/go.mod
  go/go.sum
  go/pkg/datagen/metrics.go
Due: none

feat: decode traces record batches (#516)
  rust/otel-arrow-rust/.gitignore
  rust/otel-arrow-rust/src/arrays.rs
  rust/otel-arrow-rust/src/decode/decoder.rs
  rust/otel-arrow-rust/src/error.rs
  rust/otel-arrow-rust/src/otlp.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
  rust/otel-arrow-rust/src/otlp/traces/delta_decoder.rs
  rust/otel-arrow-rust/src/otlp/traces/related_data.rs
  rust/otel-arrow-rust/src/otlp/traces/span_event.rs
  rust/otel-arrow-rust/src/otlp/traces/span_event_store.rs
  rust/otel-arrow-rust/src/otlp/traces/span_link.rs
  rust/otel-arrow-rust/src/otlp/traces/span_links_store.rs
  rust/otel-arrow-rust/src/otlp/traces/spans_arrays.rs
  rust/otel-arrow-rust/src/otlp/traces/spans_status_arrays.rs
  rust/otel-arrow-rust/src/pdata/mod.rs
  rust/otel-arrow-rust/src/validation/otap.rs
  rust/otel-arrow-rust/src/validation/otlp.rs
Due: otel-arrow-rust

Perf - Add otel supporting functionality to framework context objects (#552)
  tools/pipeline_perf_test/orchestrator/lib/core/context/base.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/component_hook_context.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/test_contexts.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/test_element_hook_context.py
Due: none

chore: add `--all-targets` to `cargo xtask check` (#545)
  rust/otap-dataflow/xtask/src/main.rs
Due: otap-dataflow

Remove randomness in go tests to address flaky codecov (#555)
  pkg/benchmark/dataset/synthetic_dataset.go
  pkg/datagen/data_generator.go
  pkg/otel/arrow_record/producer_consumer_test.go
  pkg/otel/logs/validation_test.go
  pkg/otel/metrics/validation_test.go
  pkg/otel/traces/validation_test.go
  tools/logs_gen/main.go
  tools/metrics_gen/main.go
  tools/trace_gen/main.go
Due: none

Perf - remaining core telemetry support (#554)
  tools/pipeline_perf_test/orchestrator/lib/core/component/component.py
  tools/pipeline_perf_test/orchestrator/lib/core/component/component_data.py
  tools/pipeline_perf_test/orchestrator/lib/core/errors/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/errors/error_handler.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/base.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/configuration_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/deployment_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/execution_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/hook_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/monitoring_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/reporting_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/telemetry/log.py
  tools/pipeline_perf_test/orchestrator/lib/core/telemetry/test_event.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_data.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_definition.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_element.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_step.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_suite.py
Due: none

[query-engine] Add support for parsing KQL logical expressions (#578)
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

fix clippy CI for otel-arrow-rust (#592)
  rust/otel-arrow-rust/benches/otlp_bytes.rs
Due: otel-arrow-rust

Add batch_processor and tests (#347)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/engine/Cargo.toml
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/README.md
  rust/otap-dataflow/crates/otlp/src/grpc.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

[query-engine] Add basic transformation expressions into recordset engine (#590)
  rust/experimental/query_engine/engine-recordset/src/transform_expressions/clear_transformation_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform_expressions/mod.rs
  rust/experimental/query_engine/engine-recordset/src/transform_expressions/move_transformation_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform_expressions/remove_transformation_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform_expressions/set_transformation_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform_expressions/transformation_expression.rs
Due: none
