Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

Bump Socket2 to 0.6 (#709)
  rust/beaubourg/Cargo.toml
  rust/beaubourg/crates/receiver/Cargo.toml
  rust/otap-dataflow/crates/engine/Cargo.toml
Due: otap-dataflow, beaubourg

add main entrypoint, equiv configs and output formats to existing script
  tools/pipeline_perf_test/orchestrator/docs/plugins/README.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/report_writers.md
  tools/pipeline_perf_test/orchestrator/docs/reports/pipeline_perf_report.md
  tools/pipeline_perf_test/orchestrator/lib/cli/main.py
  tools/pipeline_perf_test/orchestrator/lib/cli/parser.py
  tools/pipeline_perf_test/orchestrator/lib/cli/telemetry.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/reporting_hook_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/common/report.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/pipeline_perf_report.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/process_report.py
  tools/pipeline_perf_test/orchestrator/requirements.txt
  tools/pipeline_perf_test/orchestrator/run_orchestrator.py
  tools/pipeline_perf_test/orchestrator/tox.ini
  tools/pipeline_perf_test/report_templates/gh_action_benchmark/pipeline_perf_report.j2
  tools/pipeline_perf_test/report_templates/gh_action_benchmark/process_report.j2
  tools/pipeline_perf_test/test_suites/README.md
  tools/pipeline_perf_test/test_suites/collector_batch_comparison/otel-collector/collector-config-with-batch-processor.yaml
  tools/pipeline_perf_test/test_suites/collector_batch_comparison/otel-collector/collector-config-without-batch-processor.yaml
  tools/pipeline_perf_test/test_suites/collector_batch_comparison/test-suite-docker.yaml
Due: none

Re-group Go mod dependency updates after subfolder move
  .github/renovate.json5
Due: none

Add PR Labeler workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

Extra line
  .github/labeler.yml
Due: none

Repo lint
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

Remove extra newline
  .github/labeler.yml
Due: none

add newline to test_suite yaml
  tools/pipeline_perf_test/test_suites/collector_batch_comparison/test-suite-docker.yaml
Due: none

note logging pipeline in config description
  tools/pipeline_perf_test/test_suites/collector_batch_comparison/test-suite-docker.yaml
Due: none

Update Collector/Collector-Contrib dependencies and undo commenting of replaces statement in otelarrowcol after another Collector-Contrib release
  collector/cmd/otelarrowcol/go.mod
  collector/otelarrowcol-build.yaml
Due: none

refactor retry approach, handle batches correctly
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
  rust/otap-dataflow/crates/engine/Cargo.toml
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/retry_processor.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/src/error.rs
  rust/otap-dataflow/src/lib.rs
  rust/otap-dataflow/src/retry_processor.rs
Due: otap-dataflow

update the otel contrib and builder version from 129 to 130
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
Due: none

update 'go.opentelemetry.io' packages in go from 1.35 to 1.36
  go/go.mod
  go/go.sum
Due: none

update changelog
  CHANGELOG.md
Due: none

update changelog to meet lint requirements
  CHANGELOG.md
Due: none

Update Collector/Collector-Contrib dependencies and undo commenting of replaces statement in otelarrowcol after another Collector-Contrib release (#718)
  CHANGELOG.md
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go/go.mod
  go/go.sum
Due: none

update fake_signal.rs to use builder for creating otlp signals
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/config.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_data.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_signal.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
Due: otap-dataflow

Add PR Labeler workflow (#716)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

Re-group Go mod dependency updates after subfolder move (#715)
  .github/renovate.json5
Due: none

Upgrade go.opentelemetry.io/otel and otel/metric to v1.37.0
  go/go.mod
  go/go.sum
Due: none

[perf] Leverage spatial locality of reference for OTAP conversion (#703)
  rust/otap-dataflow/crates/otap/src/encoder.rs
Due: otap-dataflow

Upgrade go.opentelemetry.io/otel and otel/metric to v1.37.0 (#720)
  go/go.mod
  go/go.sum
Due: none

add logs receiver for otlp bytes directly to otap
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otap/src/grpc/otlp.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
Due: otap-dataflow

fix flakey test
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
Due: otap-dataflow

perf: additional OTAP encoding optimizations
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/otap_encoder/main.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/encoder/cbor.rs
  rust/otap-dataflow/crates/otap/src/encoder/error.rs
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/binary.rs
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
  rust/otel-arrow-rust/src/encode/record/array/prefix.rs
  rust/otel-arrow-rust/src/encode/record/array/primitive.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
Due: otap-dataflow, otel-arrow-rust

fix clippy
  rust/otel-arrow-rust/src/encode/record/array.rs
Due: otel-arrow-rust

fix flakey test (#723)
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
Due: otap-dataflow

made some good progress on this
  rust/otap-dataflow/crates/otap/src/grpc/otlp.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
Due: otap-dataflow

fix test
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/README.md
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_data.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_signal.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
Due: otap-dataflow

PR feedback 1
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/binary.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/prefix.rs
  rust/otel-arrow-rust/src/encode/record/array/primitive.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
Due: otel-arrow-rust

PR feedback 2
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
Due: otap-dataflow, otel-arrow-rust

PR feedback 3
  rust/otap-dataflow/crates/otap/src/encoder/cbor.rs
Due: otap-dataflow

fix deny.toml for serde_cbor
  rust/otap-dataflow/deny.toml
Due: otap-dataflow

more codecov
  rust/otel-arrow-rust/src/encode/record/array/binary.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
Due: otel-arrow-rust

Refactor static resolution API.
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/resolved_static_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

Lint.
  rust/experimental/query_engine/expressions/src/scalars/statics/resolved_static_scalar_expression.rs
Due: none

[query-engine] Refactor static resolution API (#725)
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/resolved_static_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

finish impl
  rust/otap-dataflow/crates/otap/src/grpc/otlp.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otel-arrow-rust/src/otap.rs
Due: otap-dataflow, otel-arrow-rust

code cleanup
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
