Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

fix clippy
  rust/otel-arrow-rust/src/decode/decoder.rs
Due: otel-arrow-rust

consolidate workflows
  .github/workflows/crosscutting-ci.yaml
  .github/workflows/repo-lint.yaml
Due: none

fix line ending by using LF consistently
  .github/repository-settings.md
Due: none

fix trailing spaces
  .github/workflows/pipeline-perf-test.yml
Due: none

python
  tools/pipeline_perf_test/orchestrator/orchestrator.py
Due: none

codecov.xml
  codecov.yaml
Due: none

EOL before EOF
  .github/workflows/pipeline-perf-test.yml
Due: none

update ci file, add nextest.toml
  .github/workflows/rust-ci.yml
  rust/otap-dataflow/nextest.toml
Due: otap-dataflow

simple OTLP object to bytes
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/benches/otlp_bytes.rs
  rust/otel-arrow-rust/src/pdata/mod.rs
Due: otel-arrow-rust

Add crosscutting CI workflow with sanity check (#373)
  .github/workflows/repo-lint.yaml
  tools/sanitycheck.py
Due: none

[Editorial] fix line ending by using LF consistently (#393)
  .github/repository-settings.md
  .github/workflows/pipeline-perf-test.yml
  codecov.yaml
Due: none

EOL before EOF
  tools/pipeline_perf_test/orchestrator/orchestrator.py
Due: none

non-empty markdown file
  rust/otap-dataflow/xtask/README.md
  tools/pipeline_perf_test/readme.md
Due: otap-dataflow

Add initial structure for micro-benchmark tests with Criterion
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/README.md
  rust/otap-dataflow/benchmarks/benches/config/main.rs
Due: otap-dataflow

Fix member formatting and pin criterion to patch version in otap-dataflow
  rust/otap-dataflow/Cargo.toml
Due: otap-dataflow

add compression support to exporter
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/mock.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
Due: otap-dataflow

removed tonic and prost from xtask dependencies (fixes cargo deny check)
  rust/otap-dataflow/xtask/Cargo.toml
Due: otap-dataflow

[Editorial] remove trailing spaces, avoid empty file, avoid non-ASCII characters (#394)
  .github/workflows/pipeline-perf-test.yml
  rust/otap-dataflow/xtask/README.md
  tools/pipeline_perf_test/orchestrator/orchestrator.py
  tools/pipeline_perf_test/readme.md
Due: otap-dataflow

[otap-dataflow] Update tests (#358)
  rust/otap-dataflow/crates/channel/src/mpmc.rs
  rust/otap-dataflow/crates/channel/src/mpsc.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
Due: otap-dataflow

perf: Add basic orchestration to spin up collector and loadtest
  .github/workflows/pipeline-perf-test.yml
  tools/pipeline_perf_test/orchestrator/orchestrator.py
Due: none

Address regression in OpenSSF Token-Permissions
  .github/workflows/go-ci.yml
  .github/workflows/pipeline-perf-test.yml
Due: none

remove empty
  rust/otel-arrow-rust/src/test_util/expect_value.rs
Due: otel-arrow-rust

add loadgen
  tools/pipeline_perf_test/load_generator/loadgen.py
  tools/pipeline_perf_test/load_generator/requirements.txt
  tools/pipeline_perf_test/system_under_test/otel-collector/collector-config.yaml
Due: none

sanity fix
  .github/workflows/pipeline-perf-test.yml
  tools/pipeline_perf_test/load_generator/loadgen.py
  tools/pipeline_perf_test/orchestrator/orchestrator.py
  tools/pipeline_perf_test/system_under_test/otel-collector/collector-config.yaml
Due: none

remove upload results for now
  .github/workflows/pipeline-perf-test.yml
Due: none

fix markdownlint and fmt checks
  rust/otap-dataflow/benchmarks/README.md
  rust/otap-dataflow/benchmarks/benches/config/main.rs
Due: otap-dataflow

remove emojis / restore sanity.
  rust/otap-dataflow/README.md
  rust/otap-dataflow/benchmarks/README.md
Due: otap-dataflow

Add Drew Relmas as a Maintainer in OTel-Arrow
  README.md
Due: none

add loadgen
  tools/pipeline_perf_test/load_generator/loadgen.py
  tools/pipeline_perf_test/orchestrator/orchestrator.py
Due: none

fix sanity
  tools/pipeline_perf_test/load_generator/loadgen.py
  tools/pipeline_perf_test/orchestrator/orchestrator.py
Due: none

restored the opentelemetry-proto submodule, updated the xtask to use the proto files from the opentelemetry-proto submodule. Renamed grpc_stubs -> proto
  rust/otap-dataflow/crates/otlp/proto/opentelemetry/proto/collector/README.md
  rust/otap-dataflow/crates/otlp/proto/opentelemetry/proto/collector/logs/v1/logs_service.proto
  rust/otap-dataflow/crates/otlp/proto/opentelemetry/proto/collector/logs/v1/logs_service_http.yaml
  rust/otap-dataflow/crates/otlp/proto/opentelemetry/proto/collector/metrics/v1/metrics_service.proto
  rust/otap-dataflow/crates/otlp/proto/opentelemetry/proto/collector/metrics/v1/metrics_service_http.yaml
  rust/otap-dataflow/crates/otlp/proto/opentelemetry/proto/collector/profiles/v1development/profiles_service.proto
  rust/otap-dataflow/crates/otlp/proto/opentelemetry/proto/collector/profiles/v1development/profiles_service_http.yaml
  rust/otap-dataflow/crates/otlp/proto/opentelemetry/proto/collector/trace/v1/trace_service.proto
  rust/otap-dataflow/crates/otlp/proto/opentelemetry/proto/collector/trace/v1/trace_service_http.yaml
  rust/otap-dataflow/crates/otlp/proto/opentelemetry/proto/common/v1/common.proto
  rust/otap-dataflow/crates/otlp/proto/opentelemetry/proto/logs/v1/logs.proto
  rust/otap-dataflow/crates/otlp/proto/opentelemetry/proto/metrics/v1/metrics.proto
  rust/otap-dataflow/crates/otlp/proto/opentelemetry/proto/profiles/v1development/profiles.proto
  rust/otap-dataflow/crates/otlp/proto/opentelemetry/proto/resource/v1/resource.proto
  rust/otap-dataflow/crates/otlp/proto/opentelemetry/proto/trace/v1/trace.proto
  rust/otap-dataflow/crates/otlp/src/grpc.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/proto/mod.rs
  rust/otap-dataflow/crates/otlp/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otap-dataflow/crates/otlp/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otap-dataflow/crates/otlp/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otap-dataflow/crates/otlp/src/proto/opentelemetry.proto.common.v1.rs
  rust/otap-dataflow/crates/otlp/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otap-dataflow/crates/otlp/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otap-dataflow/crates/otlp/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otap-dataflow/crates/otlp/src/proto/opentelemetry.proto.trace.v1.rs
  rust/otap-dataflow/xtask/src/main.rs
Due: otap-dataflow

adding opentelemetry-proto directory
  proto/opentelemetry-proto/.foo
Due: none

removed file used to check in the opentelemetry-proto submodule
  proto/opentelemetry-proto/.foo
Due: none

add fake backend
  tools/pipeline_perf_test/backend/Dockerfile
  tools/pipeline_perf_test/backend/backend.py
  tools/pipeline_perf_test/backend/requirements.txt
  tools/pipeline_perf_test/orchestrator/orchestrator.py
  tools/pipeline_perf_test/system_under_test/otel-collector/collector-config.yaml
Due: none

[otap-dataflow] add criterion initial structure and benchmark test (#398)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/README.md
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/README.md
  rust/otap-dataflow/benchmarks/benches/config/main.rs
Due: otap-dataflow

cleaned up some errors
  rust/otap-dataflow/crates/otlp/src/grpc.rs
  rust/otap-dataflow/crates/otlp/src/mock.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
Due: otap-dataflow

fix some incompatibilities between Go and Rust schemas (#390)
  rust/otel-arrow-rust/src/arrays.rs
  rust/otel-arrow-rust/src/error.rs
  rust/otel-arrow-rust/src/otlp/attributes/parent_id.rs
  rust/otel-arrow-rust/src/otlp/attributes/store.rs
  rust/otel-arrow-rust/src/otlp/data_points/histogram.rs
  rust/otel-arrow-rust/src/otlp/exemplar.rs
  rust/otel-arrow-rust/src/otlp/metric.rs
  rust/otel-arrow-rust/src/validation/otlp.rs
Due: otel-arrow-rust

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
