Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

PR feedback 2
  rust/otel-arrow-rust/src/otlp/common.rs
Due: otel-arrow-rust

made proto buf const where possible
  rust/otel-arrow-rust/src/otlp/common.rs
Due: otel-arrow-rust

avoid copying byte slice when accessing OTAP byte arrays
  rust/otel-arrow-rust/src/arrays.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
Due: otel-arrow-rust

PR feedback
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
Due: otel-arrow-rust

fix invalid example configs
  rust/otap-dataflow/configs/fake-debug-noop.yaml
  rust/otap-dataflow/configs/fake-otlp.yaml
  rust/otap-dataflow/configs/fake-parquet.yaml
  rust/otap-dataflow/configs/fake-perf.yaml
  rust/otap-dataflow/configs/otap-otap.yaml
  rust/otap-dataflow/configs/otap-otlp.yaml
  rust/otap-dataflow/configs/otap-perf.yaml
  rust/otap-dataflow/configs/otlp-otap.yaml
  rust/otap-dataflow/configs/otlp-otlp.yaml
  rust/otap-dataflow/configs/otlp-perf.yaml
Due: otap-dataflow

[otap-dataflow] BatchProcessor internal telemetry (#1076)
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
  rust/otap-dataflow/crates/otap/src/otap_batch_processor/metrics.rs
Due: otap-dataflow

save
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 9ddb78ee31c5182d4d145a3ba5f72d9da2fe024e
  docs/benchmarks/pipeline-perf/data.js
Due: none

task: update missed urn for fake_data_generator
  rust/otap-dataflow/configs/fake-otlp.yaml
Due: otap-dataflow

fix invalid example configs (#1117)
  rust/otap-dataflow/configs/fake-debug-noop.yaml
  rust/otap-dataflow/configs/fake-otlp.yaml
  rust/otap-dataflow/configs/fake-parquet.yaml
  rust/otap-dataflow/configs/fake-perf.yaml
  rust/otap-dataflow/configs/otap-otap.yaml
  rust/otap-dataflow/configs/otap-otlp.yaml
  rust/otap-dataflow/configs/otap-perf.yaml
  rust/otap-dataflow/configs/otlp-otap.yaml
  rust/otap-dataflow/configs/otlp-otlp.yaml
  rust/otap-dataflow/configs/otlp-perf.yaml
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 8e81c645ee8ef6b679a2c3f402c67966c3c01b2d
  docs/benchmarks/pipeline-perf/data.js
Due: none

task: update missed urn for fake_data_generator (#1118)
  rust/otap-dataflow/configs/fake-otlp.yaml
Due: otap-dataflow

[otel-arrow-rust] Simplify OtapBatchStore (#1111)
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/groups.rs
Due: otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 9b5e6f9e6a561c3767f1742c8ab3369b6e41d3f1
  docs/benchmarks/pipeline-perf/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 3cdc212536e884d5cdef4793c709e67ce0c83254
  docs/benchmarks/pipeline-perf/data.js
Due: none

apply fix replacing vec with option<vec> for the signal mode logic
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
Due: otap-dataflow

feat: improve performance of dictionary unification code in batching (#1105)
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/src/otap/groups.rs
Due: otel-arrow-rust

fix cargo clippy
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
Due: otap-dataflow

replaced closure with vec::new in .then()
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for cb81a65cd8dfedf0fdd16a119f1ad5a8ecdaae29
  docs/benchmarks/pipeline-perf/data.js
Due: none

Encode OTAP -> OTLP proto bytes directly (#1109)
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/resource.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/traces.rs
  rust/otel-arrow-rust/src/arrays.rs
  rust/otel-arrow-rust/src/decode/decoder.rs
  rust/otel-arrow-rust/src/otlp.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/otlp/logs/related_data.rs
  rust/otel-arrow-rust/src/proto/consts.rs
  rust/otel-arrow-rust/src/proto/mod.rs
Due: otap-dataflow, otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for ef208f1b0d5bb159e86a60356748226ff9d1f865
  docs/benchmarks/pipeline-perf/data.js
Due: none

revert admin
  rust/otap-dataflow/crates/admin/src/lib.rs
  rust/otap-dataflow/crates/admin/src/pipeline.rs
  rust/otap-dataflow/crates/admin/src/pipeline_group.rs
  rust/otap-dataflow/crates/admin/src/telemetry.rs
Due: otap-dataflow

[otap-dataflow] Add OutputMode to the DebugProcessor (#1108)
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/detailed_marshaler.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/marshaler.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/normal_marshaler.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 7e81f6a4cad773deb34c4a89de10cd17ed1c28b0
  docs/benchmarks/pipeline-perf/data.js
Due: none

Optimize iterators
  rust/otel-arrow-rust/src/otap.rs
Due: otel-arrow-rust

Fix typo
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/proto/consts.rs
Due: otap-dataflow, otel-arrow-rust

Fix typo (#1125)
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/proto/consts.rs
Due: otap-dataflow, otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 5690c36338ba6be2be22efbe596234b0d99537f5
  docs/benchmarks/pipeline-perf/data.js
Due: none

[otel-arrow-rust] Minor optimization for batch_length method (#1124)
  rust/otel-arrow-rust/src/otap.rs
Due: otel-arrow-rust

Add <PData> to PipelineCtrlMsg
  rust/otap-dataflow/crates/admin/src/lib.rs
  rust/otap-dataflow/crates/admin/src/pipeline_group.rs
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 551fab727d01f2eeabcfe6f8e72049480ff68e6b
  docs/benchmarks/pipeline-perf/data.js
Due: none

Minor refactoring
  rust/otap-dataflow/crates/pdata-views/src/views/metrics.rs
  rust/otap-dataflow/crates/telemetry/src/instrument.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/groups.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
Due: otap-dataflow, otel-arrow-rust

Extend parser schema into child maps.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser.rs
Due: none

update tests
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
Due: otap-dataflow

Tweaks.
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser.rs
Due: none

Minor refactoring (#1128)
  rust/otap-dataflow/crates/pdata-views/src/views/metrics.rs
  rust/otap-dataflow/crates/telemetry/src/instrument.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/groups.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
Due: otap-dataflow, otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 77995ce00ce72061ad90dbcdbf7db3073367090e
  docs/benchmarks/pipeline-perf/data.js
Due: none

added spans arrays and made attr handling generic
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
  rust/otel-arrow-rust/src/otlp/traces/span_event.rs
  rust/otel-arrow-rust/src/otlp/traces/span_event_arrays.rs
  rust/otel-arrow-rust/src/otlp/traces/span_event_store.rs
  rust/otel-arrow-rust/src/otlp/traces/span_link.rs
  rust/otel-arrow-rust/src/otlp/traces/span_link_arrays.rs
  rust/otel-arrow-rust/src/otlp/traces/span_links_store.rs
Due: otel-arrow-rust

added a bunch more fields to encodings
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
  rust/otel-arrow-rust/src/otlp/traces/span_event.rs
  rust/otel-arrow-rust/src/otlp/traces/span_event_arrays.rs
  rust/otel-arrow-rust/src/otlp/traces/span_event_store.rs
  rust/otel-arrow-rust/src/otlp/traces/spans_arrays.rs
Due: otel-arrow-rust

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
