Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

Optimize AttributesProcessor
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Due: otap-dataflow

Cleanup.
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
Due: none

[query-engine] KQL Pratt parsing (#1174)
  rust/experimental/query_engine/engine-recordset/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_array_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

wip new attempt
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/channel/src/error.rs
  rust/otap-dataflow/crates/engine/Cargo.toml
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/node.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

Improve formatting of diagnostics when displayed.
  rust/experimental/query_engine/engine-recordset/src/engine.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for b8ee8073ebf5862fcea798f889465c038982cd9d
  docs/benchmarks/pipeline-perf/data.js
Due: none

Upgrade collector dependencies to 0.136.0/1.42.0
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go/go.mod
  go/go.sum
Due: none

Changelog
  CHANGELOG.md
Due: none

Optimize transform
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otap-dataflow, otel-arrow-rust

[query-engine] Improve formatting of diagnostics when displayed (#1175)
  rust/experimental/query_engine/engine-recordset/src/engine.rs
Due: none

Code changes
  rust/otel-arrow-rust/benches/attribute_transform.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

Fix format
  rust/otel-arrow-rust/benches/attribute_transform.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 35d23213e095b1342d79231f17fc0f55db1a9e1e
  docs/benchmarks/pipeline-perf/data.js
Due: none

add internal telemetry for cef_receiver
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

add delay
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

move test only constructor
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

Update benchmarks
  rust/otel-arrow-rust/benches/attribute_transform.rs
Due: otel-arrow-rust

Fix format
  rust/otel-arrow-rust/benches/attribute_transform.rs
Due: otel-arrow-rust

Add support for friendly display of PipelineExpression.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/common/mod.rs
  rust/experimental/query_engine/engine-recordset/src/engine.rs
  rust/experimental/query_engine/expressions/src/data_expressions.rs
  rust/experimental/query_engine/expressions/src/expression.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/temporal_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
Due: none

[query-engine] Add support for friendly display of PipelineExpression (#1178)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/common/mod.rs
  rust/experimental/query_engine/engine-recordset/src/engine.rs
  rust/experimental/query_engine/expressions/src/data_expressions.rs
  rust/experimental/query_engine/expressions/src/expression.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/temporal_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
Due: none

[perf] Avoid allocations in transform plan creation hot-path (#1177)
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otel-arrow-rust/benches/attribute_transform.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otap-dataflow, otel-arrow-rust

[perf][otap-df-otap] Avoid HashSet lookups in AttributesProcessor (#1173)
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 72f9be6efe77d6ab36cf0dbb11e8caf07468dc90
  docs/benchmarks/pipeline-perf/data.js
Due: none

Update Conditional formatting.
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none

[query-engine] Update Conditional formatting when displayed (#1179)
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none

retry metrics
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 3691b46508e67aba4b52e136974e19fc70f76a8d
  docs/benchmarks/pipeline-perf/data.js
Due: none

Optimize transform
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

Code changes
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

exporter
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

comments on receiver context
  rust/otap-dataflow/crates/otap/src/otlp_grpc.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

otlp_grpc is not production
  rust/otap-dataflow/crates/otap/src/otlp_grpc.rs
Due: otap-dataflow

subscribe_to is not async
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

Upgrade collector dependencies to 0.136.0/1.42.0 (#1176)
  CHANGELOG.md
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go/go.mod
  go/go.sum
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 7398745790e48fe41071bfece21194be4b55986d
  docs/benchmarks/pipeline-perf/data.js
Due: none

Implement fmt_with_indent for more expressions.
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/expressions/src/value_expressions.rs
Due: none

Tweaks.
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
