Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

Split local and shared node implementations
  rust/otap-dataflow/crates/engine/src/config.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/mod.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/pipeline.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/mod.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
Due: otap-dataflow

attributes_by_
  rust/otel-arrow-rust/src/otlp/attributes/store.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/otlp/metrics.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/exp_histogram.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/histogram.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/number.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/summary.rs
  rust/otel-arrow-rust/src/otlp/metrics/exemplar.rs
Due: otel-arrow-rust

skeleton
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/benches/attribute_store_bench.rs
  rust/otel-arrow-rust/docs/attribute_store_comparison.md
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/attributes/store.rs
  rust/otel-arrow-rust/src/otlp/attributes/store2.rs
Due: otel-arrow-rust

Convert Exporter to the new design
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/engine/src/config.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/mod.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/pipeline.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/mod.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/otlp/src/proto/mod.rs
Due: otap-dataflow

Fix all clippy issues
  rust/otap-dataflow/crates/otlp/src/proto/mod.rs
Due: otap-dataflow

Code clean up
  rust/otap-dataflow/crates/engine/Cargo.toml
Due: otap-dataflow

feat: support deserializing list/map attributes
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/src/error.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/attributes/cbor.rs
  rust/otel-arrow-rust/src/otlp/attributes/store.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/validation/otlp.rs
  rust/otel-arrow-rust/src/validation/testdata.rs
Due: otel-arrow-rust

cleanup cbor decoder
  rust/otel-arrow-rust/src/otlp/attributes/cbor.rs
Due: otel-arrow-rust

Remove date-specific comment
  .github/workflows/rust-audit.yml
Due: none

Remove date-specific comment
  .github/workflows/rust-ci.yml
Due: none

Add with: tool: cargo-llvm-cov
  .github/workflows/rust-ci.yml
Due: none

Enable gomodTidy in renovate config
  .github/renovate.json5
Due: none

Add comment
  .github/renovate.json5
Due: none

Format
  .github/renovate.json5
Due: none

comments
  rust/otel-arrow-rust/benches/otlp_bytes.rs
  rust/otel-arrow-rust/src/pdata/mod.rs
Due: otel-arrow-rust

Enable gomodTidy in Renovate config (#436)
  .github/renovate.json5
Due: none

Fix the OTAP metric round-trip test (#424)
  rust/otel-arrow-rust/src/validation/otap.rs
  rust/otel-arrow-rust/src/validation/otlp.rs
Due: otel-arrow-rust

feat: support decoding list/map attributes (#434)
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/src/error.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/attributes/cbor.rs
  rust/otel-arrow-rust/src/otlp/attributes/store.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/validation/otlp.rs
  rust/otel-arrow-rust/src/validation/testdata.rs
Due: otel-arrow-rust

fix clippy for otel-arrow-rust
  rust/otel-arrow-rust/.clippy.toml
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/src/otlp/attributes/store.rs
  rust/otel-arrow-rust/src/otlp/metrics.rs
  rust/otel-arrow-rust/src/pdata/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
  rust/otel-arrow-rust/src/proto/mod.rs
  rust/otel-arrow-rust/src/validation/collector.rs
  rust/otel-arrow-rust/src/validation/scenarios.rs
  rust/otel-arrow-rust/src/validation/tcp_stream.rs
  rust/otel-arrow-rust/src/validation/testdata.rs
Due: otel-arrow-rust

fix rust lints
  rust/otel-arrow-rust/.clippy.toml
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/build.rs
  rust/otel-arrow-rust/src/arrays.rs
  rust/otel-arrow-rust/src/decode/decoder.rs
  rust/otel-arrow-rust/src/lib.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/otlp/metrics.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/histogram.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/summary.rs
  rust/otel-arrow-rust/src/otlp/metrics/exemplar.rs
  rust/otel-arrow-rust/src/pdata/mod.rs
  rust/otel-arrow-rust/src/proto/mod.rs
  rust/otel-arrow-rust/src/validation/collector.rs
  rust/otel-arrow-rust/src/validation/otap.rs
  rust/otel-arrow-rust/src/validation/service_type.rs
Due: otel-arrow-rust

fix cargo lints
  rust/otel-arrow-rust/Cargo.toml
Due: otel-arrow-rust

fix conflicts after rebase
  rust/otel-arrow-rust/src/validation/testdata.rs
Due: otel-arrow-rust

fix clippy & rust linter config and issues in otel-arrow-rust (#435)
  rust/otel-arrow-rust/.clippy.toml
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/build.rs
  rust/otel-arrow-rust/src/arrays.rs
  rust/otel-arrow-rust/src/decode/decoder.rs
  rust/otel-arrow-rust/src/lib.rs
  rust/otel-arrow-rust/src/otlp/attributes/store.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/otlp/metrics.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/histogram.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/summary.rs
  rust/otel-arrow-rust/src/otlp/metrics/exemplar.rs
  rust/otel-arrow-rust/src/pdata/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
  rust/otel-arrow-rust/src/proto/mod.rs
  rust/otel-arrow-rust/src/validation/collector.rs
  rust/otel-arrow-rust/src/validation/otap.rs
  rust/otel-arrow-rust/src/validation/scenarios.rs
  rust/otel-arrow-rust/src/validation/service_type.rs
  rust/otel-arrow-rust/src/validation/tcp_stream.rs
  rust/otel-arrow-rust/src/validation/testdata.rs
Due: otel-arrow-rust

wip
  rust/otel-arrow-rust/benches/attribute_store_bench.rs
  rust/otel-arrow-rust/src/otlp/attributes/store2.rs
Due: otel-arrow-rust

use new From
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

unformat
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

lint
  rust/otel-arrow-rust/benches/otlp_bytes.rs
Due: otel-arrow-rust

Code clean up
  rust/otap-dataflow/crates/engine/src/config.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/pipeline.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
Due: otap-dataflow

accept OTLPRequest objects and use them in tests for batch_processor
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/batch_processor.rs
Due: otap-dataflow

missing docs allowed
  rust/otel-arrow-rust/benches/otlp_bytes.rs
Due: otel-arrow-rust

Add simple OTLP encoding benchmark (#437)
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/benches/otlp_bytes.rs
  rust/otel-arrow-rust/src/pdata/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
  rust/otel-arrow-rust/src/test_util/expect_value.rs
Due: otel-arrow-rust

Perf - improve loadgen and few nits
  tools/pipeline_perf_test/load_generator/loadgen-manifest.yaml
  tools/pipeline_perf_test/load_generator/loadgen.py
  tools/pipeline_perf_test/orchestrator/orchestrator.py
Due: none

fix spaces
  tools/pipeline_perf_test/load_generator/loadgen.py
  tools/pipeline_perf_test/orchestrator/orchestrator.py
Due: none

nits
  tools/pipeline_perf_test/load_generator/loadgen.py
Due: none

Split processor trait into a Local and Shared version
  rust/otap-dataflow/crates/engine/src/local/mod.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/pipeline.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/shared/mod.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
Due: otap-dataflow

send same load
  tools/pipeline_perf_test/load_generator/loadgen.py
Due: none

Code clean up
  rust/otap-dataflow/crates/config/src/node.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/xtask/Cargo.toml
Due: otap-dataflow

Code clean up
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
Due: otap-dataflow

Code clean up
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
Due: otap-dataflow

Code clean up
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
Due: otap-dataflow

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
