Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

Prepare release v0.40.0
  CHANGELOG.md
Due: none

Additional prepare-release tweaks
  .github/workflows/prepare-release.yml
  .github/workflows/scripts/get-last-version.sh
Due: none

Use proper token for otelbot
  .github/workflows/prepare-release.yml
Due: none

Implement RetryProcessor with ACK/NACK feedback loop
  rust/otap-dataflow/crates/engine/Cargo.toml
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/retry_processor.rs
Due: otap-dataflow

Additional prepare-release tweaks (#782)
  .github/workflows/prepare-release.yml
  .github/workflows/scripts/get-last-version.sh
Due: none

refactor bench tests to be more ion line with microbenchmarking philosophy, add recatored unit tests
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
  rust/otap-dataflow/crates/engine/src/retry_processor.rs
Due: otap-dataflow

Fix DebugExporter to make it non-blocking.
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
  rust/otap-dataflow/examples/engine.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otap-dataflow, otel-arrow-rust

Fix DebugExporter to make it non-blocking.
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
Due: otap-dataflow

Fix DebugExporter to make it non-blocking.
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/examples/engine.rs
Due: otap-dataflow

Fix cargo clippy issues
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/examples/engine.rs
Due: otap-dataflow

Detect sync methods in async context
  rust/otap-dataflow/docs/async-best-practices.md
  rust/otap-dataflow/scripts/check-async-blocking.sh
Due: otap-dataflow

Fix example
  rust/otap-dataflow/examples/engine.rs
Due: otap-dataflow

Fix markdown issues
  rust/otap-dataflow/docs/async-best-practices.md
Due: otap-dataflow

Fix cargo fmt issue
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

Remove println from regular code
  rust/otap-dataflow/crates/channel/src/mpmc.rs
Due: otap-dataflow

Replace all println with the new EffectHandler::info async method.
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
Due: otap-dataflow

Fix clippy lint issues
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
Due: otap-dataflow

Code cleanup
  rust/otap-dataflow/crates/otlp/src/debug_exporter/config.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/counter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/detailed_otlp_marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/mod.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/normal_otlp_marshaler.rs
  rust/otap-dataflow/examples/engine.rs
Due: otap-dataflow

Minor updates
  .github/workflows/prepare-release.yml
Due: none

Simplify
  .github/workflows/prepare-release.yml
  .github/workflows/push-release.yml
  .github/workflows/scripts/extract-changelog.sh
Due: none

More tweaks
  .github/workflows/prepare-release.yml
Due: none

Improve PR body injection
  .github/workflows/prepare-release.yml
Due: none

Fix extract script
  .github/workflows/scripts/extract-changelog.sh
Due: none

Tag fixes in push-release too
  .github/workflows/push-release.yml
Due: none

Release body fix
  .github/workflows/push-release.yml
Due: none

Prettier output and additional fixes to Release automation (#790)
  .github/workflows/prepare-release.yml
  .github/workflows/push-release.yml
  .github/workflows/scripts/extract-changelog.sh
Due: none

PR feedback
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/mock.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/partition.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/writer.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otel-arrow-rust/src/decode/decoder.rs
  rust/otel-arrow-rust/src/encode/producer.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/otlp/logs/related_data.rs
  rust/otel-arrow-rust/src/otlp/metrics.rs
  rust/otel-arrow-rust/src/otlp/metrics/related_data.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
  rust/otel-arrow-rust/src/otlp/traces/related_data.rs
Due: otap-dataflow, otel-arrow-rust

fixed clippies and errors after merge main
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/mock.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/partition.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

fix fmt
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
Due: otap-dataflow

fix using sync in async context in parquet_exporter
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/writer.rs
Due: otap-dataflow

fix using sync in async context in parquet_exporter (#794)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/writer.rs
Due: otap-dataflow

Fix clippy issue
  rust/otap-dataflow/examples/engine.rs
Due: otap-dataflow

update integration test to use async wrapper instead of sync Write
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

Fix DebugExporter and detection of blocking function in async context (#785)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/channel/src/mpmc.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/config.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/counter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/detailed_otlp_marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/mod.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/normal_otlp_marshaler.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
  rust/otap-dataflow/docs/async-best-practices.md
  rust/otap-dataflow/examples/engine.rs
  rust/otap-dataflow/scripts/check-async-blocking.sh
Due: otap-dataflow

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
