Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

save pass
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

[query-engine] Add execution context & pipeline expression to recordset engine (#575)
  rust/experimental/query_engine/engine-recordset/src/error.rs
  rust/experimental/query_engine/engine-recordset/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset/src/macros.rs
  rust/experimental/query_engine/engine-recordset/src/pipeline_expression.rs
  rust/experimental/query_engine/engine-recordset/src/summary.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 71998478c84a9a87185f7a88ba26441e14e6ad25
  docs/benchmarks/pipeline-perf/data.js
Due: none

saver
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
Due: otel-arrow-rust

wip
  rust/otel-arrow-rust/src/pdata/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/README.md
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/prd.md
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

save
  rust/otel-arrow-rust/src/pdata/otlp/README.md
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
Due: otel-arrow-rust

have a TODO
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
Due: otel-arrow-rust

comments
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/lib.rs
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
Due: otel-arrow-rust

Improve control infrastructure
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/runtime_config.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/mod.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otap-dataflow, otel-arrow-rust

Improve control infrastructure
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/runtime_config.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
Due: otap-dataflow

Add support for parsing KQL logical expressions into query engine expressions.
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

fixed comments
  rust/otel-arrow-rust/src/encode/record/array/structs.rs
Due: otel-arrow-rust

Fixes.
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

Format.
  rust/experimental/query_engine/kql-parser/src/kql.pest
Due: none

[query-engine] Add support for parsing KQL logical expressions (#578)
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

Remove randomness in go tests to address flaky codecov
  pkg/benchmark/dataset/synthetic_dataset.go
  pkg/datagen/data_generator.go
  pkg/otel/arrow_record/producer_consumer_test.go
  pkg/otel/logs/validation_test.go
  pkg/otel/metrics/validation_test.go
  pkg/otel/traces/validation_test.go
  tools/logs_gen/main.go
  tools/metrics_gen/main.go
  tools/trace_gen/main.go
Due: none

Add primitives to recordset engine.
  rust/experimental/query_engine/engine-recordset/src/primitives/array_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/bool_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/date_time_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/double_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/json_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/long_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/map_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/mod.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/regex_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/string_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/xml_value.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for c88f17432ee55e716e3e89d92faa4e7848925d6b
  docs/benchmarks/pipeline-perf/data.js
Due: none

Remove randomness in go tests to address flaky codecov (#555)
  pkg/benchmark/dataset/synthetic_dataset.go
  pkg/datagen/data_generator.go
  pkg/otel/arrow_record/producer_consumer_test.go
  pkg/otel/logs/validation_test.go
  pkg/otel/metrics/validation_test.go
  pkg/otel/traces/validation_test.go
  tools/logs_gen/main.go
  tools/metrics_gen/main.go
  tools/trace_gen/main.go
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 2da489e3219ecef755bdd451745d2f40e8851b56
  docs/benchmarks/pipeline-perf/data.js
Due: none

[query-engine] Add primitives to recordset engine (#581)
  rust/experimental/query_engine/engine-recordset/src/primitives/array_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/bool_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/date_time_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/double_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/json_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/long_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/map_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/mod.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/regex_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/string_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/xml_value.rs
Due: none

feat: Adaptive array builders for struct & time types (#573)
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
  rust/otel-arrow-rust/src/encode/record/array/structs.rs
Due: otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 48502a8dc36935326bc309c83c8361429eb857dc
  docs/benchmarks/pipeline-perf/data.js
Due: none

Fix: ensure trace batching never emits empty batches and matches metrics logic
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

fix clippy errors
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

generic tag w/ turbofish
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
Due: otel-arrow-rust

Add AnyValue enum to recordset engine.
  rust/experimental/query_engine/engine-recordset/src/primitives/any_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/mod.rs
Due: none

feat: add nulls to adaptive array builders
  rust/otel-arrow-rust/src/encode/record.rs
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/binary.rs
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
  rust/otel-arrow-rust/src/encode/record/array/primitive.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
  rust/otel-arrow-rust/src/encode/record/array/structs.rs
Due: otel-arrow-rust

do optional
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
Due: otel-arrow-rust

wip
  rust/otel-arrow-rust/src/validation/otlp.rs
Due: otel-arrow-rust

[query-engine] Add AnyValue enum to recordset engine (#582)
  rust/experimental/query_engine/engine-recordset/src/primitives/any_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/mod.rs
Due: none

Refactor static scalar expressions into their own enum.
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/static_scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 78e8279cf008b606cf57f4b1bd778bfa48ad53ff
  docs/benchmarks/pipeline-perf/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 005ea885155259f2978c1644fb12b8cecd00ab82
  docs/benchmarks/pipeline-perf/data.js
Due: none

Add data record and batch definitions to recordset engine.
  rust/experimental/query_engine/engine-recordset/src/data/data_record.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_batch.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_resolver.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_resolver_cache.rs
  rust/experimental/query_engine/engine-recordset/src/data/mod.rs
Due: none

[query-engine] Static scalar expressions (#584)
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/static_scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql_parser.rs
Due: none

one fix three still broken
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for acf0438b52673d3b1e0e2ffab197e6a8de68ea57
  docs/benchmarks/pipeline-perf/data.js
Due: none

Add UDP support
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
Due: otap-dataflow

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
