Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

fix pip
  .github/workflows/pipeline-perf-test.yml
Due: none

old
  .github/workflows/pipeline-perf-test.yml
Due: none

typos
  .github/workflows/pipeline-perf-test.yml
Due: none

More unwrap errors
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
Due: none

More clippy fixes
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/attached_records.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_mut.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/test_helpers.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/resolved_static_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
Due: none

Fmt
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/expressions/src/primitives/date_utils.rs
Due: none

update config and receiver to better accomodate the message per second setting
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/README.md
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/config.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_signal.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
Due: otap-dataflow

only on main
  .github/workflows/pipeline-perf-test.yml
Due: none

some small perf improvements
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

Fix more Clippy warnings in `experimental/query_engine` (#897)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/attached_records.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_mut.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/test_helpers.rs
  rust/experimental/query_engine/expressions/src/primitives/date_utils.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/resolved_static_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
Due: none

feat: add transform function to rename attribute keys (#893)
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/benches/attribute_transform.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

fix sanity
  .github/workflows/pipeline-perf-test.yml
Due: none

s
  .github/workflows/pipeline-perf-test.yml
Due: none

eol
  .github/workflows/pipeline-perf-test.yml
Due: none

fix: handle plain encoded log IDs when decoding OTAP for Logs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/schema.rs
Due: otap-dataflow, otel-arrow-rust

Fix pipeline perf test to run on bare metal runner (#698)
  .github/workflows/pipeline-perf-test.yml
Due: none

fix clippies
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/schema.rs
Due: otel-arrow-rust

Use the new `OtapPdata` type in the OTAP implementation of the Fake Signal Receiver (#839)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
Due: otap-dataflow

Update collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.mod
Due: none

Update pdata 1.37.0; remove hard-coded JSON syntax test (#890)
  go/go.mod
  go/go.sum
  go/pkg/otel/assert/equiv_test.go
Due: none

fix tests
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

[PerfTest] Add sql based report strategy (#892)
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/execution/pipeline_perf_loadgen.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/network.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/process/ensure_process.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/sql_report.py
  tools/pipeline_perf_test/orchestrator/requirements.txt
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/hooks/reporting/test_sql_report.py
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 161217c0764a7c313f56eb4d862cd59a222e342c
  docs/benchmarks/pipeline-perf/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for fb589434fc1a752f23d1a855da3a7bd5129d9138
  docs/benchmarks/pipeline-perf/data.js
Due: none

fix: correctness fixes for OTLP to OTAP conversion for traces (#865)
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/pdata-views/src/views/common.rs
  rust/otel-arrow-rust/src/encode/record.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
  rust/otel-arrow-rust/src/encode/record/metrics.rs
  rust/otel-arrow-rust/src/encode/record/spans.rs
  rust/otel-arrow-rust/src/encode/record/traces.rs
  rust/otel-arrow-rust/src/schema.rs
Due: otap-dataflow, otel-arrow-rust

Fix clippy warnings
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/cef.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 476f54b7eb3e4ea90926309db7ec448772d71b0c
  docs/benchmarks/pipeline-perf/data.js
Due: none

[otap-dataflow][syslog] Add Syslog to Arrow parsing (#861)
  rust/otap-dataflow/crates/syslog_cef_receiver/Cargo.toml
  rust/otap-dataflow/crates/syslog_cef_receiver/src/arrow_records_encoder.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/lib.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/cef.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/mod.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/parsed_message.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc3164.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc5424.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 02fbd3823d992dbd421b20819796a804aab4ed52
  docs/benchmarks/pipeline-perf/data.js
Due: none

Lint.
  rust/experimental/query_engine/engine-recordset/src/summary/summaries.rs
Due: none

handle plain ID encoding for log scope & resources
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/validation/testdata.rs
Due: otap-dataflow, otel-arrow-rust

fix syslog receiver tests
  rust/otap-dataflow/crates/syslog_cef_receiver/src/arrow_records_encoder.rs
Due: otap-dataflow

Code review.
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/engine-columnar/Cargo.toml
  rust/experimental/query_engine/engine-recordset-otlp-bridge/Cargo.toml
  rust/experimental/query_engine/engine-recordset/Cargo.toml
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/kql-parser/Cargo.toml
  rust/experimental/query_engine/ottl-parser/Cargo.toml
  rust/experimental/query_engine/parser-abstractions/Cargo.toml
Due: none

[query-engine] Summary support (#895)
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/engine-columnar/Cargo.toml
  rust/experimental/query_engine/engine-recordset-otlp-bridge/Cargo.toml
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/common/mod.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/otlp_kql_recordset.rs
  rust/experimental/query_engine/engine-recordset/Cargo.toml
  rust/experimental/query_engine/engine-recordset/src/engine.rs
  rust/experimental/query_engine/engine-recordset/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset/src/lib.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/summary/mod.rs
  rust/experimental/query_engine/engine-recordset/src/summary/summaries.rs
  rust/experimental/query_engine/engine-recordset/src/summary/summary_data_expression.rs
  rust/experimental/query_engine/engine-recordset/src/test_helpers.rs
  rust/experimental/query_engine/engine-recordset/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/expressions/src/data_expressions.rs
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/summary/mod.rs
  rust/experimental/query_engine/expressions/src/summary/summary_data_expression.rs
  rust/experimental/query_engine/kql-parser/Cargo.toml
  rust/experimental/query_engine/ottl-parser/Cargo.toml
  rust/experimental/query_engine/parser-abstractions/Cargo.toml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 5889955db1b52abd363a8a80db72c5cfddea8177
  docs/benchmarks/pipeline-perf/data.js
Due: none

Introduce temporal scalars and now expression.
  rust/experimental/query_engine/engine-recordset/src/lib.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/mod.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/temporal_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/summary/summary_data_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/temporal_scalar_expression.rs
Due: none

use optimized dictionary builder methods when upgrading keys
  rust/otap-dataflow/Cargo.toml
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/src/encode/record/array/binary.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
  rust/otel-arrow-rust/src/encode/record/array/primitive.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
Due: otap-dataflow, otel-arrow-rust

added safety comment to binary builder
  rust/otel-arrow-rust/src/encode/record/array/binary.rs
Due: otel-arrow-rust

correct arrow IPC version number
  rust/otel-arrow-rust/Cargo.toml
Due: otel-arrow-rust

Use optimized dictionary builder methods when upgrading keys (#900)
  rust/otap-dataflow/Cargo.toml
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/src/encode/record/array/binary.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
  rust/otel-arrow-rust/src/encode/record/array/primitive.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
Due: otap-dataflow, otel-arrow-rust
