Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

Code review.
  rust/experimental/query_engine/expressions/src/primitives/value.rs
Due: none

[query-engine] TimeSpan support in expressions and recordset engine (#970)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/convert_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/math_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/date_utils.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/primitives/value_type.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
Due: none

add arithmetic operations query engine support and KQL implementation (#963)
  rust/experimental/query_engine/engine-recordset/src/scalars/math_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for c780e427363c74b70430ed0d8e80fdae43f5ea0a
  docs/benchmarks/pipeline-perf/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 9ff1f4e23cd14b5d5f791e92f0282a568a9a04f5
  docs/benchmarks/pipeline-perf/data.js
Due: none

Time WIP
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

WIP
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
Due: none

Improve document and API
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/engine/src/context.rs
  rust/otap-dataflow/crates/telemetry/src/attributes.rs
  rust/otap-dataflow/crates/telemetry/src/collector.rs
  rust/otap-dataflow/crates/telemetry/src/config.rs
  rust/otap-dataflow/crates/telemetry/src/lib.rs
  rust/otap-dataflow/crates/telemetry/src/pipeline.rs
  rust/otap-dataflow/crates/telemetry/src/registry.rs
Due: otap-dataflow

fix up all the clippies and outstanding TODOs
  rust/otel-arrow-rust/src/encode/producer.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/transform.rs
  rust/otel-arrow-rust/src/otap/transform/transport_optimize.rs
Due: otel-arrow-rust

fixed up code in Producer and added test
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otel-arrow-rust/src/encode/producer.rs
Due: otap-dataflow, otel-arrow-rust

some comment cleanups and fmt in otap-dataflow
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/transform.rs
  rust/otel-arrow-rust/src/otap/transform/transport_optimize.rs
  rust/otel-arrow-rust/src/schema/consts.rs
Due: otap-dataflow, otel-arrow-rust

otap: attributes processor tests: fix empty-domain delete failures and token corruption; add apply_to [signal,resource] delete case
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Due: otap-dataflow

Refactor/Extend metric instruments.
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/telemetry-macros/src/lib.rs
  rust/otap-dataflow/crates/telemetry/src/counter.rs
  rust/otap-dataflow/crates/telemetry/src/descriptor.rs
  rust/otap-dataflow/crates/telemetry/src/instrument.rs
  rust/otap-dataflow/crates/telemetry/src/lib.rs
Due: otap-dataflow

rename
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

fix OTAP decoding logs handles optional trace ID and span ID columns
  go/pkg/otel/logs/otlp/logs.go
  go/pkg/otel/logs/validation_test.go
Due: none

fix nonsense comment
  go/pkg/otel/logs/validation_test.go
Due: none

Set MetricsField::brief with the comment used to describe the metric.
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/telemetry-macros/src/lib.rs
  rust/otap-dataflow/crates/telemetry/src/descriptor.rs
  rust/otap-dataflow/crates/telemetry/src/instrument.rs
  rust/otap-dataflow/crates/telemetry/src/registry.rs
Due: otap-dataflow

Tests and bug fixes.
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/expressions/src/primitives/date_utils.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

Derive MetricsField::name from the field metric name.
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/telemetry-macros/src/lib.rs
Due: otap-dataflow

Tests
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
Due: none

Add support for KQL parse and matches regex
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/otlp_kql_recordset.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/text_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/text_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

Add now expression support.
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_temporal_function_expressions.rs
Due: none

Handle optional column type
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

update the fake generator to accept a max batch setting which will force generate messages will a capped signal count instead of one message with lots of signals
  rust/otap-dataflow/configs/fake-otlp.yaml
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/config.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
Due: otap-dataflow

fix sanity check and cargo fmt
  rust/otap-dataflow/configs/fake-otlp.yaml
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
Due: otap-dataflow

updated traffic generation config
  rust/otap-dataflow/configs/fake-otlp.yaml
Due: otap-dataflow

Fmt
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

Clippy
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/otlp_kql_recordset.rs
Due: none

update tests
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
Due: otap-dataflow

Documentation/Code cleanup
  rust/otap-dataflow/crates/telemetry/src/instrument.rs
  rust/otap-dataflow/crates/telemetry/src/lib.rs
Due: otap-dataflow

Documentation/Code cleanup
  rust/otap-dataflow/crates/telemetry/src/registry.rs
Due: otap-dataflow

[WIP] Retry processor -> otap-df-otap
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
Due: otap-dataflow

Add benchmarks
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/syslog_cef_receiver/main.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/arrow_records_encoder.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/lib.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/cef.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/mod.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/parsed_message.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc3164.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc5424.rs
Due: otap-dataflow

Code review.
  rust/experimental/query_engine/expressions/src/primitives/date_utils.rs
Due: none

[query_engine] Timespan, bin, & now support in KQL parser (#974)
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/expressions/src/primitives/date_utils.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_temporal_function_expressions.rs
Due: none

Fix clippy warning
  rust/otap-dataflow/crates/syslog_cef_receiver/src/arrow_records_encoder.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 1252211c060c29e186946afa2bdb18d9cbf05718
  docs/benchmarks/pipeline-perf/data.js
Due: none

Fix clippy warnings
  rust/otap-dataflow/benchmarks/benches/syslog_cef_receiver/main.rs
Due: otap-dataflow

Introduce generic way to specify attributes
  rust/otap-dataflow/crates/engine/Cargo.toml
  rust/otap-dataflow/crates/engine/src/attributes.rs
  rust/otap-dataflow/crates/engine/src/context.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/telemetry-macros/src/lib.rs
  rust/otap-dataflow/crates/telemetry/Cargo.toml
  rust/otap-dataflow/crates/telemetry/src/attributes.rs
  rust/otap-dataflow/crates/telemetry/src/descriptor.rs
  rust/otap-dataflow/crates/telemetry/src/pipeline.rs
  rust/otap-dataflow/crates/telemetry/src/registry.rs
Due: otap-dataflow

Introduce attribute set composition
  rust/otap-dataflow/crates/engine/src/attributes.rs
  rust/otap-dataflow/crates/engine/src/context.rs
  rust/otap-dataflow/crates/telemetry-macros/src/lib.rs
Due: otap-dataflow
