Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

renames
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for c4d878c8e96d3b4e9b42731e492010e78776b5f6
  docs/benchmarks/pipeline-perf/data.js
Due: none

Reorder use statements in tests module
  rust/otap-dataflow/crates/engine/src/exporter.rs
Due: otap-dataflow

Update retry_processor.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

Improve serviceability of the engine (status, livez, readyz) (#1207)
  rust/otap-dataflow/configs/fake-otap.yaml
  rust/otap-dataflow/crates/admin/src/pipeline.rs
  rust/otap-dataflow/crates/admin/src/pipeline_group.rs
  rust/otap-dataflow/crates/config/src/health.rs
  rust/otap-dataflow/crates/config/src/lib.rs
  rust/otap-dataflow/crates/config/src/observed_state.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/output.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
  rust/otap-dataflow/crates/state/Cargo.toml
  rust/otap-dataflow/crates/state/README.md
  rust/otap-dataflow/crates/state/assets/engine-observability.svg
  rust/otap-dataflow/crates/state/assets/hierarchical-obv-state.svg
  rust/otap-dataflow/crates/state/assets/pipeline-runtime-state-machine.svg
  rust/otap-dataflow/crates/state/src/error.rs
  rust/otap-dataflow/crates/state/src/event.rs
  rust/otap-dataflow/crates/state/src/lib.rs
  rust/otap-dataflow/crates/state/src/phase.rs
  rust/otap-dataflow/crates/state/src/pipeline_rt_status.rs
  rust/otap-dataflow/crates/state/src/pipeline_status.rs
  rust/otap-dataflow/crates/state/src/reporter.rs
  rust/otap-dataflow/crates/state/src/store.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 8c8c75614f7d77d2596bab6e4dd3ed2e76bf1d9c
  docs/benchmarks/pipeline-perf/data.js
Due: none

Complete Ack/Nack control message routing and delivery (#1249)
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/error_exporter.rs
  rust/otap-dataflow/crates/otap/src/noop_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
  rust/otap-dataflow/crates/otap/src/testing/mod.rs
Due: otap-dataflow

update readme and changed SamplingConfig to enum
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/sampling.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 98baa296afefb5b8d2204f28cf5f321678c14bea
  docs/benchmarks/pipeline-perf/data.js
Due: none

removed extra space in readme, ran cargo fmt
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/debug_processor/sampling.rs
Due: otap-dataflow

init filter processor
  rust/otap-dataflow/crates/otap/src/filter_processor.rs
  rust/otap-dataflow/crates/otap/src/filter_processor/config.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
Due: otap-dataflow

add todo for renaming zap sampling in the future
  rust/otap-dataflow/crates/otap/src/debug_processor/sampling.rs
Due: otap-dataflow

[otap-dataflow] Add Sampling (based on zap) to DebugProcessor (#1250)
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/output.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/sampling.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 2b7c7547e8e611b0727f5d2cf2c2aadc3884d5ea
  docs/benchmarks/pipeline-perf/data.js
Due: none

Relax restrictions in KQL summarize expressions.
  rust/experimental/query_engine/engine-recordset/src/summary/summary_data_expression.rs
  rust/experimental/query_engine/expressions/src/summary/summary_data_expression.rs
  rust/experimental/query_engine/kql-parser/src/aggregate_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

README for otap-dataflow
  rust/otap-dataflow/README.md
Due: otap-dataflow

whitespace
  go/README.md
Due: none

finish
  rust/otap-dataflow/README.md
  rust/otel-arrow-rust/README.md
Due: otap-dataflow, otel-arrow-rust

Update rust/README.md
  rust/README.md
Due: none

Update rust/otap-dataflow/README.md
  rust/otap-dataflow/README.md
Due: otap-dataflow

lint
  rust/README.md
  rust/otap-dataflow/README.md
Due: otap-dataflow

producer extension
  rust/otap-dataflow/README.md
Due: otap-dataflow

top-level update
  README.md
Due: none

Update go/README.md
  go/README.md
Due: none

whitespace
  README.md
  rust/otap-dataflow/README.md
Due: otap-dataflow

Phase 2 work-in-progress documentation update (#1263)
  CONTRIBUTING.md
  README.md
  go/README.md
  rust/README.md
  rust/otap-dataflow/README.md
  rust/otel-arrow-rust/README.md
Due: otap-dataflow, otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 36c7123433eb42b19b24388f6e0a20247a9b0ce9
  docs/benchmarks/pipeline-perf/data.js
Due: none

Add support for CEF messages with Syslog header
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/cef.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/mod.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
Due: otap-dataflow

Simplify metrics collection
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
Due: otap-dataflow

Code changes
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/mod.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
Due: otap-dataflow

Fix tests
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
Due: otap-dataflow

Print ACK/NACK in debug_processor at detailed level
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
Due: otap-dataflow

Fix format
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
Due: otap-dataflow
