Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

Upgrade collector dependencies to v0.129.0/v1.35.0
  CHANGELOG.md
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go.mod
  go.sum
Due: none

Revert accidental changelog touch
  CHANGELOG.md
Due: none

Add PR link
  CHANGELOG.md
Due: none

Cleaned up the benchmarks
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/otap_encoder/main.rs
  rust/otap-dataflow/benchmarks/benches/pdata_views/main.rs
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/pdata-views/Cargo.toml
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
  rust/otap-dataflow/crates/pdata-views/src/views.rs
Due: otap-dataflow

cleanup code and add more tests
  rust/otap-dataflow/benchmarks/benches/otap_encoder/main.rs
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
  rust/otap-dataflow/crates/pdata-views/src/views.rs
Due: otap-dataflow

cleanup cargotoml
  rust/otap-dataflow/Cargo.toml
Due: otap-dataflow

fix
  rust/otap-dataflow/benchmarks/benches/pdata_views/main.rs
Due: otap-dataflow

Add value comparison and equality logic in expressions.
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/expressions/src/expression_error.rs
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/primitives/mod.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/primitives/value_type.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/static_scalar_expressions.rs
Due: none

Tweak.
  rust/experimental/query_engine/expressions/src/primitives/value.rs
Due: none

Upgrade collector dependencies to v0.129.0/v1.35.0 (#669)
  CHANGELOG.md
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go.mod
  go.sum
Due: none

another small optimization
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
Due: otap-dataflow, otel-arrow-rust

fix cargo toml
  rust/otap-dataflow/Cargo.toml
Due: otap-dataflow

fix clippies
  rust/otap-dataflow/benchmarks/benches/otap_encoder/main.rs
Due: otap-dataflow

feat: add implementation of pdata views for otel bytes (#658)
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/pdata_views/main.rs
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/encoder/cbor.rs
  rust/otap-dataflow/crates/pdata-views/Cargo.toml
  rust/otap-dataflow/crates/pdata-views/src/otlp.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/consts.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/decode.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/resource.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/common.rs
  rust/otap-dataflow/crates/pdata-views/src/views.rs
  rust/otap-dataflow/crates/pdata-views/src/views/common.rs
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
Due: otap-dataflow, otel-arrow-rust

Perf - Configuration, Plugin development guides, plugin doc generator and docs (#663)
  tools/pipeline_perf_test/orchestrator/docs/configuration.md
  tools/pipeline_perf_test/orchestrator/docs/plugin_development.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/README.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/configuration_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/deployment_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/execution_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/hook_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/monitoring_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/report_formatters.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/report_writers.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/step_actions.md
  tools/pipeline_perf_test/orchestrator/docs/reports.md
  tools/pipeline_perf_test/orchestrator/docs/reports/comparison_report.md
  tools/pipeline_perf_test/orchestrator/docs/reports/pipeline_perf_report.md
  tools/pipeline_perf_test/orchestrator/docs/reports/process_report.md
  tools/pipeline_perf_test/orchestrator/docs/reports/test_report.md
  tools/pipeline_perf_test/orchestrator/scripts/generate_plugin_docs.py
  tools/pipeline_perf_test/orchestrator/scripts/templates/index.md.j2
  tools/pipeline_perf_test/orchestrator/scripts/templates/registry.md.j2
  tools/pipeline_perf_test/orchestrator/scripts/templates/report.md.j2
Due: none

[query-engine] Add value comparison and equality logic in expressions (#670)
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/expressions/src/expression_error.rs
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/primitives/mod.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/primitives/value_type.rs
  rust/experimental/query_engine/expressions/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/static_scalar_expressions.rs
Due: none

Add github workflow changes and Changelog
  .github/codecov.yaml
  .github/workflows/go-ci.yml
  CHANGELOG.md
Due: none

make genotelarrowcol again
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
Due: none

add tox and fix test directory structure
  .gitignore
  tools/pipeline_perf_test/orchestrator/lib/runner/factory.py
  tools/pipeline_perf_test/orchestrator/lib/runner/registry.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/events.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/hook_config.py
  tools/pipeline_perf_test/orchestrator/pyproject.toml
  tools/pipeline_perf_test/orchestrator/pytest.ini
  tools/pipeline_perf_test/orchestrator/tests/core/component/test_component.py
  tools/pipeline_perf_test/orchestrator/tests/core/contexts/test_base.py
  tools/pipeline_perf_test/orchestrator/tests/core/contexts/test_component_hook_context.py
  tools/pipeline_perf_test/orchestrator/tests/core/contexts/test_framework_element_contexts.py
  tools/pipeline_perf_test/orchestrator/tests/core/contexts/test_framework_element_hook_context.py
  tools/pipeline_perf_test/orchestrator/tests/core/errors/test_error_handler.py
  tools/pipeline_perf_test/orchestrator/tests/core/framework/test_element.py
  tools/pipeline_perf_test/orchestrator/tests/core/framework/test_scenario.py
  tools/pipeline_perf_test/orchestrator/tests/core/helpers/test_metrics.py
  tools/pipeline_perf_test/orchestrator/tests/core/helpers/test_report.py
  tools/pipeline_perf_test/orchestrator/tests/core/runtime/test_runtime.py
  tools/pipeline_perf_test/orchestrator/tests/core/telemetry/test_log.py
  tools/pipeline_perf_test/orchestrator/tests/core/telemetry/test_telemetry_runtime.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/deployment/test_docker.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/hooks/docker/test_build_image.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/hooks/test_raise_exception.py
  tools/pipeline_perf_test/orchestrator/tox.ini
Due: none

added additional tests for the exporter and the marshalers
  rust/otap-dataflow/crates/otlp/debug_output_basic.txt
  rust/otap-dataflow/crates/otlp/debug_output_detailed.txt
  rust/otap-dataflow/crates/otlp/debug_output_normal.txt
  rust/otap-dataflow/crates/otlp/src/debug_exporter/README.md
  rust/otap-dataflow/crates/otlp/src/debug_exporter/detailed_otlp_marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/mod.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/normal_otlp_marshaler.rs
  rust/otap-dataflow/crates/otlp/src/mock.rs
Due: otap-dataflow

fix some typos
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/config.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/detailed_otlp_marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/normal_otlp_marshaler.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
Due: otap-dataflow

fix tests
  rust/otap-dataflow/crates/otlp/src/debug_exporter/README.md
  rust/otap-dataflow/crates/otlp/src/debug_exporter/detailed_otlp_marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/normal_otlp_marshaler.rs
  rust/otap-dataflow/crates/otlp/src/mock.rs
Due: otap-dataflow

merge main
  rust/otap-dataflow/crates/otlp/src/debug_exporter/detailed_otlp_marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
Due: otap-dataflow

Include reference to the component universal telemetry RFC
  rust/otap-dataflow/crates/config/src/node.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/engine/Cargo.toml
  rust/otap-dataflow/crates/engine/src/config.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/message.rs
  rust/otap-dataflow/crates/engine/src/local/mod.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/node.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/runtime_config.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/message.rs
  rust/otap-dataflow/crates/engine/src/shared/mod.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
Due: otap-dataflow

fix tox envlist
  tools/pipeline_perf_test/orchestrator/tox.ini
Due: none

Refactor OTLP batcher to generic (#618)
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

fix linting
  rust/otap-dataflow/benchmarks/benches/otlp/main.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otap-dataflow, otel-arrow-rust

revert protobuf files
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

added a counter struct that will store all the accumulated data and output it at the end when the exporter shuts down
  rust/otap-dataflow/crates/otlp/src/debug_exporter/README.md
  rust/otap-dataflow/crates/otlp/src/debug_exporter/counter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/detailed_otlp_marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/mod.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/normal_otlp_marshaler.rs
Due: otap-dataflow

Implement PipelineRuntime::start method
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/compression.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
Due: otap-dataflow

Perf - Add Tox and test updates (#672)
  .gitignore
  tools/pipeline_perf_test/orchestrator/lib/runner/factory.py
  tools/pipeline_perf_test/orchestrator/lib/runner/registry.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/events.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/hook_config.py
  tools/pipeline_perf_test/orchestrator/pyproject.toml
  tools/pipeline_perf_test/orchestrator/pytest.ini
  tools/pipeline_perf_test/orchestrator/tests/core/component/test_component.py
  tools/pipeline_perf_test/orchestrator/tests/core/contexts/test_base.py
  tools/pipeline_perf_test/orchestrator/tests/core/contexts/test_component_hook_context.py
  tools/pipeline_perf_test/orchestrator/tests/core/contexts/test_framework_element_contexts.py
  tools/pipeline_perf_test/orchestrator/tests/core/contexts/test_framework_element_hook_context.py
  tools/pipeline_perf_test/orchestrator/tests/core/errors/test_error_handler.py
  tools/pipeline_perf_test/orchestrator/tests/core/framework/test_element.py
  tools/pipeline_perf_test/orchestrator/tests/core/framework/test_scenario.py
  tools/pipeline_perf_test/orchestrator/tests/core/helpers/test_metrics.py
  tools/pipeline_perf_test/orchestrator/tests/core/helpers/test_report.py
  tools/pipeline_perf_test/orchestrator/tests/core/runtime/test_runtime.py
  tools/pipeline_perf_test/orchestrator/tests/core/telemetry/test_log.py
  tools/pipeline_perf_test/orchestrator/tests/core/telemetry/test_telemetry_runtime.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/deployment/test_docker.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/hooks/docker/test_build_image.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/hooks/test_raise_exception.py
  tools/pipeline_perf_test/orchestrator/tox.ini
Due: none

refactor load_generator to run as server or one-off mode, add tox
  tools/pipeline_perf_test/load_generator/loadgen.py
  tools/pipeline_perf_test/load_generator/requirements.txt
  tools/pipeline_perf_test/load_generator/tox.ini
Due: none

misc fixes, tox support for backend
  tools/pipeline_perf_test/backend/backend.py
  tools/pipeline_perf_test/backend/requirements.txt
  tools/pipeline_perf_test/backend/tox.ini
Due: none

Add a mini pipeline test
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

clean up readme
  rust/otap-dataflow/crates/otlp/src/debug_exporter/README.md
  rust/otap-dataflow/crates/otlp/src/debug_exporter/detailed_otlp_marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/normal_otlp_marshaler.rs
Due: otap-dataflow

fix clippy warning
  rust/otap-dataflow/crates/otlp/src/debug_exporter/README.md
  rust/otap-dataflow/crates/otlp/src/debug_exporter/detailed_otlp_marshaler.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/normal_otlp_marshaler.rs
Due: otap-dataflow

clean up comments
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
Due: otap-dataflow

ran cargo fmt
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
Due: otap-dataflow

Remove constant folding of scalar expressions from KQL parser and refactor map transformations.
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/primitives/value_type.rs
  rust/experimental/query_engine/expressions/src/static_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/shared_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
