Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

manual clean
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
Due: otel-arrow-rust

simplify
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
Due: otel-arrow-rust

simpler
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
Due: otel-arrow-rust

simpleryet
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
Due: otel-arrow-rust

feat: support additional types for adaptive array builders
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/binary.rs
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
  rust/otel-arrow-rust/src/encode/record/array/primitive.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
Due: otel-arrow-rust

added some tests for FSB builder
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
Due: otel-arrow-rust

comments
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
Due: otel-arrow-rust

simplify
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/DESIGN.md
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/original.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
Due: otel-arrow-rust

Add missing copywrite header
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
Due: otel-arrow-rust

common
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/builder.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/common.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/lib.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/message_adapter.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
Due: otel-arrow-rust

a little refactor
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/common.rs
  rust/otel-arrow-rust/src/pdata/otlp/model/src/lib.rs
Due: otel-arrow-rust

more common
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/common.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
Due: otel-arrow-rust

prd
  rust/otel-arrow-rust/src/pdata/otlp/prd.md
Due: otel-arrow-rust

Add folders for engine implementations.
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/engine-arrow/Cargo.toml
  rust/experimental/query_engine/engine-arrow/src/lib.rs
  rust/experimental/query_engine/engine-classic/Cargo.toml
  rust/experimental/query_engine/engine-classic/src/lib.rs
Due: none

Allow CC0-1.0.
  rust/experimental/query_engine/deny.toml
Due: none

prepare release 0.36.0
  versions.yaml
Due: none

Update changelog for v0.36.0
  CHANGELOG.md
Due: none

skeleton encodedlen
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/lib.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
Due: otel-arrow-rust

Release v0.36.0 (#564)
  CHANGELOG.md
  versions.yaml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for d3198843a30d39600d12a2424492990812b98ba9
  docs/benchmarks/pipeline-perf/data.js
Due: none

Tweaks.
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/README.md
  rust/experimental/query_engine/engine-columnar/Cargo.toml
  rust/experimental/query_engine/engine-columnar/src/lib.rs
  rust/experimental/query_engine/engine-recordset/Cargo.toml
  rust/experimental/query_engine/engine-recordset/src/lib.rs
Due: none

[query-engine] Engine implementation folders (#563)
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/README.md
  rust/experimental/query_engine/deny.toml
  rust/experimental/query_engine/engine-columnar/Cargo.toml
  rust/experimental/query_engine/engine-columnar/src/lib.rs
  rust/experimental/query_engine/engine-recordset/Cargo.toml
  rust/experimental/query_engine/engine-recordset/src/lib.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 3be0cfe048086576ee5a101a09d581063621eac7
  docs/benchmarks/pipeline-perf/data.js
Due: none

refactor: change batch splitting logic for traces, metrics, and logs to use efficient Vec draining and splitting, reducing allocations and unnecessary copying.
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
Due: otap-dataflow

ckpt
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/common.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
Due: otel-arrow-rust

Update changelog and releasing docs
  CHANGELOG.md
  RELEASING.md
Due: none

Update changelog again for 0.37.0
  CHANGELOG.md
Due: none

sweet
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/common.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
  rust/otel-arrow-rust/src/pdata/otlp/model/src/lib.rs
Due: otel-arrow-rust

wip
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

success/testfail
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/prd.md
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

Create iterator over hyper-edges
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/runtime_config.rs
Due: otap-dataflow

a mess
  rust/otel-arrow-rust/src/debug_detailed.rs
  rust/otel-arrow-rust/src/debug_test.rs
  rust/otel-arrow-rust/src/lib.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/encoded_len_primitive_tests.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/model/src/lib.rs
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
Due: otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for b73f4de67a16da384f420d98f6d67b49e877db99
  docs/benchmarks/pipeline-perf/data.js
Due: none

Downgrade Go to 1.23.0 for Collector-Contrib compatibility
  .github/renovate.json5
  .github/workflows/go-ci.yml
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go.mod
  versions.yaml
Due: none

No version change
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  versions.yaml
Due: none

Add changelog
  CHANGELOG.md
Due: none

Downgrade Go to 1.23.0 for Collector-Contrib compatibility (#569)
  .github/renovate.json5
  .github/workflows/go-ci.yml
  CHANGELOG.md
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/main.go
  go.mod
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 5afc0bc560667bf517043cc47774a9d1b9257b78
  docs/benchmarks/pipeline-perf/data.js
Due: none

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
