Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

Additional prepare-release tweaks (#782)
  .github/workflows/prepare-release.yml
  .github/workflows/scripts/get-last-version.sh
Due: none

Release process improvements using otelbot (#739)
  .github/workflows/prepare-release.yml
  .github/workflows/push-release.yml
  Makefile
  RELEASING.md
  versions.yaml
Due: none

use new generic types in prost view impls for Logs & Common (#771)
  rust/otap-dataflow/crates/otap/src/encoder/cbor.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/wrappers.rs
Due: otap-dataflow

[query-engine] Recordset2 engine API tweaks (#805)
  rust/experimental/query_engine/engine-recordset2/src/engine.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/value_storage.rs
Due: none

[Perf Test] support linux psutil handling, docker dependency (#807)
  tools/pipeline_perf_test/backend/backend.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/build_docker_image.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/network.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/tidy_existing_container.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/wait_for_status.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/monitoring/process_component.py
Due: none

feat: add otlp grpc exporter for otap pipelines (#819)
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/grpc/otlp.rs
  rust/otap-dataflow/crates/otap/src/grpc/otlp/client.rs
  rust/otap-dataflow/crates/otap/src/grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/mock.rs
Due: otap-dataflow

[query-engine] Add value expressions to recordset2 engine (#756)
  rust/experimental/query_engine/engine-recordset2/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset2/src/lib.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/mod.rs
  rust/experimental/query_engine/engine-recordset2/src/primitives/resolved_value_mut.rs
  rust/experimental/query_engine/engine-recordset2/src/value_expressions.rs
Due: none

Fix import (#800)
  rust/otap-dataflow/Cargo.toml
Due: otap-dataflow

feat: OTLP receiver that converts proto bytes to OTAP (#726)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otap/src/grpc/otlp.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

[PerfTest] Backend performance (#775)
  tools/pipeline_perf_test/backend/backend.py
  tools/pipeline_perf_test/backend/requirements.txt
  tools/pipeline_perf_test/backend/tests/test_receiver.py
  tools/pipeline_perf_test/backend/tox.ini
Due: none

[PerfTest] Pin python requirements to exact version (#762)
  tools/pipeline_perf_test/backend/requirements.txt
  tools/pipeline_perf_test/load_generator/requirements.txt
  tools/pipeline_perf_test/orchestrator/requirements.txt
Due: none

[query-engine] Add OTLP structs matching proto layout in bridge (#834)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/lib.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/collector_logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/mod.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/resource.rs
Due: none

fix using sync in async context in parquet_exporter (#794)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/writer.rs
Due: otap-dataflow

fix: flakey shutdown timeout test (#801)
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
Due: otap-dataflow

[query-engine] Add length scalar expression (#836)
  rust/experimental/query_engine/engine-recordset2/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none

[query-engine] Add coalesce scalar expression (#808)
  rust/experimental/query_engine/engine-recordset2/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none

[query-engine] Add bridge entry point (#844)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge_error.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/lib.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/common/mod.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/otlp_kql_recordset.rs
  rust/experimental/query_engine/engine-recordset2/src/engine.rs
  rust/experimental/query_engine/engine-recordset2/src/test_helpers.rs
Due: none

feat: add pdata type for OTAP pipeline w/ representations & conversions (#767)
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/encoder/error.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/mock.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/partition.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/writer.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otel-arrow-rust/src/decode/decoder.rs
  rust/otel-arrow-rust/src/encode/producer.rs
  rust/otel-arrow-rust/src/error.rs
  rust/otel-arrow-rust/src/lib.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/otlp/logs/related_data.rs
  rust/otel-arrow-rust/src/otlp/metrics.rs
  rust/otel-arrow-rust/src/otlp/metrics/related_data.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
  rust/otel-arrow-rust/src/otlp/traces/related_data.rs
Due: otap-dataflow, otel-arrow-rust

feat: add OTLP protobuf to OTAP conversion for metrics (#769)
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/metrics.rs
  rust/otap-dataflow/crates/pdata-views/src/views.rs
  rust/otap-dataflow/crates/pdata-views/src/views/metrics.rs
  rust/otel-arrow-rust/src/encode/record.rs
  rust/otel-arrow-rust/src/encode/record/metrics.rs
  rust/otel-arrow-rust/src/schema.rs
Due: otap-dataflow, otel-arrow-rust

feat: support Metrics' metadata in OTAP (#840)
  proto/opentelemetry/proto/experimental/arrow/v1/arrow_service.proto
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
Due: otap-dataflow, otel-arrow-rust

[otap-dataflow] fix blocking calls from perf-exporter (#797)
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

[otap-dataflow][syslog] Fix biased usage in tokio select (#820)
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
Due: otap-dataflow

Minor prepare-release fixes and script abstraction (#779)
  .github/workflows/prepare-release.yml
  .github/workflows/push-release.yml
  .github/workflows/scripts/create-release-branch.sh
  .github/workflows/scripts/extract-changelog.sh
  .github/workflows/scripts/get-last-version.sh
  .github/workflows/scripts/update-changelog.sh
  .github/workflows/scripts/validate-version-increment.sh
  .github/workflows/scripts/validate-version.sh
Due: none

Document load balancing challenges and solutions (#736)
  rust/otap-dataflow/docs/architecture.md
  rust/otap-dataflow/docs/load-balancing.md
Due: otap-dataflow

[query-engine] Add layout for bridge crate (#806)
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/README.md
  rust/experimental/query_engine/engine-recordset-otlp-bridge/Cargo.toml
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/lib.rs
Due: none

[query-engine] Static value refactor (#854)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/attached_records.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/otlp_reader.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/serializer/otlp_writer.rs
  rust/experimental/query_engine/engine-recordset/src/engine.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_mut.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/test_helpers.rs
  rust/experimental/query_engine/engine-recordset/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/primitives/map_value.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/map_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/resolved_static_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
Due: none

[query-engine] Math: negate refactor (#929)
  rust/experimental/query_engine/engine-recordset/src/scalars/math_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

Fix more Clippy warnings in `experimental/query_engine` (#897)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/attached_records.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_mut.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/test_helpers.rs
  rust/experimental/query_engine/expressions/src/primitives/date_utils.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/resolved_static_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
Due: none

[query-engine] Summary support (#895)
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/engine-columnar/Cargo.toml
  rust/experimental/query_engine/engine-recordset-otlp-bridge/Cargo.toml
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/logs.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/common/mod.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/otlp_kql_recordset.rs
  rust/experimental/query_engine/engine-recordset/Cargo.toml
  rust/experimental/query_engine/engine-recordset/src/engine.rs
  rust/experimental/query_engine/engine-recordset/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset/src/lib.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/summary/mod.rs
  rust/experimental/query_engine/engine-recordset/src/summary/summaries.rs
  rust/experimental/query_engine/engine-recordset/src/summary/summary_data_expression.rs
  rust/experimental/query_engine/engine-recordset/src/test_helpers.rs
  rust/experimental/query_engine/engine-recordset/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/expressions/src/data_expressions.rs
  rust/experimental/query_engine/expressions/src/lib.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/summary/mod.rs
  rust/experimental/query_engine/expressions/src/summary/summary_data_expression.rs
  rust/experimental/query_engine/kql-parser/Cargo.toml
  rust/experimental/query_engine/ottl-parser/Cargo.toml
  rust/experimental/query_engine/parser-abstractions/Cargo.toml
Due: none

fix: correctness fixes for OTLP to OTAP conversion for traces (#865)
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/pdata-views/src/views/common.rs
  rust/otel-arrow-rust/src/encode/record.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
  rust/otel-arrow-rust/src/encode/record/metrics.rs
  rust/otel-arrow-rust/src/encode/record/spans.rs
  rust/otel-arrow-rust/src/encode/record/traces.rs
  rust/otel-arrow-rust/src/schema.rs
Due: otap-dataflow, otel-arrow-rust

[query-engine] Logging tweaks (#877)
  rust/experimental/query_engine/engine-recordset/src/logical_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
Due: none

Support YAML pipeline configuration files (#887)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/configs/README.md
  rust/otap-dataflow/configs/otap-otap.json
  rust/otap-dataflow/configs/otap-otap.yaml
  rust/otap-dataflow/configs/otap-otlp.json
  rust/otap-dataflow/configs/otap-otlp.yaml
  rust/otap-dataflow/configs/otap-perf.json
  rust/otap-dataflow/configs/otap-perf.yaml
  rust/otap-dataflow/configs/otlp-otap.json
  rust/otap-dataflow/configs/otlp-otap.yaml
  rust/otap-dataflow/configs/otlp-otlp.json
  rust/otap-dataflow/configs/otlp-otlp.yaml
  rust/otap-dataflow/configs/otlp-perf.json
  rust/otap-dataflow/configs/otlp-perf.yaml
  rust/otap-dataflow/crates/config/Cargo.toml
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/config/tests/fixtures/test_pipeline.json
  rust/otap-dataflow/crates/config/tests/fixtures/test_pipeline.yaml
  rust/otap-dataflow/src/main.rs
Due: otap-dataflow

Remove experimental syslog receiver code (#917)
  .github/workflows/rust-ci.yml
  rust/experimental/syslog-cef-receivers/.gitignore
  rust/experimental/syslog-cef-receivers/Cargo.toml
  rust/experimental/syslog-cef-receivers/cef-receiver/.gitignore
  rust/experimental/syslog-cef-receivers/cef-receiver/Cargo.toml
  rust/experimental/syslog-cef-receivers/cef-receiver/LICENSE
  rust/experimental/syslog-cef-receivers/cef-receiver/src/lib.rs
  rust/experimental/syslog-cef-receivers/deny.toml
  rust/experimental/syslog-cef-receivers/syslog-receiver/.gitignore
  rust/experimental/syslog-cef-receivers/syslog-receiver/Cargo.toml
  rust/experimental/syslog-cef-receivers/syslog-receiver/LICENSE
  rust/experimental/syslog-cef-receivers/syslog-receiver/src/lib.rs
Due: syslog_cef_receivers

feat: add transform function to rename attribute keys (#893)
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/benches/attribute_transform.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

[query-engine] Implement strlen and replace_string functions with regex support and case-insensitive matching (#856)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/otlp_kql_recordset.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

[query-engine] Support datetime conversion (#870)
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/date_utils.rs
  rust/experimental/query_engine/expressions/src/primitives/mod.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/date_utils.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

[perf-exporter] fix perf otlp signal counting (#928)
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
Due: otap-dataflow

[query-engine] Conversion scalar expression reorg (#930)
  rust/experimental/query_engine/engine-recordset/src/scalars/convert_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/mod.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
Due: none
