Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

get->take
  rust/otap-dataflow/crates/otap/src/accessory/slots.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
Due: otap-dataflow

rephrase
  rust/otap-dataflow/crates/engine/README.md
Due: otap-dataflow

Upgrade opentelemetry-proto and prost in query_engine (#1308)
  rust/experimental/query_engine/Cargo.toml
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 882d49b75f71e09832dd712e9a818c5d7759b3be
  docs/benchmarks/pipeline-perf/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 882d49b75f71e09832dd712e9a818c5d7759b3be
  docs/benchmarks/continuous/data.js
Due: none

update processor test code to initialize a pipeline_ctrl_msg_sender on the effecthandler.core to help with attribute_processor tests
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
Due: otap-dataflow

move processor's periodic_telemetry_start call to the ProcessorWrapper.start() method
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
Due: otap-dataflow

fix test with filter processor
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/filter_processor.rs
  rust/otap-dataflow/crates/otap/src/filter_processor/config.rs
  rust/otel-arrow-rust/src/arrays.rs
  rust/otel-arrow-rust/src/otap/filter.rs
  rust/otel-arrow-rust/src/otap/filter/logs.rs
  rust/otel-arrow-rust/src/schema/consts.rs
Due: otap-dataflow, otel-arrow-rust

fix clippy
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Due: otap-dataflow

fix imports
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Due: otap-dataflow

Update rust/otap-dataflow/crates/engine/README.md
  rust/otap-dataflow/crates/engine/README.md
Due: otap-dataflow

Update rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

Update rust/otap-dataflow/crates/otap/src/accessory/slots.rs
  rust/otap-dataflow/crates/otap/src/accessory/slots.rs
Due: otap-dataflow

Add internal telemetry to syslog_cef_receiver
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

dispatch route by signal
  rust/otap-dataflow/crates/otap/src/accessory/slots.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

fix indent
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

fix indention issues
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

clean up cargo clippy
  rust/otap-dataflow/crates/otap/src/filter_processor.rs
  rust/otap-dataflow/crates/otap/src/filter_processor/config.rs
  rust/otel-arrow-rust/src/otap/filter.rs
  rust/otel-arrow-rust/src/otap/filter/logs.rs
Due: otap-dataflow, otel-arrow-rust

change logmatchtype to just matchtype to be shared with future trace and metric filter
  rust/otap-dataflow/crates/otap/src/filter_processor.rs
  rust/otel-arrow-rust/src/otap/filter.rs
  rust/otel-arrow-rust/src/otap/filter/logs.rs
Due: otap-dataflow, otel-arrow-rust

cancel telemetry timer in otlp_receiver on shutdown
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

three metrics
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

whitespace
  rust/otap-dataflow/crates/engine/README.md
Due: otap-dataflow

lint
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

clippy
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
Due: otap-dataflow

add readme
  rust/otap-dataflow/crates/otap/src/filter_processor/README.md
  rust/otel-arrow-rust/src/otap/filter.rs
  rust/otel-arrow-rust/src/otap/filter/logs.rs
Due: otap-dataflow, otel-arrow-rust

OTLP receiver Ack/Nack support (#1268)
  rust/otap-dataflow/crates/engine/README.md
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/accessory/mod.rs
  rust/otap-dataflow/crates/otap/src/accessory/slots.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 769b048f4a31a333a443ac2823e5a692c98c6219
  docs/benchmarks/pipeline-perf/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 769b048f4a31a333a443ac2823e5a692c98c6219
  docs/benchmarks/continuous/data.js
Due: none

wip
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

fix readme
  rust/otap-dataflow/crates/otap/src/filter_processor.rs
  rust/otap-dataflow/crates/otap/src/filter_processor/README.md
  rust/otel-arrow-rust/src/otap/filter.rs
Due: otap-dataflow, otel-arrow-rust

Disable OTLP receiver backpressure temporarily (#1311)
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

comment
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
Due: otap-dataflow

Disable OTLP receiver backpressure temporarily (#1311) (#1312)
  rust/otap-dataflow/crates/otap/src/otap_grpc/otlp/server.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for d4a5b3fdb684aad1380416e181c9c5024dfdb9e2
  docs/benchmarks/continuous/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for d4a5b3fdb684aad1380416e181c9c5024dfdb9e2
  docs/benchmarks/pipeline-perf/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 8b32b594e159bae5197d69e9ce15550bdfa91e10
  docs/benchmarks/continuous/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 8b32b594e159bae5197d69e9ce15550bdfa91e10
  docs/benchmarks/pipeline-perf/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for afaf61d8b090151204377c14cbc2f30aa2d25203
  docs/benchmarks/pipeline-perf/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for afaf61d8b090151204377c14cbc2f30aa2d25203
  docs/benchmarks/continuous/data.js
Due: none

fix missing documentation
  rust/otel-arrow-rust/src/otap.rs
Due: otel-arrow-rust

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
