Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

[PerfTest] - add new hooks for df_engine as a loadgen/backend (#1050)
  tools/pipeline_perf_test/orchestrator/docs/plugins/README.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/deployment_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/execution_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/hook_strategies.md
  tools/pipeline_perf_test/orchestrator/docs/plugins/step_actions.md
  tools/pipeline_perf_test/orchestrator/docs/reports/sql_report.md
  tools/pipeline_perf_test/orchestrator/lib/impl/actions/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/impl/actions/no_op_action.py
  tools/pipeline_perf_test/orchestrator/lib/impl/actions/update_component_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/common/process.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/deployment/process.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/network.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/ready_check_http.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/render_template.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/send_http_request.py
  tools/pipeline_perf_test/orchestrator/tests/impl/actions/test_component_action.py
  tools/pipeline_perf_test/orchestrator/tests/impl/actions/test_multi_component_action.py
  tools/pipeline_perf_test/orchestrator/tests/impl/actions/test_noop_action.py
  tools/pipeline_perf_test/orchestrator/tests/impl/actions/test_update_component_strategy.py
  tools/pipeline_perf_test/orchestrator/tests/impl/actions/test_wait_action.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/hooks/test_ready_check_http.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/hooks/test_render_template.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/hooks/test_send_http_request.py
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 8a15a029d24f4ed1a6b2c3a5abd5784dca7ef3dd
  docs/benchmarks/pipeline-perf/data.js
Due: none

[otap-df-otap] Fix OTLP and OTAP receivers (#1032)
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for c0daed0738ef6d2e3fd6bacc91d0d4af65b9563f
  docs/benchmarks/pipeline-perf/data.js
Due: none

Parameter --core-id-range (#1054)
  rust/otap-dataflow/crates/config/src/pipeline_group.rs
  rust/otap-dataflow/crates/controller/src/error.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/src/main.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for d25cb0dbcf66c1633451d848c97328c6b7ca02a0
  docs/benchmarks/pipeline-perf/data.js
Due: none

save omg
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/otap/src/context.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

revert that
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

use select utility to calculate total_batch_size
  rust/otel-arrow-rust/src/otap/groups.rs
Due: otel-arrow-rust

moved the syslog directory inside the otap one
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/README.md
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/src/arrow_records_encoder.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/src/lib.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/src/parser/cef.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/src/parser/mod.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/src/parser/parsed_message.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/src/parser/rfc3164.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/src/parser/rfc5424.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/src/syslog_cef_receiver.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/Cargo.toml
Due: otap-dataflow

update syslog_receiver dependencies
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/syslog_cef_receiver/main.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/cef.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/mod.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/rfc3164.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/rfc5424.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/src/lib.rs
Due: otap-dataflow

Enable automatic constant folding for pipeline during optimization.
  rust/experimental/query_engine/expressions/src/data_expressions.rs
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/summary/summary_data_expression.rs
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
  rust/experimental/query_engine/expressions/src/value_expressions.rs
Due: none

register syslog receiver in the receiver factory
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

make the parser and arrow_records_encoder mods pub for the benchmarks
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

add missing documentation for syslog modules
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

Improve shutdown pipeline endpoint
  rust/otap-dataflow/configs/otap-otap.yaml
  rust/otap-dataflow/configs/otap-otlp.yaml
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
Due: otap-dataflow

[query-engine] Enable automatic constant folding for pipeline during optimization (#1056)
  rust/experimental/query_engine/expressions/src/data_expressions.rs
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/summary/summary_data_expression.rs
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
  rust/experimental/query_engine/expressions/src/value_expressions.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for f8068a7ef16e0eb44f36480bc92eb72c3ec1e46f
  docs/benchmarks/pipeline-perf/data.js
Due: none

Improve shutdown pipeline endpoint
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
Due: otap-dataflow

[otap-dataflow] Register the syslog ref receiver (#1057)
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/syslog_cef_receiver/main.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/README.md
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/cef.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/mod.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/rfc3164.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/rfc5424.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/Cargo.toml
  rust/otap-dataflow/crates/syslog_cef_receiver/src/lib.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for dda2744fbc51455397ddb786b0cbb5ea4d4b1d57
  docs/benchmarks/pipeline-perf/data.js
Due: none

Support accessors into constant values.
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

PR feedback 2
  rust/otel-arrow-rust/src/otap/groups.rs
Due: otel-arrow-rust

fix clippies
  rust/otel-arrow-rust/src/otap/groups.rs
Due: otel-arrow-rust

manual
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

clone_empty
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

cache type decision
  rust/otel-arrow-rust/src/otap/groups.rs
Due: otel-arrow-rust

[query-engine] Support accessors into constant values (#1059)
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/pipeline_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
  rust/experimental/query_engine/kql-parser/src/query_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

Improve shutdown pipeline endpoint
  rust/otap-dataflow/crates/engine/src/control.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 8b0135b635bfa496c2e0c1b085ed9cdffa1b6c12
  docs/benchmarks/pipeline-perf/data.js
Due: none

test
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/object_store.rs
Due: otap-dataflow

wip almost
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otap-dataflow/crates/otap/src/context.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/fixtures.rs
  rust/otap-dataflow/crates/otap/src/mock.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
Due: otap-dataflow

builds
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

fix num_items
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

move code
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

doctest
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

one todo
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

prep for delay
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

Improve shutdown pipeline endpoint
  rust/otap-dataflow/crates/admin/src/lib.rs
  rust/otap-dataflow/crates/admin/src/pipeline.rs
  rust/otap-dataflow/crates/admin/src/pipeline_group.rs
  rust/otap-dataflow/crates/controller/src/error.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/state/Cargo.toml
  rust/otap-dataflow/crates/state/src/config.rs
  rust/otap-dataflow/crates/state/src/error.rs
  rust/otap-dataflow/crates/state/src/lib.rs
  rust/otap-dataflow/crates/state/src/reporter.rs
  rust/otap-dataflow/crates/state/src/store.rs
Due: otap-dataflow

Create CoreAllocation enum
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/configs/otap-otap.yaml
  rust/otap-dataflow/configs/otap-otlp.yaml
  rust/otap-dataflow/crates/admin/src/lib.rs
  rust/otap-dataflow/crates/admin/src/pipeline.rs
  rust/otap-dataflow/crates/admin/src/pipeline_group.rs
  rust/otap-dataflow/crates/controller/src/error.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/state/README.md
  rust/otap-dataflow/crates/state/src/config.rs
  rust/otap-dataflow/crates/state/src/error.rs
  rust/otap-dataflow/crates/state/src/lib.rs
  rust/otap-dataflow/crates/state/src/reporter.rs
  rust/otap-dataflow/crates/state/src/store.rs
Due: otap-dataflow

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
