Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

Upgrade arrow and arrow-ipc to v55 (#462)
  rust/otel-arrow-rust/Cargo.toml
Due: otel-arrow-rust

clean up the logic used to apply the compression to the grpc service and client. Added additional error handling for the exporter
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/build.rs
  rust/otap-dataflow/crates/otlp/src/grpc.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
Due: otap-dataflow

ran cargo fmt
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
Due: otap-dataflow

removed the need for option<CompressionEncoding>
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
Due: otap-dataflow

removed unused imports
  rust/otap-dataflow/crates/otlp/src/grpc.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
Due: otap-dataflow

Perf - switch docker interaction to use api client library (#454)
  tools/pipeline_perf_test/orchestrator/lib/process/deployed_process/docker.py
  tools/pipeline_perf_test/orchestrator/lib/process/utils/docker.py
  tools/pipeline_perf_test/orchestrator/orchestrator.py
Due: none

perftest - small improvement to loadgen (#452)
  tools/pipeline_perf_test/load_generator/loadgen.py
Due: none

Update rust/otel-arrow-rust/src/otlp/attributes/decoder.rs
  rust/otel-arrow-rust/src/otlp/attributes/decoder.rs
Due: otel-arrow-rust

corrected some misleading variable names
  rust/otel-arrow-rust/src/otlp/attributes/decoder.rs
Due: otel-arrow-rust

fix errant comment
  rust/otel-arrow-rust/src/otlp/attributes/decoder.rs
Due: otel-arrow-rust

PR feedback
  go/pkg/otel/common/arrow/attributes.go
  rust/otel-arrow-rust/src/otlp/attributes/decoder.rs
Due: otel-arrow-rust

PR feedback
  rust/otel-arrow-rust/src/otlp/attributes/decoder.rs
Due: otel-arrow-rust

feat: add function to materialize transport optimized parent ids
  rust/otel-arrow-rust/src/otlp/attributes/decoder.rs
Due: otel-arrow-rust

added benches and key equality check improvments
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/benches/materialize_parent_id.rs
  rust/otel-arrow-rust/src/lib.rs
  rust/otel-arrow-rust/src/otlp.rs
  rust/otel-arrow-rust/src/otlp/attributes/decoder.rs
  rust/otel-arrow-rust/src/schema.rs
Due: otel-arrow-rust

cleanup after adding bench
  rust/otel-arrow-rust/benches/materialize_parent_id.rs
  rust/otel-arrow-rust/src/otlp.rs
  rust/otel-arrow-rust/src/schema.rs
Due: otel-arrow-rust

include bench for empty record batch path
  rust/otel-arrow-rust/benches/materialize_parent_id.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

fix clippys in bench
  rust/otel-arrow-rust/benches/materialize_parent_id.rs
Due: otel-arrow-rust

undo changes to protos
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

feat: add function to materialize transport optimized parent ids (#455)
  go/pkg/otel/common/arrow/attributes.go
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/benches/materialize_parent_id.rs
  rust/otel-arrow-rust/src/lib.rs
  rust/otel-arrow-rust/src/otlp.rs
  rust/otel-arrow-rust/src/otlp/attributes/decoder.rs
  rust/otel-arrow-rust/src/schema.rs
Due: otel-arrow-rust

inital structure for core module with test_framework and context
  tools/pipeline_perf_test/orchestrator/lib/core/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/base.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_context.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_definition.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_step.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_suite.py
Due: none

fix docstrings
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_definition.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_step.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_suite.py
Due: none

typo fix
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_context.py
Due: none

typing fixes
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_definition.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_step.py
Due: none

format /w black
  tools/pipeline_perf_test/orchestrator/lib/core/context/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/base.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_context.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_definition.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_step.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_suite.py
Due: none

setup otap proto files
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otap/src/otap-receiver.rs
  rust/otap-dataflow/crates/otap/src/proto/mod.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otap-dataflow/xtask/src/main.rs
Due: otap-dataflow

check otlp_exporter test
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
Due: otap-dataflow

Perf - Orchestrator restructuring phase1 (#466)
  tools/pipeline_perf_test/orchestrator/lib/core/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/context/base.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_context.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_definition.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_step.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_suite.py
Due: none

update deny.toml and test grpc_port with otlp exporter
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/deny.toml
Due: otap-dataflow

Add hyper-dag config model
  rust/otap-dataflow/crates/config/src/error.rs
  rust/otap-dataflow/crates/config/src/lib.rs
  rust/otap-dataflow/crates/config/src/node.rs
  rust/otap-dataflow/crates/engine/src/config.rs
Due: otap-dataflow

add perf orchestrator strategies and lifecycle component
  tools/pipeline_perf_test/orchestrator/lib/core/component/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/component/lifecycle_component.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/configuration_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/deployment_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/execution_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/monitoring_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/reporting_strategy.py
Due: none

fix sanitycheck
  tools/pipeline_perf_test/orchestrator/lib/core/component/lifecycle_component.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/execution_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/monitoring_strategy.py
Due: none

fix unused import
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/monitoring_strategy.py
Due: none

updated tcp_exporter to use tcp_listener to bind to the address
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
Due: otap-dataflow

Add OTLP Receiver and Exporter (#451)
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/testing/mod.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/grpc.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/mock.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otlp/src/proto/mod.rs
  rust/otap-dataflow/crates/otlp/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otap-dataflow/crates/otlp/src/proto/opentelemetry.proto.collector.profiles.v1development.rs
  rust/otap-dataflow/crates/otlp/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otap-dataflow/crates/otlp/src/proto/opentelemetry.proto.common.v1.rs
  rust/otap-dataflow/crates/otlp/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otap-dataflow/crates/otlp/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otap-dataflow/crates/otlp/src/proto/opentelemetry.proto.profiles.v1development.rs
  rust/otap-dataflow/crates/otlp/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otap-dataflow/deny.toml
  rust/otap-dataflow/xtask/src/main.rs
Due: otap-dataflow

WIP Commit for debugging/review
  rust/otap-dataflow/crates/engine/Cargo.toml
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/README.md
  rust/otap-dataflow/crates/otlp/src/batch_processor.rs
  rust/otap-dataflow/crates/otlp/src/grpc.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/types.rs
Due: otap-dataflow

misc docstring updates
  tools/pipeline_perf_test/orchestrator/lib/core/component/lifecycle_component.py
Due: none

clone reqs to keep the raw data in scope
  rust/otap-dataflow/crates/otlp/src/batch_processor.rs
Due: otap-dataflow
