Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

Fix CI
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
Due: otap-dataflow

add perf_exporter benchmark
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/perf_exporter/main.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/perf_exporter/src/config.rs
  rust/otap-dataflow/crates/perf_exporter/src/perf_exporter.rs
Due: otap-dataflow

[query-engine] Add data record and batch definitions to recordset engine (#585)
  rust/experimental/query_engine/engine-recordset/src/data/data_record.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_batch.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_resolver.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_resolver_cache.rs
  rust/experimental/query_engine/engine-recordset/src/data/mod.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 7a5e578d3596de6f22ae42a76c9767c5d233d831
  docs/benchmarks/pipeline-perf/data.js
Due: none

OTLP Logs counting/Visitor time: [82.171 ns 84.379 ns 86.774 ns] OTLP Logs counting/Manual time: [36.487 ns 37.326 ns 38.221 ns] OTLP Logs counting/FlatMap time: [32.029 ns 33.540 ns 35.166 ns]
  rust/otel-arrow-rust/benches/item_count.rs
  rust/otel-arrow-rust/src/validation/otlp.rs
Due: otel-arrow-rust

refmt
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

messages are cannot skip
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
Due: otel-arrow-rust

remove OPTION from message
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
Due: otel-arrow-rust

thorough slice
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
Due: otel-arrow-rust

comment
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
Due: otel-arrow-rust

tests pass
  rust/otel-arrow-rust/src/pdata/otlp/README.md
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/primitive_encoders.rs
  rust/otel-arrow-rust/src/pdata/otlp/tests.rs
Due: otel-arrow-rust

[otel-arrow-rust] Add UDP support (#568)
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 322e82a2f7edabe612ad372ee0887eb650c13198
  docs/benchmarks/pipeline-perf/data.js
Due: none

feat: add null support to adaptive array builders (#583)
  rust/otel-arrow-rust/src/encode/record.rs
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/binary.rs
  rust/otel-arrow-rust/src/encode/record/array/boolean.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
  rust/otel-arrow-rust/src/encode/record/array/primitive.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
  rust/otel-arrow-rust/src/encode/record/array/structs.rs
Due: otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 73679e39dc5ae418693c3006b0b66a084485b622
  docs/benchmarks/pipeline-perf/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for be8580e8c6263b0cdf95deae8914401a9730e1ac
  docs/benchmarks/pipeline-perf/data.js
Due: none

example tests pass?
  rust/otel-arrow-rust/.gitignore
  rust/otel-arrow-rust/src/otlp/traces.rs
  rust/otel-arrow-rust/src/otlp/traces/delta_decoder.rs
Due: otel-arrow-rust

remove adapter
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/common.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/lib.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/message_adapter.rs
Due: otel-arrow-rust

fmt
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust

rename encoders
  rust/otel-arrow-rust/src/pdata/otlp/README.md
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/common.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
  rust/otel-arrow-rust/src/pdata/otlp/encoders.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
Due: otel-arrow-rust

readme
  rust/otel-arrow-rust/src/pdata/otlp/README.md
Due: otel-arrow-rust

dead
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/common.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/field_info.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/visitor.rs
Due: otel-arrow-rust

benchmark
  rust/otel-arrow-rust/benches/item_count.rs
  rust/otel-arrow-rust/benches/otlp_bytes.rs
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/encoders.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
Due: otel-arrow-rust

Clippy cleanup and pairdown for data & primitives.
  rust/experimental/query_engine/engine-recordset/src/data/data_record.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_resolver.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_resolver_cache.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/any_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/array_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/bool_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/date_time_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/double_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/long_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/map_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/regex_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/string_value.rs
Due: none

[query-engine] Clippy cleanup and pair down for data & primitives (#586)
  rust/experimental/query_engine/engine-recordset/src/data/data_record.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_resolver.rs
  rust/experimental/query_engine/engine-recordset/src/data/data_record_resolver_cache.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/any_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/array_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/bool_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/date_time_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/double_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/long_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/map_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/regex_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/string_value.rs
Due: none

clippy
  rust/otel-arrow-rust/src/otlp/traces/delta_decoder.rs
  rust/otel-arrow-rust/src/pdata/otlp/README.md
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/encoded_len.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
Due: otel-arrow-rust

sanity
  rust/otel-arrow-rust/src/pdata/otlp/README.md
Due: otel-arrow-rust

lint
  rust/otel-arrow-rust/src/pdata/otlp/README.md
Due: otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 0ac96ac0421cf9dc3277ba1be311da01a37ee17a
  docs/benchmarks/pipeline-perf/data.js
Due: none

Clippy cleanup and pair down in root.
  rust/experimental/query_engine/engine-recordset/src/execution_context.rs
  rust/experimental/query_engine/engine-recordset/src/expression.rs
  rust/experimental/query_engine/engine-recordset/src/lib.rs
  rust/experimental/query_engine/engine-recordset/src/macros.rs
  rust/experimental/query_engine/engine-recordset/src/pipeline_expression.rs
  rust/experimental/query_engine/engine-recordset/src/summary.rs
  rust/experimental/query_engine/engine-recordset/src/value_path.rs
Due: none

Revert lib additions.
  rust/experimental/query_engine/engine-recordset/src/lib.rs
Due: none

Whitespace.
  rust/experimental/query_engine/engine-recordset/src/lib.rs
Due: none

benchlint
  rust/otel-arrow-rust/benches/item_count.rs
  rust/otel-arrow-rust/benches/otlp_bytes.rs
Due: otel-arrow-rust

maybe
  .github/codecov.yaml
Due: none

again
  .github/codecov.yaml
Due: none

update benchmark to run all the current exporters
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/benchmarks/benches/perf_exporter/main.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
Due: otap-dataflow

clean up
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/crates/perf_exporter/src/perf_exporter.rs
Due: otap-dataflow

add bench
  rust/otel-arrow-rust/benches/otlp_bytes.rs
Due: otel-arrow-rust

fix Traces split_into_batches
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otap-dataflow, otel-arrow-rust

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
