Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

fix broken tests by using wrong parent ID
  rust/otel-arrow-rust/src/otap/transform.rs
  rust/otel-arrow-rust/src/otlp/metrics.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/exp_histogram.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/histogram.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/number.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/summary.rs
  rust/otel-arrow-rust/src/otlp/metrics/exemplar.rs
Due: otel-arrow-rust

Update rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/common.rs
Due: otel-arrow-rust

remove commented code
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

Apply suggestions from code review
  tools/pipeline_perf_test/test_suites/integration/configs/integration_report_logs.yaml
Due: none

Encode OTAP -> OTLP proto bytes directly for Metrics (#1143)
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/fixtures.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otel-arrow-rust/benches/materialize_parent_id.rs
  rust/otel-arrow-rust/src/decode/decoder.rs
  rust/otel-arrow-rust/src/encode/producer.rs
  rust/otel-arrow-rust/src/encode/record/attributes.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
  rust/otel-arrow-rust/src/error.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/transform.rs
  rust/otel-arrow-rust/src/otap/transform/transport_optimize.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/attributes/store.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/otlp/metrics.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/data_point_store.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/exp_histogram.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/histogram.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/number.rs
  rust/otel-arrow-rust/src/otlp/metrics/data_points/summary.rs
  rust/otel-arrow-rust/src/otlp/metrics/exemplar.rs
  rust/otel-arrow-rust/src/otlp/metrics/related_data.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
  rust/otel-arrow-rust/src/proto/consts.rs
Due: otap-dataflow, otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 97c3a5aa907064edc007e6735fed9640fd74120c
  docs/benchmarks/pipeline-perf/data.js
Due: none

Clean up scalar expression parsing in KQL parser.
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_array_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_parse_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_temporal_function_expressions.rs
Due: none

added encoding cbor to proto AnyValue bytes directly
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/attributes/cbor.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
Due: otel-arrow-rust

fix tests w/ broken import
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/encoder/cbor.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/validation/scenarios.rs
Due: otap-dataflow, otel-arrow-rust

fix clippies
  rust/otel-arrow-rust/src/otlp/attributes/cbor.rs
Due: otel-arrow-rust

fix test
  rust/otap-dataflow/crates/otap/src/encoder/cbor.rs
Due: otap-dataflow

[query-engine] Extend KQL parser schema into child maps (#1137)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/expressions/src/value_accessor.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser.rs
Due: none

[query-engine] Clean up scalar expression parsing in KQL parser (#1146)
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_array_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_parse_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_string_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_temporal_function_expressions.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for b88ba7cb5dc416a54b66738829e2197701c687c2
  docs/benchmarks/pipeline-perf/data.js
Due: none

[PerfTest] Initial CI Suite For DF Engine (#1140)
  tools/pipeline_perf_test/test_suites/integration/README.md
  tools/pipeline_perf_test/test_suites/integration/configs/.gitignore
  tools/pipeline_perf_test/test_suites/integration/configs/backend/.keep
  tools/pipeline_perf_test/test_suites/integration/configs/engine/.keep
  tools/pipeline_perf_test/test_suites/integration/configs/integration_report_logs.yaml
  tools/pipeline_perf_test/test_suites/integration/configs/loadgen/.keep
  tools/pipeline_perf_test/test_suites/integration/continuous/100klrps-docker.yaml
  tools/pipeline_perf_test/test_suites/integration/nightly/syslog-docker.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/backend/config.yaml.j2
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/otap-attr-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/otap-attr-otlp.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/otlp-attr-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/otlp-attr-otlp.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/syslog-attr-otap.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/engine/syslog-attr-otlp.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/configs/loadgen/config.yaml.j2
  tools/pipeline_perf_test/test_suites/integration/templates/reports/gh-action-sqlreport.j2
  tools/pipeline_perf_test/test_suites/integration/templates/test_steps/df-loadgen-steps-docker.yaml
  tools/pipeline_perf_test/test_suites/integration/templates/test_steps/python-loadgen-steps-docker.yaml
Due: none

[otap-dataflow] Add internal telemetry to RetryProcessor (RFC-aligned) + tests (#1141)
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

Encode OTAP -> OTLP proto bytes directly for Slice/Map AnyValues (#1147)
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/encoder/cbor.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/attributes/cbor.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/validation/scenarios.rs
Due: otap-dataflow, otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for eaf81aabee7eaa80d4ffe78a59d9bfd0922345d0
  docs/benchmarks/pipeline-perf/data.js
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for e889bc3484ea814259fc7dcba61a38c58d51fe8b
  docs/benchmarks/pipeline-perf/data.js
Due: none

Summary schema validation support in KQL parser.
  rust/experimental/query_engine/kql-parser/src/aggregate_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

[query-engine] Summary schema validation support in KQL parser (#1148)
  rust/experimental/query_engine/kql-parser/src/aggregate_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
  rust/experimental/query_engine/parser-abstractions/src/parser.rs
  rust/experimental/query_engine/parser-abstractions/src/parser_state.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 1ca74027095cbd46bda865b09d5cb80c94262574
  docs/benchmarks/pipeline-perf/data.js
Due: none

Support passing attribute schema in OTLP bridge.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/Cargo.toml
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge_options.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/lib.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/otlp_kql_recordset.rs
  rust/experimental/query_engine/parser-abstractions/src/parser.rs
Due: none

Simplify OTLP Exporter
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

Fix formatting
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

[otap-df-otap] Simplify OTLP Exporter (#1152)
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

[otap-df-otap] Fix indentation (#1153)
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for e200625cdbd6d41b0c679d7339e9776c747f4cdf
  docs/benchmarks/pipeline-perf/data.js
Due: none

Lint.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge_options.rs
Due: none

Optimize varint encoding
  rust/otel-arrow-rust/src/otlp/common.rs
Due: otel-arrow-rust

Lint.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
Due: none

[query-engine] Support passing attribute schema in OTLP bridge (#1151)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/Cargo.toml
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge_options.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/lib.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/otlp_kql_recordset.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
  rust/experimental/query_engine/parser-abstractions/src/parser.rs
Due: none

Fix format
  rust/otel-arrow-rust/src/otlp/common.rs
Due: otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 1c80b0cd77e7c7dd2480cdb4511d069ceaeda73c
  docs/benchmarks/pipeline-perf/data.js
Due: none

Cancel telemetry timer on shutdown
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

add predicate logic for defining what attributes to filter against
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/filter.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/predicate.rs
  rust/otel-arrow-rust/src/otlp/common.rs
Due: otap-dataflow, otel-arrow-rust

fixed the check_attributes fn removed the hashing
  rust/otap-dataflow/crates/otap/src/debug_processor/predicate.rs
  rust/otel-arrow-rust/src/otlp/common.rs
Due: otap-dataflow, otel-arrow-rust

update readme and add tests
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/filter.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/predicate.rs
Due: otap-dataflow

fix markdown
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/debug_processor/predicate.rs
Due: otap-dataflow

Update OTAP Exporter
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
