Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

PerfTest - add more perf metrics to the output for trend tracking (#494)
  tools/pipeline_perf_test/orchestrator/lib/report/report.py
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for acd9575ef987f34cf6325e07d12860ba45e2fd19
  docs/benchmarks/pipeline-perf/data.js
Due: none

Pin actions/download-artifact to SemVer hash
  .github/workflows/pipeline-perf-test.yml
Due: none

Upgrade go to 1.24
  .github/workflows/go-ci.yml
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  go/go.mod
Due: none

PerfTest : Try running on CNCF self-hosted runner (#495)
  .github/workflows/pipeline-perf-test.yml
Due: none

Pin actions/download-artifact to SemVer hash (#505)
  .github/workflows/pipeline-perf-test.yml
Due: none

comments
  rust/otel-arrow-rust/benches/item_count.rs
  rust/otel-arrow-rust/src/pdata/otlp/direct.rs
Due: otel-arrow-rust

1.24.3 specifically
  .github/workflows/go-ci.yml
  collector/cmd/otelarrowcol/go.mod
  go/go.mod
Due: none

Missing go updates
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
Due: none

Again
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
Due: none

wip
  rust/otel-arrow-rust/src/pdata/otlp/direct.rs
  rust/otel-arrow-rust/src/pdata/otlp/note.md
Due: otel-arrow-rust

cargo bench
  rust/otel-arrow-rust/Cargo.toml
Due: otel-arrow-rust

add configuration classes and factory, yaml loader
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/configuration_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/deployment_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/execution_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/hook_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/monitoring_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/reporting_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_step.py
  tools/pipeline_perf_test/orchestrator/lib/runner/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/runner/factory.py
  tools/pipeline_perf_test/orchestrator/lib/runner/registry.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/hook_config.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/loader.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/test_config.py
  tools/pipeline_perf_test/orchestrator/lib/runner/wrappers.py
Due: none

fix dependencies in Cargo.toml for otlp and use dependencies in rust base Cargo.toml
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otlp/Cargo.toml
Due: otap-dataflow

Add OTAP Receiver and Exporter (#480)
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/mock.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/proto/mod.rs
  rust/otap-dataflow/crates/otap/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otap-dataflow/crates/otlp/src/compression.rs
  rust/otap-dataflow/crates/otlp/src/grpc.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/mock.rs
  rust/otap-dataflow/xtask/src/main.rs
Due: otap-dataflow

feat: add parquet exporter
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/engine/Cargo.toml
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/config.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/object_store.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/partition.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/test/datagen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/writer.rs
  rust/otel-arrow-rust/src/otap.rs
Due: otap-dataflow, otel-arrow-rust

remove changes accidently added to engine Cargo.toml
  rust/otap-dataflow/crates/engine/Cargo.toml
Due: otap-dataflow

Upgrade go to 1.24.3 (#508)
  .github/workflows/go-ci.yml
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  go/go.mod
Due: none

fixed imports
  rust/otap-dataflow/crates/perf_exporter/Cargo.toml
  rust/otap-dataflow/crates/perf_exporter/src/perf_exporter.rs
Due: otap-dataflow

Perf - Orchestrator, add configuration classes, factory, yaml loader (#511)
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/configuration_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/deployment_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/execution_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/hook_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/monitoring_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/strategies/reporting_strategy.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/core/test_framework/test_step.py
  tools/pipeline_perf_test/orchestrator/lib/runner/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/runner/factory.py
  tools/pipeline_perf_test/orchestrator/lib/runner/registry.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/hook_config.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/loader.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/test_config.py
  tools/pipeline_perf_test/orchestrator/lib/runner/wrappers.py
Due: none

clean
  rust/otel-arrow-rust/src/pdata/otlp/direct.rs
Due: otel-arrow-rust

remove pin_project which was included accidently
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
Due: otap-dataflow

derive insertion point
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/lib.rs
  rust/otel-arrow-rust/src/pdata/otlp/direct.rs
  rust/otel-arrow-rust/src/pdata/otlp/mod.rs
Due: otel-arrow-rust

wip
  rust/otel-arrow-rust/src/pdata/otlp/derive/src/lib.rs
Due: otel-arrow-rust

Update the configuration model
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/config/main.rs
  rust/otap-dataflow/crates/config/Cargo.toml
  rust/otap-dataflow/crates/config/src/data_plane.rs
  rust/otap-dataflow/crates/config/src/error.rs
  rust/otap-dataflow/crates/config/src/experimental.rs
  rust/otap-dataflow/crates/config/src/lib.rs
  rust/otap-dataflow/crates/config/src/node.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/config/src/tenant.rs
  rust/otap-dataflow/crates/engine/src/config.rs
Due: otap-dataflow

Update the configuration model
  rust/otap-dataflow/crates/config/src/data_plane.rs
  rust/otap-dataflow/crates/config/src/error.rs
  rust/otap-dataflow/crates/config/src/experimental.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
Due: otap-dataflow

Update the configuration model
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/config/Cargo.toml
  rust/otap-dataflow/crates/config/src/error.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/mod.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/src/grpc.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
Due: otap-dataflow

Fix clippy issues
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/benches/channel/main.rs
  rust/otap-dataflow/crates/config/src/experimental.rs
  rust/otap-dataflow/crates/config/src/lib.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/mod.rs
  rust/otap-dataflow/crates/engine/src/shared/mod.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/mock.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
Due: otap-dataflow

fix time unit of DurationTimenixNano field
  go/pkg/otel/traces/arrow/all_test.go
  go/pkg/otel/traces/arrow/traces.go
Due: none

Fix all clippy issues
  rust/otap-dataflow/crates/engine/src/local/mod.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otlp/src/lib.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
Due: otap-dataflow

Fix license issue
  rust/otap-dataflow/deny.toml
Due: otap-dataflow

Improve naming in the config module
  rust/otap-dataflow/crates/config/src/engine.rs
  rust/otap-dataflow/crates/config/src/lib.rs
  rust/otap-dataflow/crates/config/src/node.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/config/src/tenant.rs
Due: otap-dataflow

Update README.md
  rust/otap-dataflow/crates/config/README.md
Due: otap-dataflow

Improve README.md
  rust/otap-dataflow/crates/config/README.md
Due: otap-dataflow

Add a section config validation & error reporting
  rust/otap-dataflow/crates/config/README.md
Due: otap-dataflow

fix deny check
  rust/otap-dataflow/deny.toml
Due: otap-dataflow

PR feedback
  rust/otap-dataflow/crates/otap/src/parquet_exporter/idgen.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/writer.rs
Due: otap-dataflow

Update roadmap section
  rust/otap-dataflow/crates/config/README.md
Due: otap-dataflow

add file from otel-arrow-rust that was forgotten
  rust/otel-arrow-rust/src/otap.rs
Due: otel-arrow-rust

fix fmt
  rust/otel-arrow-rust/src/otap.rs
Due: otel-arrow-rust
