Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

some cleanup
  rust/otel-arrow-rust/src/decode/proto_bytes.rs
  rust/otel-arrow-rust/src/decode/proto_bytes/resource.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
Due: otel-arrow-rust

refactor to use cursor
  rust/otel-arrow-rust/src/decode.rs
  rust/otel-arrow-rust/src/decode/proto_bytes.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
Due: otel-arrow-rust

some more cleanup
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
Due: otel-arrow-rust

update OtapPdata generstion to use new_default()
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
Due: otap-dataflow

fix linting
  rust/otap-dataflow/crates/otap/src/otap_batch_processor.rs
Due: otap-dataflow

clean up code
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otel-arrow-rust/src/otlp.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
Due: otap-dataflow, otel-arrow-rust

Add RenameMapKeysTransformExpression.
  rust/experimental/query_engine/engine-recordset/src/transform/mod.rs
  rust/experimental/query_engine/engine-recordset/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/rename_map_keys_transform_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
Due: none

almost all the tests pass
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
Due: otap-dataflow, otel-arrow-rust

config: enforce serde strictness and normalize option casing (#1099)
  rust/otap-dataflow/crates/config/src/engine.rs
  rust/otap-dataflow/crates/config/src/node.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/config/src/pipeline_group.rs
  rust/otap-dataflow/crates/otap/src/compression.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator/config.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter/config.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/config.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
  rust/otap-dataflow/crates/state/src/config.rs
  rust/otap-dataflow/crates/telemetry/src/config.rs
Due: otap-dataflow

tests pass
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/common.rs
Due: otel-arrow-rust

[otap-dataflow] Config: enforce serde strictness and normalize option casing (#1107)
  rust/otap-dataflow/crates/config/src/engine.rs
  rust/otap-dataflow/crates/config/src/node.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/config/src/pipeline_group.rs
  rust/otap-dataflow/crates/otap/src/compression.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator/config.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter/config.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/config.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
  rust/otap-dataflow/crates/state/src/config.rs
  rust/otap-dataflow/crates/telemetry/src/config.rs
Due: otap-dataflow

Support KQL project-rename.
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 549b3330b14b0ff3ca09a0373f64ff51f3de955f
  docs/benchmarks/pipeline-perf/data.js
Due: none

ran cargo fmt, and removed blank line in readme
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/debug_processor/detailed_marshaler.rs
Due: otap-dataflow

wip context/frame/data
  rust/otap-dataflow/crates/engine/src/node.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

wip
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

added some comments
  rust/otel-arrow-rust/src/decode.rs
  rust/otel-arrow-rust/src/lib.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
Due: otel-arrow-rust

incorporate reviewer feedback
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/src/otap/groups.rs
Due: otel-arrow-rust

fix all the clippies and TODOs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otel-arrow-rust/src/arrays.rs
  rust/otel-arrow-rust/src/decode/decoder.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/otlp/logs/related_data.rs
Due: otap-dataflow, otel-arrow-rust

finish adding tests
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
Due: otap-dataflow, otel-arrow-rust

updated comment
  rust/otel-arrow-rust/src/otlp/common.rs
Due: otel-arrow-rust

avoid copying string fields when encoding OTLP proto
  rust/otel-arrow-rust/src/arrays.rs
  rust/otel-arrow-rust/src/otlp/attributes.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
Due: otel-arrow-rust

config(urn): add URN parsing and validation (#1099 PR 2)
  rust/otap-dataflow/configs/fake-debug-noop.yaml
  rust/otap-dataflow/configs/fake-parquet.yaml
  rust/otap-dataflow/configs/fake-perf.yaml
  rust/otap-dataflow/configs/otlp-otap.yaml
  rust/otap-dataflow/configs/otlp-otlp.yaml
  rust/otap-dataflow/configs/otlp-perf.yaml
  rust/otap-dataflow/crates/config/Cargo.toml
  rust/otap-dataflow/crates/config/src/lib.rs
  rust/otap-dataflow/crates/config/src/urn.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

fix what broke merging main
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

tighten nss checks, allow deeper OTAP names
  rust/otap-dataflow/crates/config/src/urn.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
Due: otap-dataflow

Fix OtapBatchStore
  rust/otel-arrow-rust/src/otap.rs
Due: otel-arrow-rust

Remove shrink method
  rust/otel-arrow-rust/src/otap/groups.rs
Due: otel-arrow-rust

Add tests.
  rust/experimental/query_engine/engine-recordset/src/transform/rename_map_keys_transform_expression.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

Tweak.
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

[query-engine] Rename transformations (#1103)
  rust/experimental/query_engine/engine-recordset/src/transform/mod.rs
  rust/experimental/query_engine/engine-recordset/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/rename_map_keys_transform_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/src/transform_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

add Benchmark (customSmallerIsBetter) benchmark result for 855a751a8b215aa81e204023992a67671add3267
  docs/benchmarks/pipeline-perf/data.js
Due: none

update testing scenario
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
Due: otap-dataflow

Retry logic
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

Update docstring and test for known_patterns
  rust/otap-dataflow/crates/config/src/urn.rs
Due: otap-dataflow

Working draft of project-rename and project-away
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/kql_attributes_processor.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
Due: otap-dataflow

lint
  rust/otap-dataflow/crates/otap/src/kql_attributes_processor.rs
Due: otap-dataflow

Config: RFC-compliant URN validation and canonical plugin URNs (#1113)
  rust/otap-dataflow/configs/fake-debug-noop.yaml
  rust/otap-dataflow/configs/fake-parquet.yaml
  rust/otap-dataflow/configs/fake-perf.yaml
  rust/otap-dataflow/configs/otlp-otap.yaml
  rust/otap-dataflow/configs/otlp-otlp.yaml
  rust/otap-dataflow/configs/otlp-perf.yaml
  rust/otap-dataflow/crates/config/Cargo.toml
  rust/otap-dataflow/crates/config/src/lib.rs
  rust/otap-dataflow/crates/config/src/urn.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for ef5b9e19c2767b1919b6570b1d63f53530b1e423
  docs/benchmarks/pipeline-perf/data.js
Due: none

Update rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/common.rs
Due: otel-arrow-rust

PR feedback
  rust/otel-arrow-rust/src/otlp/common.rs
Due: otel-arrow-rust

Path conditions:
  otap-dataflow: any of: rust/otap-dataflow/
  beaubourg: any of: rust/beaubourg/
  otel-arrow-rust: any of: rust/otel-arrow-rust/
  query_abstraction: any of: rust/experimental/query_abstraction/
  syslog_cef_receivers: any of: rust/experimental/syslog-cef-receivers/
