Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

kql arithmetics
  rust/experimental/query_engine/expressions/src/scalars/arithmetic_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

checkpoint to avoid breaking tests (they all pass on this commit)
  rust/otel-arrow-rust/src/encode/column_encoding.rs
  rust/otel-arrow-rust/src/otap.rs
Due: otel-arrow-rust

it is working for all the datapoint attributes
  rust/otel-arrow-rust/src/encode/column_encoding.rs
  rust/otel-arrow-rust/src/otap.rs
Due: otel-arrow-rust

suggestion
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
Due: otap-dataflow

use math instead, also fix how operations are handled based on value types
  rust/experimental/query_engine/expressions/src/scalars/arithmetic_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

undo delete comment line
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none

fix clippy warn
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

[otap-dataflow] Update the fake-signal-receiver to accept a message rate and update attribute key/value pairing to be random (#883)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/benchmarks/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/README.md
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/attributes.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/config.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_signal.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for d4879f499c1819a268de6bb399c842db626b7a4d
  docs/benchmarks/pipeline-perf/data.js
Due: none

it is working for exemplar attributes
  rust/otel-arrow-rust/src/encode/column_encoding.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/transform.rs
Due: otel-arrow-rust

implemented for metrics attrs and scope/resource attrs on metrics
  rust/otel-arrow-rust/src/otap.rs
Due: otel-arrow-rust

loosen a fake_signal test
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
Due: otap-dataflow

suspecting a flake
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
Due: otap-dataflow

prnum
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
Due: otap-dataflow

observed
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
Due: otap-dataflow

address comments
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

address comments
  rust/experimental/query_engine/kql-parser/src/kql.pest
Due: none

work in progress.
  rust/experimental/query_engine/kql-parser/src/kql.pest
Due: none

copyright
  rust/otap-dataflow/crates/engine/src/testing/node.rs
Due: otap-dataflow

same in otap
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
Due: otap-dataflow

feedback
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

ignore/comment
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
Due: otap-dataflow

Establish engine::NodeId = {config::NodeId; NodeIndex(u16)} (#939)
  rust/otap-dataflow/benchmarks/benches/exporter/main.rs
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/node.rs
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/retry_processor.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/engine/src/shared/exporter.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
  rust/otap-dataflow/crates/engine/src/testing/exporter.rs
  rust/otap-dataflow/crates/engine/src/testing/mod.rs
  rust/otap-dataflow/crates/engine/src/testing/node.rs
  rust/otap-dataflow/crates/engine/src/testing/processor.rs
  rust/otap-dataflow/crates/engine/src/testing/receiver.rs
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
  rust/otap-dataflow/crates/otap/src/otap_receiver.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/exporter.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
  rust/otap-dataflow/crates/otlp/src/otlp_batch_processor.rs
  rust/otap-dataflow/crates/otlp/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otlp/src/otlp_receiver.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for d45e70a8368bdc89e9c7c5ee87fc7c1e55ff59cb
  docs/benchmarks/pipeline-perf/data.js
Due: none

TimeSpan support in expressions and recordset engine.
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/convert_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/math_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/date_utils.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/primitives/value_type.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
Due: none

Refactor macro stuff
  rust/otap-dataflow/crates/telemetry/src/metrics.rs
Due: otap-dataflow

Split negate into its own scalar.
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
Due: none

Tweaks.
  rust/experimental/query_engine/kql-parser/src/kql.pest
Due: none

Introduce MvMetrics and MvMetricsSnapshot
  rust/otap-dataflow/configs/otap-perf.yaml
  rust/otap-dataflow/crates/engine/src/context.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/telemetry-macros/src/lib.rs
  rust/otap-dataflow/crates/telemetry/src/collector.rs
  rust/otap-dataflow/crates/telemetry/src/metrics.rs
  rust/otap-dataflow/crates/telemetry/src/pipeline.rs
  rust/otap-dataflow/crates/telemetry/src/registry.rs
  rust/otap-dataflow/crates/telemetry/src/reporter.rs
Due: otap-dataflow

Refactor the metrics system
  rust/otap-dataflow/crates/engine/src/context.rs
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/otlp_receiver.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/exporter.rs
  rust/otap-dataflow/crates/telemetry-macros/src/lib.rs
  rust/otap-dataflow/crates/telemetry/src/collector.rs
  rust/otap-dataflow/crates/telemetry/src/metrics.rs
  rust/otap-dataflow/crates/telemetry/src/registry.rs
  rust/otap-dataflow/crates/telemetry/src/reporter.rs
Due: otap-dataflow

cleanup safety, add remapping optimization and add some extra tests for id remapping
  rust/otel-arrow-rust/src/encode/column_encoding.rs
  rust/otel-arrow-rust/src/otap.rs
Due: otel-arrow-rust

moved the code into a more sensible location
  rust/otel-arrow-rust/src/encode.rs
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/transform.rs
  rust/otel-arrow-rust/src/otap/transform/transport_optimize.rs
Due: otel-arrow-rust

cleanup more TODO and safety comments
  rust/otel-arrow-rust/src/otap/transform.rs
  rust/otel-arrow-rust/src/otap/transform/transport_optimize.rs
Due: otel-arrow-rust

add Benchmark (customSmallerIsBetter) benchmark result for 69a56adf9467bd3aa666e30ebd81a5c3a8644b9b
  docs/benchmarks/pipeline-perf/data.js
Due: none

added tests for special cases of encoder functions
  rust/otel-arrow-rust/src/otap.rs
  rust/otel-arrow-rust/src/otap/transform/transport_optimize.rs
Due: otel-arrow-rust

otap: rename AttributeProcessor -> AttributesProcessor; rename config -> Config; align rename fields to source_key/destination_key; register with new URN; remove old module
  rust/otap-dataflow/crates/otap/src/attribute_processor.rs
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
  rust/otap-dataflow/crates/otap/src/lib.rs
Due: otap-dataflow

otap: add missing copyright header to attributes_processor.rs (fix CI header check)
  rust/otap-dataflow/crates/otap/src/attributes_processor.rs
Due: otap-dataflow

fix spelling error mathmatical -> mathematical
  rust/experimental/query_engine/engine-recordset/src/scalars/math_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_mathematical_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_primitive_expressions.rs
Due: none

Code review.
  rust/experimental/query_engine/expressions/src/primitives/date_utils.rs
Due: none
