Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

[query-engine] More math: + - * / (#905)
  rust/experimental/query_engine/engine-recordset/src/scalars/math_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
Due: none

[otap-dataflow] Use const methods when possible (#904)
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/otap/src/perf_exporter/config.rs
  rust/otap-dataflow/crates/otlp/src/compression.rs
  rust/otap-dataflow/crates/otlp/src/debug_exporter/config.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/config.rs
  rust/otap-dataflow/crates/pdata-views/src/views/metrics.rs
Due: otap-dataflow

Out port support (#901)
  rust/otap-dataflow/benchmarks/benches/retry_processor/main.rs
  rust/otap-dataflow/crates/config/src/node.rs
  rust/otap-dataflow/crates/config/src/pipeline.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/processor.rs
  rust/otap-dataflow/crates/engine/src/receiver.rs
  rust/otap-dataflow/crates/engine/src/retry_processor.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
Due: otap-dataflow

Update pdata 1.37.0; remove hard-coded JSON syntax test (#890)
  go/go.mod
  go/go.sum
  go/pkg/otel/assert/equiv_test.go
Due: none

[query-engine] Implement Contains logical expression for query engine with corrected KQL in operator syntax (#859)
  rust/experimental/query_engine/engine-recordset/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/logical_expressions.rs
Due: none

[PerfTest] Add sql based report strategy (#892)
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/execution/pipeline_perf_loadgen.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/docker/network.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/process/ensure_process.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/__init__.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/sql_report.py
  tools/pipeline_perf_test/orchestrator/requirements.txt
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/hooks/reporting/test_sql_report.py
Due: none

[perf] [hot-path] Optimize send_message methods on EffectHandler (#918)
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/local/receiver.rs
  rust/otap-dataflow/crates/engine/src/shared/processor.rs
  rust/otap-dataflow/crates/engine/src/shared/receiver.rs
Due: otap-dataflow

Fix pipeline perf test to run on bare metal runner (#698)
  .github/workflows/pipeline-perf-test.yml
Due: none

[query-engine] Introduce temporal scalars and now expression (#899)
  rust/experimental/query_engine/engine-recordset/src/lib.rs
  rust/experimental/query_engine/engine-recordset/src/logical_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/mod.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/temporal_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/summary/summary_data_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/reduce_map_transform_expression.rs
  rust/experimental/query_engine/engine-recordset/src/transform/transform_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/value_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/temporal_scalar_expression.rs
Due: none

fix: OTAP decoding handle plain encoded attribute IDs (#913)
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otel-arrow-rust/src/encode/record/attributes.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
  rust/otel-arrow-rust/src/otlp/attributes/store.rs
  rust/otel-arrow-rust/src/schema.rs
Due: otap-dataflow, otel-arrow-rust

[query-engine] String slice improvements (#874)
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none

Implement KQL case() function in kql-parser (#850)
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

Add `signal_type` helper method on `OtapPdata` (#862)
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

Use the new `OtapPdata` type in the OTAP implementation of the Fake Signal Receiver (#839)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/fake_data_generator.rs
  rust/otap-dataflow/crates/otlp/Cargo.toml
Due: otap-dataflow

[PerfTest] Support templating in framework element configs (#921)
  tools/pipeline_perf_test/orchestrator/lib/core/framework/element.py
  tools/pipeline_perf_test/orchestrator/lib/impl/strategies/hooks/reporting/sql_report.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/framework_element_config.py
  tools/pipeline_perf_test/orchestrator/lib/runner/schema/template_utils.py
  tools/pipeline_perf_test/orchestrator/tests/impl/strategies/hooks/reporting/test_sql_report.py
Due: none

fix: Stack overflow when getting child types for multivariate metrics (#894)
  rust/otel-arrow-rust/src/otap.rs
Due: otel-arrow-rust

add rust-bench workflow to run it when a PR is labeled with cargobench (#860)
  .github/workflows/rust-bench.yml
  .github/workflows/rust-ci.yml
  CONTRIBUTING.md
Due: none

[query-engine] More math: mod & bin (#922)
  rust/experimental/query_engine/engine-recordset/src/scalars/math_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
Due: none

[query-engine] Support selecting array items using range (#857)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/proto/common.rs
  rust/experimental/query_engine/engine-recordset/src/primitives/value_storage.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/array_value.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/array_scalar_expression.rs
Due: none

Use optimized dictionary builder methods when upgrading keys (#900)
  rust/otap-dataflow/Cargo.toml
  rust/otel-arrow-rust/Cargo.toml
  rust/otel-arrow-rust/src/encode/record/array/binary.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/array/fixed_size_binary.rs
  rust/otel-arrow-rust/src/encode/record/array/primitive.rs
  rust/otel-arrow-rust/src/encode/record/array/string.rs
Due: otap-dataflow, otel-arrow-rust

Make prepare-release touch another needed version reference (#885)
  .github/workflows/prepare-release.yml
Due: none

[otap-dataflow][syslog] Add Syslog to Arrow parsing (#861)
  rust/otap-dataflow/crates/syslog_cef_receiver/Cargo.toml
  rust/otap-dataflow/crates/syslog_cef_receiver/src/arrow_records_encoder.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/lib.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/cef.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/mod.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/parsed_message.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc3164.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/rfc5424.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/syslog_cef_receiver.rs
Due: otap-dataflow

[otap-dataflow] Adopt the resolved registry schema to allow for more realistic signals (#765)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otlp/Cargo.toml
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/README.md
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/attributes.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/config.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_data.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/fake_signal.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/mod.rs
  rust/otap-dataflow/crates/otlp/src/fake_signal_receiver/receiver.rs
  rust/otap-dataflow/deny.toml
Due: otap-dataflow

Update various Go and Collector dependencies (#866)
  CHANGELOG.md
  Makefile
  collector/cmd/otelarrowcol/components.go
  collector/cmd/otelarrowcol/go.mod
  collector/cmd/otelarrowcol/go.sum
  collector/cmd/otelarrowcol/main.go
  collector/otelarrowcol-build.yaml
  go/go.mod
  go/go.sum
Due: none

[query-engine] Refactor StringReplace into text group. (#935)
  rust/experimental/query_engine/engine-recordset/src/scalars/mod.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/text_scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/text_scalar_expression.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

implement kql tostring function expression (#848)
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
  rust/experimental/query_engine/parser-abstractions/src/test_helpers.rs
Due: none

Fix clippy errors in otel-arrow-rust and otap-dataflow (#896)
  rust/otap-dataflow/crates/otlp/src/debug_exporter/normal_otlp_marshaler.rs
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/otap/schema.rs
  rust/otel-arrow-rust/src/validation/error.rs
Due: otap-dataflow, otel-arrow-rust

fix: OTAP decoding handles plain encoded log IDs (#898)
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/syslog_cef_receiver/src/arrow_records_encoder.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
  rust/otel-arrow-rust/src/otlp/common.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/schema.rs
  rust/otel-arrow-rust/src/validation/testdata.rs
Due: otap-dataflow, otel-arrow-rust

[query-engine] Implement slice expression (#868)
  rust/experimental/query_engine/engine-recordset/src/primitives/resolved_value.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none

[query-engine] Value helper tweaks (#873)
  rust/experimental/query_engine/engine-recordset/src/logical_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none

fix syslog test failing for timestamp check in ET Timezone (#915)
  rust/otap-dataflow/crates/syslog_cef_receiver/src/arrow_records_encoder.rs
Due: otap-dataflow

[perf] Optimize CEF parsing (#936)
  rust/otap-dataflow/crates/syslog_cef_receiver/src/parser/cef.rs
Due: otap-dataflow

[query-engine] ParseJson scalar (#875)
  rust/experimental/query_engine/Cargo.toml
  rust/experimental/query_engine/engine-recordset/Cargo.toml
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/scalar_expressions.rs
  rust/experimental/query_engine/expressions/Cargo.toml
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
Due: none

[query-engine] Add parsing for KQL summarize expression (#902)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/src/bridge.rs
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/otlp_kql_recordset.rs
  rust/experimental/query_engine/kql-parser/src/aggregate_expressions.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/lib.rs
  rust/experimental/query_engine/kql-parser/src/tabular_expressions.rs
Due: none

[query-engine] Support regex parse expression (#906)
  rust/experimental/query_engine/engine-recordset/src/primitives/owned_value.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/mod.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/parse_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/expression_error.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/parse_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/scalars/statics/static_scalar_expressions.rs
Due: none

[otap-dataflow] Add SignalTypeRouter under otap crate (#916)
  rust/otap-dataflow/crates/otap/src/lib.rs
  rust/otap-dataflow/crates/otap/src/signal_type_router.rs
Due: otap-dataflow

Add KQL implementation for rest of to* convert functions (#864)
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_conversion_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

[query-engine] Introduce math scalars with ceiling and floor expressions (#903)
  rust/experimental/query_engine/engine-recordset/src/scalars/math_scalar_expressions.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/mod.rs
  rust/experimental/query_engine/engine-recordset/src/scalars/scalar_expressions.rs
  rust/experimental/query_engine/expressions/src/primitives/value.rs
  rust/experimental/query_engine/expressions/src/scalars/convert_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/math_scalar_expression.rs
  rust/experimental/query_engine/expressions/src/scalars/mod.rs
  rust/experimental/query_engine/expressions/src/scalars/scalar_expressions.rs
Due: none

[query-engine] Adds support for KQL coalesce expression (#957)
  rust/experimental/query_engine/engine-recordset-otlp-bridge/tests/otlp_kql_recordset.rs
  rust/experimental/query_engine/kql-parser/src/kql.pest
  rust/experimental/query_engine/kql-parser/src/scalar_conditional_function_expressions.rs
  rust/experimental/query_engine/kql-parser/src/scalar_expression.rs
Due: none

Fix proto formatting issues (#943)
  rust/otel-arrow-rust/src/proto/mod.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.collector.trace.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.common.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.experimental.arrow.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.logs.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.metrics.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.resource.v1.rs
  rust/otel-arrow-rust/src/proto/opentelemetry.proto.trace.v1.rs
Due: otel-arrow-rust
