Repository open-telemetry/otel-arrow: changes, and which Codecov flags are due for each by the changed paths.
All: otap-dataflow, beaubourg, otel-arrow-rust, query_abstraction, syslog_cef_receivers

codecov.yaml:

comment:
  layout: "header, diff, flags, components"

component_management:
  individual_components:
    - component_id: "otap_dataflow"
      name: "otap-dataflow"
      paths:
        - "rust/otap-dataflow/"
    - component_id: "beaubourg"
      name: "beaubourg"
      paths:
        - "rust/beaubourg/"
    - component_id: "otel_arrow_rust"
      name: "otel-arrow-rust"
      paths:
        - "rust/otel-arrow-rust/"
    - component_id: "query_abstraction"
      name: "query_abstraction"
      paths:
        - "rust/experimental/query_abstraction/"
    - component_id: "syslog_cef_receivers"
      name: "syslog_cef_receivers"
      paths:
        - "rust/experimental/syslog-cef-receivers/"

add Benchmark (customSmallerIsBetter) benchmark result for 9085affca27a927e83ac44f23aa98ec775cf2219
  docs/benchmarks/pipeline-perf/data.js
Due: none

make Rc pointer clone clear, restore comment, restore _ = tokio syntax
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

remove Some(handle), just use the variable as is
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver.rs
Due: otap-dataflow

clean up wording and switched from a debugoutput struct to a trait and impl the trait for DebugOutputWriter and DebugOutputPorts
  rust/otap-dataflow/configs/fake-debug-out-port.yaml
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/debug_processor/output.rs
Due: otap-dataflow

parquet_exporter: add telemetry (pdata+io), periodic timer, writer stats; tests
  rust/otap-dataflow/crates/engine/src/pipeline_ctrl.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/metrics.rs
  rust/otap-dataflow/crates/otap/src/parquet_exporter/writer.rs
Due: otap-dataflow

Updated the debugoutput trait methods to accept the views object instead of a string
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/output.rs
Due: otap-dataflow

Code changes
  rust/otel-arrow-rust/src/otap/schema.rs
Due: otel-arrow-rust

[otap-dataflow] Allow debug processor to output via a secondary outport (#1171)
  rust/otap-dataflow/configs/fake-debug-out-port.yaml
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/README.md
  rust/otap-dataflow/crates/otap/src/debug_processor/config.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/output.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for 55aaa48e214407da73f940f6ca29357a3bd876fa
  docs/benchmarks/pipeline-perf/data.js
Due: none

Fix test
  rust/otel-arrow-rust/src/otap/schema.rs
Due: otel-arrow-rust

Code changes
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

Update Syslog CEF parser
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/cef.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/mod.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/rfc3164.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/rfc5424.rs
Due: otap-dataflow

Fix test
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/rfc3164.rs
Due: otap-dataflow

PR feedback to handle exporter shutting down on failed requests
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otap-dataflow/crates/telemetry/src/metrics.rs
  rust/otap-dataflow/crates/telemetry/src/reporter.rs
  rust/otel-arrow-rust/src/decode/decoder.rs
  rust/otel-arrow-rust/src/otlp.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/otlp/metrics.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
Due: otap-dataflow, otel-arrow-rust

fix failing tests
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/profile.json.gz
  rust/otap-dataflow/views-
Due: otap-dataflow

remove deleted files
  rust/otap-dataflow/profile.json.gz
  rust/otap-dataflow/views-
Due: otap-dataflow

Fix test flake
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

builds with new acknack stubbed
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/engine/Cargo.toml
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/exporter.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/message.rs
  rust/otap-dataflow/crates/engine/src/node.rs
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

Retry processor
  rust/otap-dataflow/crates/otap/src/retry_processor.rs
Due: otap-dataflow

comments
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
Due: otap-dataflow

[otap-df-otap] Minor refactoring in OTAP Exporter (#1222)
  rust/otap-dataflow/crates/otap/src/otap_exporter.rs
Due: otap-dataflow

[otel-arrow-rust] Micro optimizations and minor fixes to SchemaBuilder (#1221)
  rust/otel-arrow-rust/src/otap/schema.rs
Due: otel-arrow-rust

[perf] optimize allocations and UTF-8 decoding of strings for otlp_bytes -> views -> OTAP (#1203)
  rust/otap-dataflow/Cargo.toml
  rust/otap-dataflow/crates/otap/Cargo.toml
  rust/otap-dataflow/crates/otap/src/encoder.rs
  rust/otap-dataflow/crates/otap/src/encoder/cbor.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/parsed_message.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/bytes/traces.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/common.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/logs.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/metrics.rs
  rust/otap-dataflow/crates/pdata-views/src/otlp/proto/trace.rs
  rust/otap-dataflow/crates/pdata-views/src/views/common.rs
  rust/otel-arrow-rust/src/encode/record/array.rs
  rust/otel-arrow-rust/src/encode/record/array/dictionary.rs
  rust/otel-arrow-rust/src/encode/record/attributes.rs
  rust/otel-arrow-rust/src/encode/record/logs.rs
  rust/otel-arrow-rust/src/encode/record/metrics.rs
  rust/otel-arrow-rust/src/encode/record/traces.rs
Due: otap-dataflow, otel-arrow-rust

handle grpc server not ready in OTLP exporter (#1211)
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/arrow_records_encoder.rs
  rust/otap-dataflow/crates/telemetry/src/metrics.rs
  rust/otap-dataflow/crates/telemetry/src/reporter.rs
  rust/otel-arrow-rust/src/decode/decoder.rs
  rust/otel-arrow-rust/src/otlp.rs
  rust/otel-arrow-rust/src/otlp/logs.rs
  rust/otel-arrow-rust/src/otlp/metrics.rs
  rust/otel-arrow-rust/src/otlp/traces.rs
Due: otap-dataflow, otel-arrow-rust

[perf][otel-arrow-rust] Optimize `produce_bar` method used in OTAP Exporter (#1217)
  rust/otel-arrow-rust/src/encode/producer.rs
Due: otel-arrow-rust

Add noop_exporter support
  rust/otap-dataflow/crates/engine/src/control.rs
  rust/otap-dataflow/crates/engine/src/effect_handler.rs
  rust/otap-dataflow/crates/engine/src/error.rs
  rust/otap-dataflow/crates/engine/src/lib.rs
  rust/otap-dataflow/crates/engine/src/local/exporter.rs
  rust/otap-dataflow/crates/engine/src/local/processor.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/engine/src/testing/mod.rs
  rust/otap-dataflow/crates/otap/src/noop_exporter.rs
  rust/otap-dataflow/crates/otap/src/pdata.rs
Due: otap-dataflow

revert that
  rust/otap-dataflow/crates/engine/src/testing/mod.rs
Due: otap-dataflow

fix cargo build errors
  rust/otap-dataflow/configs/fake-debug-out-port.yaml
  rust/otap-dataflow/crates/otap/src/debug_processor.rs
  rust/otap-dataflow/crates/otap/src/debug_processor/output.rs
Due: otap-dataflow

add Benchmark (customSmallerIsBetter) benchmark result for ced10f89aa98d68bae681ffb16060b3ed176705f
  docs/benchmarks/pipeline-perf/data.js
Due: none

Define/Implement pipeline phases and transition logic
  rust/otap-dataflow/crates/admin/src/pipeline.rs
  rust/otap-dataflow/crates/admin/src/pipeline_group.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/engine/src/runtime_pipeline.rs
  rust/otap-dataflow/crates/state/src/config.rs
  rust/otap-dataflow/crates/state/src/core_status.rs
  rust/otap-dataflow/crates/state/src/error.rs
  rust/otap-dataflow/crates/state/src/event.rs
  rust/otap-dataflow/crates/state/src/lib.rs
  rust/otap-dataflow/crates/state/src/phase.rs
  rust/otap-dataflow/crates/state/src/pipeline_status.rs
  rust/otap-dataflow/crates/state/src/reporter.rs
  rust/otap-dataflow/crates/state/src/store.rs
Due: otap-dataflow

Code cleanup
  rust/otap-dataflow/crates/state/src/store.rs
Due: otap-dataflow

Infer aggregated pipeline phase from all pipeline runtime statuses
  rust/otap-dataflow/crates/admin/src/pipeline_group.rs
  rust/otap-dataflow/crates/controller/src/lib.rs
  rust/otap-dataflow/crates/state/Cargo.toml
  rust/otap-dataflow/crates/state/src/core_status.rs
  rust/otap-dataflow/crates/state/src/event.rs
  rust/otap-dataflow/crates/state/src/lib.rs
  rust/otap-dataflow/crates/state/src/phase.rs
  rust/otap-dataflow/crates/state/src/pipeline_rt_status.rs
  rust/otap-dataflow/crates/state/src/pipeline_status.rs
  rust/otap-dataflow/crates/state/src/store.rs
Due: otap-dataflow

Improve the observed state system
  rust/otap-dataflow/crates/admin/src/pipeline.rs
  rust/otap-dataflow/crates/admin/src/pipeline_group.rs
  rust/otap-dataflow/crates/config/src/health.rs
  rust/otap-dataflow/crates/config/src/lib.rs
  rust/otap-dataflow/crates/state/README.md
  rust/otap-dataflow/crates/state/assets/engine-observability.svg
  rust/otap-dataflow/crates/state/assets/hierarchical-obv-state.svg
  rust/otap-dataflow/crates/state/assets/pipeline-runtime-state-machine.svg
  rust/otap-dataflow/crates/state/src/phase.rs
  rust/otap-dataflow/crates/state/src/pipeline_status.rs
  rust/otap-dataflow/crates/state/src/store.rs
Due: otap-dataflow

fix otlp exporter test flake
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

try again fail
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

try to run the flakey test 10 times
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

fix test maybe
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

final edit before removing test retry logic
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

remove retry loop
  rust/otap-dataflow/crates/otap/src/otlp_exporter.rs
Due: otap-dataflow

[otap-df-otap] Update Syslog CEF parser (#1224)
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/cef.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/mod.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/rfc3164.rs
  rust/otap-dataflow/crates/otap/src/syslog_cef_receiver/parser/rfc5424.rs
Due: otap-dataflow
